In [9]:
import pandas as pd

df = pd.read_csv('../data/Donnees_Nettoyees.csv', index_col=0)

print(df.shape)

/tmp/ipykernel_10563/3900727045.py:3: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/Donnees_Nettoyees.csv', index_col=0)

(355205, 23)

In [10]:
df['Valeur_fonciere'] = df['Valeur_fonciere'].replace(',', '.').astype(float)

df['Code_postal'] = df.groupby('Commune')['Code_postal'].transform(lambda x: x.fillna(method='ffill').fillna(method='bfill'))  # match les code postal vide avec les communes
df['Code_postal'] = df['Code_postal'].astype(int)

df['No_voie'] = df['No_voie'].apply(lambda x: str(int(x)) if pd.notnull(x) else '').astype(str)

#df['Code_type_local'] = pd.to_numeric(df['Code_type_local'], errors='coerce', downcast='integer')
df['Code_type_local'] = df['Code_type_local'].apply(lambda x: int(
    x) if pd.notnull(x) and isinstance(x, (float, int)) else x)


df['adresse'] = df['No_voie'] + ' ' + df['Type_de_voie'].astype(str) + ' ' + \
    df['Code_voie'].astype(str) + ' ' + df['Voie'].astype(str) + ' ' + \
    df['Code_postal'].astype(str) + ' ' + df['Commune']

In [11]:
df.head()

,No_disposition,Date_mutation,Nature_mutation,Valeur_fonciere,No_voie,Type_de_voie,Code_voie,Voie,Code_postal,Commune,...,No_plan,1er_lot,Nombre_de_lots,Code_type_local,Type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Surface_terrain,adresse
2478286,1,30/11/2018,Vente en l'état futur d'achèvement,170000.0,,AV,4440,JEAN RONDEAUX,76100,ROUEN,...,441,26.0,1,3.0,Dépendance,0.0,0.0,NaN,NaN,AV 4440 JEAN RONDEAUX 76100 ROUEN
1982241,1,05/07/2018,Vente,171500.0,,RUE,1160,DE L UNION,59590,RAISMES,...,165,NaN,0,NaN,NaN,NaN,NaN,S,788.0,RUE 1160 DE L UNION 59590 RAISMES
1156039,1,26/07/2018,Vente,40500.0,8,AV,5350,MARECHAL JOFFRE,34500,BEZIERS,...,493,2.0,1,2.0,Appartement,54.0,2.0,NaN,NaN,8 AV 5350 MARECHAL JOFFRE 34500 BEZIERS
801319,1,05/10/2018,Vente,66040.0,1,CHE,0455,DE KERNEVEZ VIAN,29180,PLOGONNEC,...,248,NaN,0,1.0,Maison,90.0,4.0,S,511.0,1 CHE 0455 DE KERNEVEZ VIAN 29180 PLOGONNEC
852575,1,24/07/2018,Vente,75000.0,1,RES,A007,DE TOURISME ALBA ROSSA,20140,SERRA-DI-FERRO,...,532,52.0,1,4.0,Local industriel. commercial ou assimilé,34.0,0.0,NaN,NaN,1 RES A007 DE TOURISME ALBA ROSSA 20140 SERRA-...

In [12]:
listeColonne = ["Code_voie", "No_voie","Voie", "Type_de_voie",
                "1er_lot", "No_plan", "Code_departement", "Type_local", "Code_commune","Section"]
df = df.drop(listeColonne, axis=1) 
df.head()

,No_disposition,Date_mutation,Nature_mutation,Valeur_fonciere,Code_postal,Commune,Nombre_de_lots,Code_type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Surface_terrain,adresse
2478286,1,30/11/2018,Vente en l'état futur d'achèvement,170000.0,76100,ROUEN,1,3.0,0.0,0.0,NaN,NaN,AV 4440 JEAN RONDEAUX 76100 ROUEN
1982241,1,05/07/2018,Vente,171500.0,59590,RAISMES,0,NaN,NaN,NaN,S,788.0,RUE 1160 DE L UNION 59590 RAISMES
1156039,1,26/07/2018,Vente,40500.0,34500,BEZIERS,1,2.0,54.0,2.0,NaN,NaN,8 AV 5350 MARECHAL JOFFRE 34500 BEZIERS
801319,1,05/10/2018,Vente,66040.0,29180,PLOGONNEC,0,1.0,90.0,4.0,S,511.0,1 CHE 0455 DE KERNEVEZ VIAN 29180 PLOGONNEC
852575,1,24/07/2018,Vente,75000.0,20140,SERRA-DI-FERRO,1,4.0,34.0,0.0,NaN,NaN,1 RES A007 DE TOURISME ALBA ROSSA 20140 SERRA-...

In [13]:
geo = pd.read_csv('../data/communes-departement-region.csv')
geo.head()

,code_commune_INSEE,nom_commune_postal,code_postal,libelle_acheminement,ligne_5,latitude,longitude,code_commune,article,nom_commune,nom_commune_complet,code_departement,nom_departement,code_region,nom_region
0,1001,L ABERGEMENT CLEMENCIAT,1400,L ABERGEMENT CLEMENCIAT,NaN,46.153426,4.926114,1.0,L',Abergement-Clémenciat,L'Abergement-Clémenciat,1,Ain,84.0,Auvergne-Rhône-Alpes
1,1002,L ABERGEMENT DE VAREY,1640,L ABERGEMENT DE VAREY,NaN,46.009188,5.428017,2.0,L',Abergement-de-Varey,L'Abergement-de-Varey,1,Ain,84.0,Auvergne-Rhône-Alpes
2,1004,AMBERIEU EN BUGEY,1500,AMBERIEU EN BUGEY,NaN,45.960848,5.372926,4.0,NaN,Ambérieu-en-Bugey,Ambérieu-en-Bugey,1,Ain,84.0,Auvergne-Rhône-Alpes
3,1005,AMBERIEUX EN DOMBES,1330,AMBERIEUX EN DOMBES,NaN,45.996180,4.912273,5.0,NaN,Ambérieux-en-Dombes,Ambérieux-en-Dombes,1,Ain,84.0,Auvergne-Rhône-Alpes
4,1006,AMBLEON,1300,AMBLEON,NaN,45.749499,5.594320,6.0,NaN,Ambléon,Ambléon,1,Ain,84.0,Auvergne-Rhône-Alpes

In [14]:
geo.rename(columns={'code_postal': 'Code_postal'}, inplace=True)
df = pd.merge(
    df, geo[['Code_postal', 'longitude', 'latitude']], on='Code_postal', how='left')

In [15]:
df.head()

,No_disposition,Date_mutation,Nature_mutation,Valeur_fonciere,Code_postal,Commune,Nombre_de_lots,Code_type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Surface_terrain,adresse,longitude,latitude
0,1,30/11/2018,Vente en l'état futur d'achèvement,170000.0,76100,ROUEN,1,3.0,0.0,0.0,NaN,NaN,AV 4440 JEAN RONDEAUX 76100 ROUEN,1.092568,49.441346
1,1,05/07/2018,Vente,171500.0,59590,RAISMES,0,NaN,NaN,NaN,S,788.0,RUE 1160 DE L UNION 59590 RAISMES,3.489093,50.410089
2,1,26/07/2018,Vente,40500.0,34500,BEZIERS,1,2.0,54.0,2.0,NaN,NaN,8 AV 5350 MARECHAL JOFFRE 34500 BEZIERS,3.230768,43.347588
3,1,26/07/2018,Vente,40500.0,34500,BEZIERS,1,2.0,54.0,2.0,NaN,NaN,8 AV 5350 MARECHAL JOFFRE 34500 BEZIERS,3.289585,43.317249
4,1,05/10/2018,Vente,66040.0,29180,PLOGONNEC,0,1.0,90.0,4.0,S,511.0,1 CHE 0455 DE KERNEVEZ VIAN 29180 PLOGONNEC,-4.195834,48.040977

In [16]:
df.to_csv('../data/donnees_nettoyees_avec_coord.csv')