In [150]:
import os
#os.chdir('/Users/josephpelham/Desktop/SISE/Python/Donnees')
#os.chdir('/home/nathan/fac/m2/s1/python/td1')


# !! changer les chemins relatifs !!

# TODO :

# NB : faire un modele de régression pour chaque type de local

In [151]:
## Import Data ## 
import pandas as pd
import random

# ! options !
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:.2f}'.format)

chemin_fichier_2018 = '/home/nathan/fac/m2/s1/python/td1/valeursfoncieres-2018.txt'
chemin_fichier_2019 = '/home/nathan/fac/m2/s1/python/td1/valeursfoncieres-2019.txt'
chemin_fichier_2020 = '/home/nathan/fac/m2/s1/python/td1/valeursfoncieres-2020.txt'
chemin_fichier_2021 = '/home/nathan/fac/m2/s1/python/td1/valeursfoncieres-2021.txt'

chemin_fichier_2018 = '../valeursfoncieres-2018.txt'
chemin_fichier_2019 = '../valeursfoncieres-2019.txt'
chemin_fichier_2020 = '../valeursfoncieres-2020.txt'
chemin_fichier_2021 = '../valeursfoncieres-2021.txt'

#nombre_total_lignes = 700000
nombre_total_lignes = 300000

# Pour prendre n individus aléatoire par fichier mais très long car il faut importer tout les fichiers en entier
indices_aleatoires_2018 = random.sample(
    range(1, nombre_total_lignes + 1), nombre_total_lignes)
indices_aleatoires_2019 = random.sample(
    range(1, nombre_total_lignes + 1), nombre_total_lignes)
indices_aleatoires_2020 = random.sample(
    range(1, nombre_total_lignes + 1), nombre_total_lignes)
indices_aleatoires_2021 = random.sample(
    range(1, nombre_total_lignes + 1), nombre_total_lignes)


#df_18 = pd.read_csv(chemin_fichier_2018, delimiter='|',skiprows=lambda x: x not in indices_aleatoires_2018)
#df_19 = pd.read_csv(chemin_fichier_2019, delimiter='|',skiprows=lambda x: x not in indices_aleatoires_2019)
#df_20 = pd.read_csv(chemin_fichier_2020, delimiter='|',skiprows=lambda x: x not in indices_aleatoires_2020)
#df_21 = pd.read_csv(chemin_fichier_2021, delimiter='|',skiprows=lambda x: x not in indices_aleatoires_2021)


#df_18 = pd.read_csv(chemin_fichier_2018, delimiter='|',nrows=nombre_total_lignes)
#df_19 = pd.read_csv(chemin_fichier_2019, delimiter='|',nrows=nombre_total_lignes)
#df_20 = pd.read_csv(chemin_fichier_2020, delimiter='|',nrows=nombre_total_lignes)
#df_21 = pd.read_csv(chemin_fichier_2021, delimiter='|',nrows=nombre_total_lignes)

df_18 = pd.read_csv(chemin_fichier_2018, delimiter='|')
df_19 = pd.read_csv(chemin_fichier_2019, delimiter='|')
df_20 = pd.read_csv(chemin_fichier_2020, delimiter='|')
df_21 = pd.read_csv(chemin_fichier_2021, delimiter='|')

C:\Users\nagrimault\AppData\Local\Temp\ipykernel_1744\3174092588.py:44: DtypeWarning: Columns (14,18,23,24,26,28,29,31,32,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df_18 = pd.read_csv(chemin_fichier_2018, delimiter='|')
C:\Users\nagrimault\AppData\Local\Temp\ipykernel_1744\3174092588.py:45: DtypeWarning: Columns (18,23,24,26,28,31,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df_19 = pd.read_csv(chemin_fichier_2019, delimiter='|')
C:\Users\nagrimault\AppData\Local\Temp\ipykernel_1744\3174092588.py:46: DtypeWarning: Columns (18,23,24,26,28,31,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df_20 = pd.read_csv(chemin_fichier_2020, delimiter='|')
C:\Users\nagrimault\AppData\Local\Temp\ipykernel_1744\3174092588.py:47: DtypeWarning: Columns (18,23,24,26,28,29,30,31,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df_21 = pd.read_csv(chemin_fichier_2021, delimiter='|')

In [152]:
dataframes = [df_18, df_19, df_20,df_21] 

# Remplacer les espaces par des _ dans colonnes
for df in dataframes:
    df.columns = df.columns.str.replace(' ', '_')

dataframes[0].head()

,Identifiant_de_document,Reference_document,1_Articles_CGI,2_Articles_CGI,3_Articles_CGI,4_Articles_CGI,5_Articles_CGI,No_disposition,Date_mutation,Nature_mutation,Valeur_fonciere,No_voie,B/T/Q,Type_de_voie,Code_voie,Voie,Code_postal,Commune,Code_departement,Code_commune,Prefixe_de_section,Section,No_plan,No_Volume,1er_lot,Surface_Carrez_du_1er_lot,2eme_lot,Surface_Carrez_du_2eme_lot,3eme_lot,Surface_Carrez_du_3eme_lot,4eme_lot,Surface_Carrez_du_4eme_lot,5eme_lot,Surface_Carrez_du_5eme_lot,Nombre_de_lots,Code_type_local,Type_local,Identifiant_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Nature_culture_speciale,Surface_terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2018,Vente,"109000,00",13.00,NaN,RUE,1660,GEN LOGEROT,1000.00,BOURG-EN-BRESSE,1,53,NaN,AN,73,NaN,1,NaN,31.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2.00,Appartement,NaN,73.00,4.00,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2018,Vente,"109000,00",13.00,NaN,RUE,1660,GEN LOGEROT,1000.00,BOURG-EN-BRESSE,1,53,NaN,AN,73,NaN,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3.00,Dépendance,NaN,0.00,0.00,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2018,Vente,"239300,00",4.00,NaN,RUE,0025,DE LA BARMETTE,1250.00,NIVIGNE ET SURAN,1,95,NaN,AH,186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.00,Maison,NaN,163.00,4.00,S,NaN,949.00
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2018,Vente,"239300,00",4.00,NaN,RUE,0025,DE LA BARMETTE,1250.00,NIVIGNE ET SURAN,1,95,NaN,AH,186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.00,Maison,NaN,163.00,4.00,AG,JARD,420.00
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2018,Vente,"239300,00",4.00,NaN,RUE,0025,DE LA BARMETTE,1250.00,NIVIGNE ET SURAN,1,95,NaN,AH,186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.00,Maison,NaN,51.00,2.00,AG,JARD,420.00

In [153]:
dataframes[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3335292 entries, 0 to 3335291
Data columns (total 43 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Identifiant_de_document     float64
 1   Reference_document          float64
 2   1_Articles_CGI              float64
 3   2_Articles_CGI              float64
 4   3_Articles_CGI              float64
 5   4_Articles_CGI              float64
 6   5_Articles_CGI              float64
 7   No_disposition              int64
 8   Date_mutation               object
 9   Nature_mutation             object
 10  Valeur_fonciere             object
 11  No_voie                     float64
 12  B/T/Q                       object
 13  Type_de_voie                object
 14  Code_voie                   object
 15  Voie                        object
 16  Code_postal                 float64
 17  Commune                     object
 18  Code_departement            object
 19  Code_commune                int64
 20  Prefixe_de_section          float64
 21  Section                     object
 22  No_plan                     int64
 23  No_Volume                   object
 24  1er_lot                     object
 25  Surface_Carrez_du_1er_lot   object
 26  2eme_lot                    object
 27  Surface_Carrez_du_2eme_lot  object
 28  3eme_lot                    object
 29  Surface_Carrez_du_3eme_lot  object
 30  4eme_lot                    float64
 31  Surface_Carrez_du_4eme_lot  object
 32  5eme_lot                    object
 33  Surface_Carrez_du_5eme_lot  object
 34  Nombre_de_lots              int64
 35  Code_type_local             float64
 36  Type_local                  object
 37  Identifiant_local           float64
 38  Surface_reelle_bati         float64
 39  Nombre_pieces_principales   float64
 40  Nature_culture              object
 41  Nature_culture_speciale     object
 42  Surface_terrain             float64
dtypes: float64(16), int64(4), object(23)
memory usage: 1.1+ GB

In [154]:
pourcentages_nan = (dataframes[0].isna().sum() / len(dataframes[0])) * 100
# Affichez les pourcentages de NaN pour chaque colonne
print(pourcentages_nan)

Identifiant_de_document      100.00
Reference_document           100.00
1_Articles_CGI               100.00
2_Articles_CGI               100.00
3_Articles_CGI               100.00
4_Articles_CGI               100.00
5_Articles_CGI               100.00
No_disposition                 0.00
Date_mutation                  0.00
Nature_mutation                0.00
Valeur_fonciere                0.96
No_voie                       42.02
B/T/Q                         95.66
Type_de_voie                  43.36
Code_voie                      0.91
Voie                           0.91
Code_postal                    0.92
Commune                        0.00
Code_departement               0.00
Code_commune                   0.00
Prefixe_de_section            95.65
Section                        0.00
No_plan                        0.00
No_Volume                     99.70
1er_lot                       68.86
Surface_Carrez_du_1er_lot     91.32
2eme_lot                      93.45
Surface_Carrez_du_2eme_lot    97.87
3eme_lot                      98.90
Surface_Carrez_du_3eme_lot    99.79
4eme_lot                      99.62
Surface_Carrez_du_4eme_lot    99.94
5eme_lot                      99.82
Surface_Carrez_du_5eme_lot    99.98
Nombre_de_lots                 0.00
Code_type_local               45.05
Type_local                    45.05
Identifiant_local            100.00
Surface_reelle_bati           45.13
Nombre_pieces_principales     45.13
Nature_culture                31.61
Nature_culture_speciale       95.38
Surface_terrain               31.61
dtype: float64

In [155]:
# Remove empty columns 
columns_to_remove = ["Identifiant_de_document", "Reference_document", "1_Articles_CGI", "2_Articles_CGI", "3_Articles_CGI", "4_Articles_CGI", "5_Articles_CGI",
                     "B/T/Q", "Prefixe_de_section", "No_Volume", "Type_local", "Identifiant_local", "Nature_culture_speciale",
                     "1er_lot", "Surface_Carrez_du_1er_lot", "2eme_lot", "Surface_Carrez_du_2eme_lot", "3eme_lot", "Surface_Carrez_du_3eme_lot", "4eme_lot",
                     "Surface_Carrez_du_4eme_lot", "5eme_lot", "Surface_Carrez_du_5eme_lot"]

for i in range(len(dataframes)):
    # Créer une copie modifiée du DataFrame
    df_modified = dataframes[i].copy()

    df_modified = df_modified.drop(columns_to_remove, axis=1)

    df_modified = df_modified[df_modified['Nature_mutation'] == "Vente"] # que les ventes
    df_modified = df_modified.drop(columns=['Nature_mutation'])
    
    # sauvegarde
    dataframes[i] = df_modified

    

pourcentages_nan = (dataframes[0].isna().sum() / len(dataframes[0])) * 100
# Affichez les pourcentages de NaN pour chaque colonne
print(pourcentages_nan)

No_disposition               0.00
Date_mutation                0.00
Valeur_fonciere              0.96
No_voie                     40.84
Type_de_voie                43.57
Code_voie                    0.05
Voie                         0.05
Code_postal                  0.06
Commune                      0.00
Code_departement             0.00
Code_commune                 0.00
Section                      0.00
No_plan                      0.00
Nombre_de_lots               0.00
Code_type_local             43.70
Surface_reelle_bati         43.79
Nombre_pieces_principales   43.79
Nature_culture              26.70
Surface_terrain             26.70
dtype: float64

In [156]:
# Create variable 'adresse' 

columns_for_adress = ["No_voie", "Type_de_voie", "Code_voie",
                      "Voie", "Code_commune", "Code_departement"]

for i in range(len(dataframes)):
    # Créer une copie modifiée du DataFrame
    df_modified = dataframes[i].copy()

    df_modified['Code_postal'] = df_modified.groupby('Commune')['Code_postal'].transform(lambda x: x.fillna(
        method='ffill').fillna(method='bfill'))  # match les code postal vide avec les communes (bien)
    
    df_modified['No_voie'] = df_modified['No_voie'].apply(lambda x: str(int(x)) if pd.notnull(
        x) else '').astype(str)  # change le type si non il y a une valeur sinon affiche rien

    df_modified['adresse'] = df_modified['No_voie'] + ' ' + df_modified['Type_de_voie'].astype(str) + ' ' + \
        df_modified['Code_voie'].astype(str) + ' ' + df_modified['Voie'].astype(str) + ' ' + \
        df_modified['Code_postal'].astype(str) + ' ' + df_modified['Commune']
    
    
    # Après la création de l'adresse on remove les variables concatenées et les autres inutiles
    df_modified = df_modified.drop(columns_for_adress, axis=1)

    # sauvegarde
    dataframes[i] = df_modified

dataframes[0].head()

,No_disposition,Date_mutation,Valeur_fonciere,Code_postal,Commune,Section,No_plan,Nombre_de_lots,Code_type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Surface_terrain,adresse
0,1,03/01/2018,"109000,00",1000.00,BOURG-EN-BRESSE,AN,73,2,2.00,73.00,4.00,NaN,NaN,13 RUE 1660 GEN LOGEROT 1000.0 BOURG-EN-BRESSE
1,1,03/01/2018,"109000,00",1000.00,BOURG-EN-BRESSE,AN,73,1,3.00,0.00,0.00,NaN,NaN,13 RUE 1660 GEN LOGEROT 1000.0 BOURG-EN-BRESSE
2,1,04/01/2018,"239300,00",1250.00,NIVIGNE ET SURAN,AH,186,0,1.00,163.00,4.00,S,949.00,4 RUE 0025 DE LA BARMETTE 1250.0 NIVIGNE ET SURAN
3,1,04/01/2018,"239300,00",1250.00,NIVIGNE ET SURAN,AH,186,0,1.00,163.00,4.00,AG,420.00,4 RUE 0025 DE LA BARMETTE 1250.0 NIVIGNE ET SURAN
4,1,04/01/2018,"239300,00",1250.00,NIVIGNE ET SURAN,AH,186,0,1.00,51.00,2.00,AG,420.00,4 RUE 0025 DE LA BARMETTE 1250.0 NIVIGNE ET SURAN

In [157]:
# Remove duplicates (date_mutation et adresse)

for i in range(len(dataframes)):
    # Créer une copie modifiée du DataFrame
    df_modified = dataframes[i].copy()

    # Remove duplicates (date_mutation et adresse)
    df_modified = df_modified.drop_duplicates(
        subset=["Date_mutation", "adresse"])

    # 'adresse' useless maintenant => remove
    df_modified = df_modified.drop("adresse", axis=1)

    # sauvegarde
    dataframes[i] = df_modified

dataframes[0].head()

,No_disposition,Date_mutation,Valeur_fonciere,Code_postal,Commune,Section,No_plan,Nombre_de_lots,Code_type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Surface_terrain
0,1,03/01/2018,"109000,00",1000.00,BOURG-EN-BRESSE,AN,73,2,2.00,73.00,4.00,NaN,NaN
2,1,04/01/2018,"239300,00",1250.00,NIVIGNE ET SURAN,AH,186,0,1.00,163.00,4.00,S,949.00
6,1,04/01/2018,"90000,00",1380.00,SAINT-CYR-SUR-MENTHON,ZR,359,0,NaN,NaN,NaN,S,278.00
7,1,04/01/2018,"90000,00",1380.00,SAINT-CYR-SUR-MENTHON,ZR,361,0,1.00,150.00,3.00,S,347.00
9,2,10/01/2018,"3150,00",1160.00,PONT-D AIN,AM,461,0,NaN,NaN,NaN,S,126.00

In [158]:
# Affichez le nombre d'individus par modalité de la colonne 'Code_type_local'

comptage_modalites = dataframes[0]['Code_type_local'].value_counts()
print(comptage_modalites)

Code_type_local
1.00    496439
2.00    310323
3.00    191720
4.00     61968
Name: count, dtype: int64

In [159]:
print("before : ", len(dataframes[0]))

for i in range(len(dataframes)):
    # Créer une copie modifiée du DataFrame
    df_modified = dataframes[i].copy()

    df_modified = df_modified.dropna()

    df_modified['Valeur_fonciere'] = df_modified['Valeur_fonciere'].astype(str).str.replace(',', '.').astype(float)  

    dataframes[i] = df_modified

    
print("after : ", len(dataframes[0]), "\n")

comptage_modalites = dataframes[0]['Code_type_local'].value_counts()
print(comptage_modalites)

before :  1678374
after :  551871

Code_type_local
1.00    470920
4.00     31286
3.00     29165
2.00     20500
Name: count, dtype: int64

In [160]:
masque_nan = dataframes[0].isna()

# Utilisez sum() pour compter le nombre de valeurs manquantes (True) dans chaque colonne
nombre_nan_par_colonne = masque_nan.sum()
print(nombre_nan_par_colonne)

No_disposition               0
Date_mutation                0
Valeur_fonciere              0
Code_postal                  0
Commune                      0
Section                      0
No_plan                      0
Nombre_de_lots               0
Code_type_local              0
Surface_reelle_bati          0
Nombre_pieces_principales    0
Nature_culture               0
Surface_terrain              0
dtype: int64

In [161]:
# Remove individus with at least one NaN and individus à 1e symbolique

print("before : ", len(dataframes[0]))

for i in range(len(dataframes)):
    df_modified = dataframes[i].copy()
   

    # OUTLIERS 
    Q1 = df_modified['Valeur_fonciere'].quantile(0.25)
    Q3 = df_modified['Valeur_fonciere'].quantile(0.75)
    
    #print(Q1)
    #print(Q3)

    IQR = Q3 - Q1

    # Définissez les limites supérieure et inférieure pour détecter les outliers
    limite_inferieure = Q1 - 0.3 * IQR
    limite_superieure = Q3 + 1.7 * IQR

    print(limite_inferieure)
    print(limite_superieure,"\n")
    
    df_sans_outliers = df_modified[(df_modified['Valeur_fonciere'] >= limite_inferieure) & (df_modified['Valeur_fonciere'] <= limite_superieure)]

    # sauvegarde
    dataframes[i] = df_sans_outliers


print("after : ", len(dataframes[0]), "\n")

comptage_modalites = dataframes[0]['Code_type_local'].value_counts()
print(comptage_modalites)

before :  551871
49810.0
551710.0

51870.450000000004
566043.45

54320.0
581120.0

53250.0
645750.0

after :  472346

Code_type_local
1.00    417215
4.00     20579
3.00     17955
2.00     16597
Name: count, dtype: int64

In [162]:
# Change data types

for i in range(len(dataframes)):
    # Créer une copie modifiée du DataFrame
    df_modified = dataframes[i].copy()
    
    df_modified['Code_type_local'] = df_modified['Code_type_local'].astype(int)  

    #df_modified['Code_type_local'] = df_modified['Code_type_local'].astype(object)  

    df_modified = df_modified.dropna(subset=['Code_postal'])
    df_modified['Code_postal'] = df_modified['Code_postal'].astype(int)
    df_modified['Code_postal'] = df_modified['Code_postal'].astype(object) # puis en objet

    #df_modified['Code_type_local'] = df_modified['Code_type_local'].astype(object)

    # sauvegarde
    dataframes[i] = df_modified


print(dataframes[0].info())
dataframes[0].head()

<class 'pandas.core.frame.DataFrame'>
Index: 472346 entries, 2 to 3331977
Data columns (total 13 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   No_disposition             472346 non-null  int64
 1   Date_mutation              472346 non-null  object
 2   Valeur_fonciere            472346 non-null  float64
 3   Code_postal                472346 non-null  object
 4   Commune                    472346 non-null  object
 5   Section                    472346 non-null  object
 6   No_plan                    472346 non-null  int64
 7   Nombre_de_lots             472346 non-null  int64
 8   Code_type_local            472346 non-null  int32
 9   Surface_reelle_bati        472346 non-null  float64
 10  Nombre_pieces_principales  472346 non-null  float64
 11  Nature_culture             472346 non-null  object
 12  Surface_terrain            472346 non-null  float64
dtypes: float64(4), int32(1), int64(3), object(5)
memory usage: 48.7+ MB
None

,No_disposition,Date_mutation,Valeur_fonciere,Code_postal,Commune,Section,No_plan,Nombre_de_lots,Code_type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Surface_terrain
2,1,04/01/2018,239300.00,1250,NIVIGNE ET SURAN,AH,186,0,1,163.00,4.00,S,949.00
7,1,04/01/2018,90000.00,1380,SAINT-CYR-SUR-MENTHON,ZR,361,0,1,150.00,3.00,S,347.00
26,1,09/01/2018,90000.00,1380,BAGE-DOMMARTIN,C,830,0,1,120.00,3.00,S,2416.00
28,1,12/01/2018,130000.00,1160,VARAMBON,C,528,0,1,80.00,3.00,S,55.00
31,1,16/01/2018,224750.00,1160,PRIAY,D,2399,0,1,115.00,5.00,S,673.00

In [163]:
# Créer la variable "month" & "year" 

# NB : Utile si on la mets en 'int' et pas en objet, car le prix de l'immobilier augmente chaque année, donc plus l'année augmente plus le prix aussi
# alors qu'en 'objet' inutile car dans ce sont les data de 2022 qui vont être testés


for i in range(len(dataframes)):
    # Créer une copie modifiée du DataFrame
    df_modified = dataframes[i].copy()

    df_modified['Date_mutation'] = pd.to_datetime(df_modified['Date_mutation'], format='%d/%m/%Y')

    # Extract the year component and create a new 'year' column
    df_modified['day'] = df_modified['Date_mutation'].dt.day
    df_modified['day'] = df_modified['day'].astype(object)

    df_modified['month'] = df_modified['Date_mutation'].dt.month
    df_modified['month'] = df_modified['month'].astype(object)

    df_modified['year'] = df_modified['Date_mutation'].dt.year
    df_modified['year'] = df_modified['year'].astype(object)

    df_modified = df_modified.drop("Date_mutation",axis=1)
    
    # sauvegarde
    dataframes[i] = df_modified

dataframes[0].head()

,No_disposition,Valeur_fonciere,Code_postal,Commune,Section,No_plan,Nombre_de_lots,Code_type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Surface_terrain,day,month,year
2,1,239300.00,1250,NIVIGNE ET SURAN,AH,186,0,1,163.00,4.00,S,949.00,4,1,2018
7,1,90000.00,1380,SAINT-CYR-SUR-MENTHON,ZR,361,0,1,150.00,3.00,S,347.00,4,1,2018
26,1,90000.00,1380,BAGE-DOMMARTIN,C,830,0,1,120.00,3.00,S,2416.00,9,1,2018
28,1,130000.00,1160,VARAMBON,C,528,0,1,80.00,3.00,S,55.00,12,1,2018
31,1,224750.00,1160,PRIAY,D,2399,0,1,115.00,5.00,S,673.00,16,1,2018

In [164]:
# sample random % of each year
df_18_s = dataframes[0].sample(frac=1, random_state=42)
df_19_s = dataframes[1].sample(frac=1, random_state=42)
df_20_s = dataframes[2].sample(frac=1, random_state=42)
df_21_s = dataframes[3].sample(frac=1, random_state=42)

In [165]:
# Combine sampled subsets
df = pd.concat([df_18_s, df_19_s, df_20_s, df_21_s], axis=0)

In [166]:
print(df.year.value_counts())

year
2021    603866
2019    515819
2020    511401
2018    472346
Name: count, dtype: int64

In [167]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 2103432 entries, 1360868 to 1031686
Data columns (total 15 columns):
 #   Column                     Dtype
---  ------                     -----
 0   No_disposition             int64
 1   Valeur_fonciere            float64
 2   Code_postal                object
 3   Commune                    object
 4   Section                    object
 5   No_plan                    int64
 6   Nombre_de_lots             int64
 7   Code_type_local            int32
 8   Surface_reelle_bati        float64
 9   Nombre_pieces_principales  float64
 10  Nature_culture             object
 11  Surface_terrain            float64
 12  day                        object
 13  month                      object
 14  year                       object
dtypes: float64(4), int32(1), int64(3), object(7)
memory usage: 248.7+ MB

,No_disposition,Valeur_fonciere,Code_postal,Commune,Section,No_plan,Nombre_de_lots,Code_type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Surface_terrain,day,month,year
1360868,1,215500.00,39600,ARBOIS,AC,4,0,1,108.00,5.00,S,604.00,25,5,2018
522511,1,121045.00,17470,PAILLE,G,1118,0,1,134.00,4.00,S,806.00,11,12,2018
65114,1,74000.00,3000,MOULINS,AE,4,0,3,0.00,0.00,J,1803.00,15,2,2018
2799531,1,335000.00,84260,SARRIANS,BC,69,0,1,126.00,5.00,S,1149.00,21,9,2018
2029259,1,130000.00,61430,ATHIS-VAL DE ROUVRE,N,734,0,1,72.00,3.00,S,1000.00,20,4,2018

In [168]:
# Load longitude, latitude, 'Code_postal' dataframe

#geo = pd.read_csv('/home/nathan/fac/m2/s1/python/projet_prediction/data/communes-departement-region.csv')

geo = pd.read_csv('../data/communes-departement-region.csv')

geo.head()

,code_commune_INSEE,nom_commune_postal,code_postal,libelle_acheminement,ligne_5,latitude,longitude,code_commune,article,nom_commune,nom_commune_complet,code_departement,nom_departement,code_region,nom_region
0,1001,L ABERGEMENT CLEMENCIAT,1400,L ABERGEMENT CLEMENCIAT,NaN,46.15,4.93,1.00,L',Abergement-Clémenciat,L'Abergement-Clémenciat,1,Ain,84.00,Auvergne-Rhône-Alpes
1,1002,L ABERGEMENT DE VAREY,1640,L ABERGEMENT DE VAREY,NaN,46.01,5.43,2.00,L',Abergement-de-Varey,L'Abergement-de-Varey,1,Ain,84.00,Auvergne-Rhône-Alpes
2,1004,AMBERIEU EN BUGEY,1500,AMBERIEU EN BUGEY,NaN,45.96,5.37,4.00,NaN,Ambérieu-en-Bugey,Ambérieu-en-Bugey,1,Ain,84.00,Auvergne-Rhône-Alpes
3,1005,AMBERIEUX EN DOMBES,1330,AMBERIEUX EN DOMBES,NaN,46.00,4.91,5.00,NaN,Ambérieux-en-Dombes,Ambérieux-en-Dombes,1,Ain,84.00,Auvergne-Rhône-Alpes
4,1006,AMBLEON,1300,AMBLEON,NaN,45.75,5.59,6.00,NaN,Ambléon,Ambléon,1,Ain,84.00,Auvergne-Rhône-Alpes

In [169]:
print(len(df))

geo.rename(columns={'code_postal': 'Code_postal'}, inplace=True)
geo.rename(columns={'nom_commune_postal': 'Commune'}, inplace=True)
geo.rename(columns={'code_departement': 'Code_departement'}, inplace=True)


doublons = geo[geo.duplicated(subset=['Code_postal', 'Commune'], keep=False)] # voir les doublons
#print(doublons)

geo = geo.drop_duplicates(subset=['Code_postal', 'Commune']) # OK -> supprmime les doublons Code postal => Commune, car quelques fois il y a une 'petite' commune dedans la grande enfin bref

# Changement de format pour le merge, pour uniformiser tout et garder le maximum d information
geo['Commune'] = geo['Commune'].str.replace('-', ' ') 
df['Commune'] = df['Commune'].str.replace('-', ' ')

geo['Commune'] = geo['Commune'].str.replace('ST', 'SAINT')  # format 'ST' et 'SAINT'
df['Commune'] = df['Commune'].str.replace('ST', 'SAINT')

geo['Commune'] = geo['Commune'].str.replace('\'', ' ')
df['Commune'] = df['Commune'].str.replace('\'', ' ')


# MERGE
geo_commune = geo[['Commune', 'Code_postal', 'latitude', 'longitude']]
df = pd.merge(df, geo_commune, on=[
    'Commune', 'Code_postal'], how='left')  # OK -> merge la commune et le code postal, car desfois la commune est dans différent département 


# Le reste des communes non trouvé c'est des erreurs dans le fichier geo, exemple => LA SALLE DES ALPES, dans les data => "LA SALLE", IMPOSSIBLE À gérer ce genre d'erreur humaine => à enlever
print(df['longitude'].isna().sum()," individus avec un nom de commune pas trouvé, on les enlève du dataset")
df = df.dropna(subset=['longitude'])

print("nombre final d'individus : ",len(df))

df.head(20)

2103432
95246  individus avec un nom de commune pas trouvé, on les enlève du dataset
nombre final d'individus :  2008186

,No_disposition,Valeur_fonciere,Code_postal,Commune,Section,No_plan,Nombre_de_lots,Code_type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Surface_terrain,day,month,year,latitude,longitude
0,1,215500.00,39600,ARBOIS,AC,4,0,1,108.00,5.00,S,604.00,25,5,2018,46.89,5.77
1,1,121045.00,17470,PAILLE,G,1118,0,1,134.00,4.00,S,806.00,11,12,2018,45.99,-0.39
2,1,74000.00,3000,MOULINS,AE,4,0,3,0.00,0.00,J,1803.00,15,2,2018,46.56,3.33
3,1,335000.00,84260,SARRIANS,BC,69,0,1,126.00,5.00,S,1149.00,21,9,2018,44.10,4.96
4,1,130000.00,61430,ATHIS VAL DE ROUVRE,N,734,0,1,72.00,3.00,S,1000.00,20,4,2018,48.80,-0.51
5,2,206000.00,59200,TOURCOING,IK,93,0,1,88.00,4.00,S,188.00,16,5,2018,50.73,3.16
6,1,89000.00,84360,MERINDOL,AH,802,0,1,64.00,3.00,S,220.00,6,12,2018,43.76,5.20
7,1,169400.00,45470,TRAINOU,ZR,84,0,1,139.00,6.00,AG,847.00,31,10,2018,47.97,2.10
8,1,180200.00,30100,ALES,AC,199,0,2,41.00,2.00,S,477.00,20,12,2018,44.13,4.09
10,1,117000.00,27290,FRENEUSE SUR RISLE,B,102,0,1,114.00,5.00,S,500.00,11,12,2018,49.25,0.67
11,1,147500.00,72100,LE MANS,IW,125,0,4,121.00,0.00,S,219.00,16,3,2018,47.99,0.20
12,1,180000.00,51430,TINQUEUX,AI,5,0,1,67.00,4.00,S,256.00,26,7,2018,49.25,3.99
13,1,156200.00,24600,SIORAC DE RIBERAC,I,28,0,3,0.00,0.00,P,9265.00,22,10,2018,45.18,0.35
14,1,166000.00,60660,CIRES LES MELLO,AE,10,0,1,54.00,3.00,S,697.00,12,4,2018,49.26,2.34
15,1,200000.00,95270,VIARMES,AB,727,0,1,75.00,3.00,S,400.00,10,10,2018,49.12,2.38
16,1,240000.00,62155,MERLIMONT,AT,106,0,1,100.00,6.00,S,594.00,9,2,2018,50.45,1.61
17,1,220000.00,56690,LANDAUL,ZM,669,0,1,105.00,5.00,S,768.00,20,7,2018,47.74,-3.10
18,1,320000.00,93130,NOISY LE SEC,P,99,0,1,65.00,4.00,S,134.00,1,10,2018,48.89,2.46
19,1,207000.00,76110,GODERVILLE,B,473,0,1,75.00,4.00,T,561.00,6,9,2018,49.64,0.36
20,1,118000.00,1851,MARBOZ,WR,146,0,4,286.00,0.00,S,2245.00,16,10,2018,46.34,5.24

In [170]:
# Ajout variable département

def assign_department(code_postal):
    if 20000 <= code_postal <= 20190:
        return '2A' # Pour gérer la corse sud
    elif 20200 <= code_postal <= 20270:
        return '2B' # Pour gérer la corse nord
    elif len(str(code_postal)) == 4:
        dep = '0' + str(code_postal)[:1] # Pour gérer les 10 premiers département
        return dep
    else:
        dep = str(code_postal)[:2]
        return dep 

# Appliquez la fonction à la colonne 'Code_postal' en utilisant apply()
df['Departement'] = df['Code_postal'].apply(lambda x: assign_department(x))
df['Departement'] = df['Departement'].astype(str)

df.head()

,No_disposition,Valeur_fonciere,Code_postal,Commune,Section,No_plan,Nombre_de_lots,Code_type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Surface_terrain,day,month,year,latitude,longitude,Departement
0,1,215500.00,39600,ARBOIS,AC,4,0,1,108.00,5.00,S,604.00,25,5,2018,46.89,5.77,39
1,1,121045.00,17470,PAILLE,G,1118,0,1,134.00,4.00,S,806.00,11,12,2018,45.99,-0.39,17
2,1,74000.00,3000,MOULINS,AE,4,0,3,0.00,0.00,J,1803.00,15,2,2018,46.56,3.33,03
3,1,335000.00,84260,SARRIANS,BC,69,0,1,126.00,5.00,S,1149.00,21,9,2018,44.10,4.96,84
4,1,130000.00,61430,ATHIS VAL DE ROUVRE,N,734,0,1,72.00,3.00,S,1000.00,20,4,2018,48.80,-0.51,61

In [171]:
# # CLASSIF Code_type_local
# from sklearn.model_selection import train_test_split # Import train_test_split function
# ########### Random forest
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, ConfusionMatrixDisplay
# from sklearn.model_selection import RandomizedSearchCV, train_test_split
# from scipy.stats import randint

# for i in range(len(dataframes)):
#     df_modified = dataframes[i].copy()
    
#     X = df_modified.drop(columns=['Code_type_local','Commune','Section','No_plan','Nature_culture'])

#     y = df_modified['Code_type_local'] # Target variable

#     X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

    
#     rf = RandomForestClassifier()
#     rf.fit(X_train, y_train)
#     y_pred = rf.predict(X_test)

#     accuracy = accuracy_score(y_test, y_pred)
#     print("Accuracy:", accuracy)

#     dataframes[i] = df_modified

In [172]:

# Groupez les données par 'Commune' et calculez la somme de 'Surface_reel' et 'Valeur_fonciere' pour chaque commune
groupe_commune = df.groupby('Commune').agg({'Surface_reelle_bati': 'sum', 'Valeur_fonciere': 'sum'})

# Calculez le prix moyen au mètre carré par commune
groupe_commune['Prix_moyen_m2'] = groupe_commune['Valeur_fonciere'] / groupe_commune['Surface_reelle_bati']

# Fusionnez le DataFrame original avec le DataFrame groupe_commune sur la colonne 'Commune'
df = pd.merge(df, groupe_commune[['Prix_moyen_m2']], left_on='Commune', right_index=True, how='left')

In [173]:
chemin_vers_projet = '/home/nathan/fac/m2/s1/python/projet_prediction/'

# Définir l'espace de travail (répertoire de travail)
#os.chdir(chemin_vers_projet)

df.to_pickle('../data/dataframe_clean_last_version.pkl')

In [177]:
# TEST MAISON #

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.metrics import r2_score

# MSE : 3 184 771 589 078.1714 avec 5 colonnes et 100 000 lignes au début du programme (régression linéaire)
# MSE : 9 351 187 946 604.617 avec 11 colonnes et 700 000 lignes au début du programme
# MSE : 9 621 056 123 391.139 en changeant le code type local == 1
# MSE : 2 642 213 419 979.8486 avec 5 colonnes et 100 000 lignes au début du programme (avec year, code postal, et nature mutation) (code local == 1)
# MSE : 2 642 223 129 457.908 avec pareil mais Lasso (few features should be important) (code local == 1)
# MSE : 2 283 126 024 532.157 avec pareil mais Ridge (lot of features should be important) (code local == 1)
# MSE : 1 481 548 894 581.531 avec Ridge mais 300 000 lignes (code local == 1)
# MSE : 1 419 765 756 499.442 avec Lasso mais 300 000 lignes (code local == 1)
# MSE : 15 011 506 135 748.002 avec Lasso mais 1 021 105 lignes (code local == 1)
# MSE : 6 011 506 135 748.002 avec Ridge mais ... lignes (code local == 1)

df_test = df.copy()
# test seulement avec le code local == 1
df_test = df_test[df_test['Code_type_local'] == 1]
df_test = df_test.drop(columns=["Code_type_local"])


print("nombre individus dataframe global : ",len(df_test), "\n")


# test drop colonne
X = df_test.drop(columns=['Valeur_fonciere', 'Commune', 'Section','day','No_plan', 'No_disposition', 'Nature_culture','latitude','longitude','Code_postal'])
print(X.columns)

X = pd.get_dummies(X, columns=['month','year','Departement'])


y = df_test['Valeur_fonciere']  # Variable cible

# Séparez les données en ensembles d'entraînement et de test (par exemple, 80% pour l'entraînement et 20% pour le test)
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)

# Initialisez le modèle Ridge
modele_ridge = Ridge(alpha=1.0)  # L'alpha est le paramètre de régularisation

modele_ridge.fit(X_train,y_train)
# Entraînez le modèle sur les donné
# Prédisez les valeurs sur l'ensemble de test
predictions = modele_ridge.predict(X_test)

# Calculez l'erreur quadratique moyenne (MSE) pour évaluer la performance du modèle
mse = mean_squared_error(y_test, predictions)

# Affichez l'erreur quadratique moyenne
print("Erreur Quadratique Moyenne (MSE) : ", mse)

# Créez un DataFrame avec les valeurs prédites et les valeurs réelles
resultats = pd.DataFrame(
    {'Valeur_reelle': y_test, 'Valeur_predite': predictions})

# Affichez les valeurs prédites par rapport aux valeurs réelles
print(resultats)
# Calculez le R carré
r2 = r2_score(y_test, predictions)
# Affichez le R carré
print("R carré :", r2)

nombre individus dataframe global :  1689100

Index(['Nombre_de_lots', 'Surface_reelle_bati', 'Nombre_pieces_principales',
       'Surface_terrain', 'month', 'year', 'Departement', 'Prix_moyen_m2'],
      dtype='object')
Erreur Quadratique Moyenne (MSE) :  5680238391.821859
         Valeur_reelle  Valeur_predite
2012192      307400.00       221456.14
140520       188000.00       183880.58
334284       450000.00       307364.78
1389263      170000.00        60670.26
749497       160000.00       118678.80
...                ...             ...
941193       130000.00        90831.90
2042755      154900.00       148464.05
22135         60000.00        87806.61
332573       266030.00       223738.74
458400       439000.00       325014.74

[337820 rows x 2 columns]
R carré : 0.5587710318330017

In [175]:
# TEST APPARTEMENT #

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.metrics import r2_score


df_test = df.copy()

# test seulement avec le code local == 2
df_test = df_test[df_test['Code_type_local'] == 2]
print(df['Code_type_local'].value_counts())

df_test = df_test.drop(columns=["Code_type_local"])

print("nombre individus dataframe global : ",len(df_test), "\n")


# test drop colonne
X = df_test.drop(columns=['Valeur_fonciere', 'Commune', 'Section','day','No_plan', 'No_disposition', 'Nature_culture','latitude','longitude','Code_postal'])
print(X.columns)

X = pd.get_dummies(X, columns=['month','year','Departement'])


y = df_test['Valeur_fonciere']  # Variable cible

# Séparez les données en ensembles d'entraînement et de test (par exemple, 80% pour l'entraînement et 20% pour le test)
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)

# Initialisez le modèle Ridge
modele_ridge = Ridge(alpha=1.0)  # L'alpha est le paramètre de régularisation

modele_ridge.fit(X_train,y_train)

# Entraînez le modèle sur les donné
# Prédisez les valeurs sur l'ensemble de test
predictions = modele_ridge.predict(X_test)

# Calculez l'erreur quadratique moyenne (MSE) pour évaluer la performance du modèle
mse = mean_squared_error(y_test, predictions)

# Affichez l'erreur quadratique moyenne
print("Erreur Quadratique Moyenne (MSE) : ", mse)

# Créez un DataFrame avec les valeurs prédites et les valeurs réelles
resultats = pd.DataFrame(
    {'Valeur_reelle': y_test, 'Valeur_predite': predictions})

# Affichez les valeurs prédites par rapport aux valeurs réelles
print(resultats)
# Calculez le R carré
r2 = r2_score(y_test, predictions)
# Affichez le R carré
print("R carré :", r2)

Code_type_local
1    1689100
3     165182
4      85299
2      68605
Name: count, dtype: int64
nombre individus dataframe global :  68605

Index(['Nombre_de_lots', 'Surface_reelle_bati', 'Nombre_pieces_principales',
       'Surface_terrain', 'month', 'year', 'Departement', 'Prix_moyen_m2'],
      dtype='object')
Erreur Quadratique Moyenne (MSE) :  10792118713.238344
         Valeur_reelle  Valeur_predite
400093       150000.00       148956.18
1196782      570000.00       215840.71
1642286      180000.00       228679.96
716754       104500.00       126427.99
872330       290000.00       135167.46
...                ...             ...
1725665      151000.00       168176.07
1585581      262000.00       185787.26
88144        310000.00       296237.75
1254975      420000.00       168400.35
187143       319050.00       230592.88

[13721 rows x 2 columns]
R carré : 0.28625576769714733

In [176]:
# TEST Dépendance #

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.metrics import r2_score


df_test = df.copy()

# test seulement avec le code local == 2
df_test = df_test[df_test['Code_type_local'] == 3]
print(df['Code_type_local'].value_counts())

df_test = df_test.drop(columns=["Code_type_local"])

print("nombre individus dataframe global : ",len(df_test), "\n")


# test drop colonne
X = df_test.drop(columns=['Valeur_fonciere', 'Commune', 'Section','day','No_plan', 'No_disposition', 'Nature_culture','latitude','longitude','Code_postal'])
print(X.columns)

X = pd.get_dummies(X, columns=['month','year','Departement'])


y = df_test['Valeur_fonciere']  # Variable cible

# Séparez les données en ensembles d'entraînement et de test (par exemple, 80% pour l'entraînement et 20% pour le test)
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)

# Initialisez le modèle Ridge
modele_ridge = Ridge(alpha=1.0)  # L'alpha est le paramètre de régularisation

modele_ridge.fit(X_train,y_train)

# Entraînez le modèle sur les donné
# Prédisez les valeurs sur l'ensemble de test
predictions = modele_ridge.predict(X_test)

# Calculez l'erreur quadratique moyenne (MSE) pour évaluer la performance du modèle
mse = mean_squared_error(y_test, predictions)

# Affichez l'erreur quadratique moyenne
print("Erreur Quadratique Moyenne (MSE) : ", mse)

# Créez un DataFrame avec les valeurs prédites et les valeurs réelles
resultats = pd.DataFrame(
    {'Valeur_reelle': y_test, 'Valeur_predite': predictions})

# Affichez les valeurs prédites par rapport aux valeurs réelles
print(resultats)
# Calculez le R carré
r2 = r2_score(y_test, predictions)
# Affichez le R carré
print("R carré :", r2)

Code_type_local
1    1689100
3     165182
4      85299
2      68605
Name: count, dtype: int64
nombre individus dataframe global :  165182

Index(['Nombre_de_lots', 'Surface_reelle_bati', 'Nombre_pieces_principales',
       'Surface_terrain', 'month', 'year', 'Departement', 'Prix_moyen_m2'],
      dtype='object')

ValueError: Input X contains infinity or a value too large for dtype('float64').

In [ ]:
# TODO : 
# enlever les extrêmes (1e symbolique etc...)
# imputation de données manquantes => KNN,  arbre !
# puis clustering sur le type de local