In [2]:
import os
#os.chdir('/Users/josephpelham/Desktop/SISE/Python/Donnees')
#
os.chdir('/home/nathan/fac/m2/s1/python/td1')


# !! changer les chemins relatifs !!

In [3]:
## Import Data ## 
import pandas as pd

# ! options !
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:.2f}'.format)


df_18 = pd.read_csv(
    '/home/nathan/fac/m2/s1/python/td1/valeursfoncieres-2018.txt', delimiter='|',nrows=100000)
#df_18 = pd.read_csv('/Users/josephpelham/Desktop/SISE/Python/Donnees/valeursfoncieres-2018.txt', delimiter='|')
#df_19 = pd.read_csv('/Users/josephpelham/Desktop/SISE/Python/Donnees/valeursfoncieres-2019.txt', delimiter='|')
#df_20 = pd.read_csv('/Users/josephpelham/Desktop/SISE/Python/Donnees/valeursfoncieres-2020.txt', delimiter='|')
# df_21 = pd.read_csv('/Users/josephpelham/Desktop/SISE/Python/Donnees/valeursfoncieres-2021.txt', delimiter='|')

/tmp/ipykernel_21572/4150918367.py:9: DtypeWarning: Columns (24,26,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df_18 = pd.read_csv(

In [4]:
#dataframes = [df_18, df_19, df_20,df_21] 
dataframes = [df_18]
# Remplacer les espaces par les _ dans colonnes
for df in dataframes:
    df.columns = df.columns.str.replace(' ', '_')

In [5]:
## Change data types and remove useless variables 

columns_to_remove = ["Code_voie", "No_voie", "Voie", "Type_de_voie",
                "1er_lot", "No_plan", "Code_departement", "Type_local", "Code_commune", "Section"]


for df in dataframes:
    df_modified = df.copy()  # Créer une copie modifiée du DataFrame

    # Delete observations with NaN Code_type_local & Valeur_fonciere
    df_modified = df_modified.dropna(subset=['Code_type_local'])
    df_modified = df_modified.dropna(subset=['Valeur_fonciere'])

    df_modified['Valeur_fonciere'] = df_modified['Valeur_fonciere'].str.replace(
        ',', '.').astype(float)

    df_modified['Code_postal'] = df_modified.groupby('Commune')['Code_postal'].transform(lambda x: x.fillna(
        method='ffill').fillna(method='bfill'))  # match les code postal vide avec les communes (bien)
    df_modified['Code_postal'] = df_modified['Code_postal'].astype(int)
    
    df_modified['No_voie'] = df_modified['No_voie'].apply(lambda x: str(int(x)) if pd.notnull(
        x) else '').astype(str)  # change le type si non Nan sinon affiche rien
    
    df_modified['Code_type_local'] = df_modified['Code_type_local'].astype(int)

    #  Créer la variable "adresse"
    df_modified['adresse'] = df_modified['No_voie'] + ' ' + df_modified['Type_de_voie'].astype(str) + ' ' + \
        df_modified['Code_voie'].astype(str) + ' ' + df_modified['Voie'].astype(str) + ' ' + \
        df_modified['Code_postal'].astype(str) + ' ' + df_modified['Commune']
    
    # Après la création de l'adresse on remove les variables concatenées et les autres inutiles
    df_modified = df_modified.drop(columns_to_remove, axis=1)
    
    #sauvegarde
    dataframes[dataframes.index(df)] = df_modified

In [6]:
dataframes[0].head()

,Identifiant_de_document,Reference_document,1_Articles_CGI,2_Articles_CGI,3_Articles_CGI,4_Articles_CGI,5_Articles_CGI,No_disposition,Date_mutation,Nature_mutation,Valeur_fonciere,B/T/Q,Code_postal,Commune,Prefixe_de_section,No_Volume,Surface_Carrez_du_1er_lot,2eme_lot,Surface_Carrez_du_2eme_lot,3eme_lot,Surface_Carrez_du_3eme_lot,4eme_lot,Surface_Carrez_du_4eme_lot,5eme_lot,Surface_Carrez_du_5eme_lot,Nombre_de_lots,Code_type_local,Identifiant_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Nature_culture_speciale,Surface_terrain,adresse
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2018,Vente,109000.00,NaN,1000,BOURG-EN-BRESSE,NaN,NaN,NaN,31.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,NaN,73.00,4.00,NaN,NaN,NaN,13 RUE 1660 GEN LOGEROT 1000 BOURG-EN-BRESSE
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2018,Vente,109000.00,NaN,1000,BOURG-EN-BRESSE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3,NaN,0.00,0.00,NaN,NaN,NaN,13 RUE 1660 GEN LOGEROT 1000 BOURG-EN-BRESSE
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2018,Vente,239300.00,NaN,1250,NIVIGNE ET SURAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,163.00,4.00,S,NaN,949.00,4 RUE 0025 DE LA BARMETTE 1250 NIVIGNE ET SURAN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2018,Vente,239300.00,NaN,1250,NIVIGNE ET SURAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,163.00,4.00,AG,JARD,420.00,4 RUE 0025 DE LA BARMETTE 1250 NIVIGNE ET SURAN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2018,Vente,239300.00,NaN,1250,NIVIGNE ET SURAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,51.00,2.00,AG,JARD,420.00,4 RUE 0025 DE LA BARMETTE 1250 NIVIGNE ET SURAN

In [7]:

for df in dataframes:
    df_modified = df.copy()
    # Remove duplicates (date_mutation et adresse)
    df_modified = df_modified.drop_duplicates(subset=["Date_mutation", "adresse"])
    # 'adresse' useless maintenant => remove
    df_modified = df_modified.drop("adresse", axis = 1)
    dataframes[dataframes.index(df)] = df_modified

In [8]:
# sample random 5% of each year
df_18_s = dataframes[0].sample(frac=.05, random_state=42)
#df_19_s = dataframes[1].sample(frac=.05, random_state=42)
#df_20_s = dataframes[2].sample(frac=.05, random_state=42)
#df_21_s = dataframes[3].sample(frac=.05, random_state=42)

In [9]:
# Combine sampled subsets
#df = pd.concat([df_18_s, df_19_s, df_20_s, df_21_s], axis=0)
df = pd.concat([df_18_s], axis=0)

In [10]:
# Remove columns with 75% NA

# Enlever les colonnes à la main ?? pas de pourcent => plus explicite

# % of NA
missing_perc = df.isna().sum() / len(df) * 100
# Define the threshold for dropping columns (75% in this case)
threshold = 75
# Use the dropna method to drop columns with more than 75% missing values
df = df.dropna(axis=1, thresh=len(df) * (1 - threshold / 100))
df.head()

,No_disposition,Date_mutation,Nature_mutation,Valeur_fonciere,Code_postal,Commune,Nombre_de_lots,Code_type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Surface_terrain
69122,1,30/11/2018,Vente,138000.00,3000,AVERMES,0,1,96.00,5.00,S,380.00
52653,1,20/04/2018,Vente,9164415.00,2200,SOISSONS,0,1,36.00,2.00,S,50.00
76752,2,08/02/2018,Vente,4000.00,3390,CHAPPES,0,3,0.00,0.00,NaN,NaN
84620,1,21/11/2018,Vente,119000.00,3500,CESSET,0,1,142.00,6.00,S,565.00
54627,1,29/06/2018,Vente,147000.00,2600,VILLERS-COTTERETS,0,1,73.00,4.00,S,233.00

In [11]:
# Créer la variable "year"
df['Date_mutation'] = pd.to_datetime(df['Date_mutation'], format='%d/%m/%Y')

# Extract the year component and create a new 'year' column
df['year'] = df['Date_mutation'].dt.year
print(df.year.value_counts())

2018    1382
Name: year, dtype: int64

In [12]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1382 entries, 69122 to 33540
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   No_disposition             1382 non-null   int64
 1   Date_mutation              1382 non-null   datetime64[ns]
 2   Nature_mutation            1382 non-null   object
 3   Valeur_fonciere            1382 non-null   float64
 4   Code_postal                1382 non-null   int64
 5   Commune                    1382 non-null   object
 6   Nombre_de_lots             1382 non-null   int64
 7   Code_type_local            1382 non-null   int64
 8   Surface_reelle_bati        1378 non-null   float64
 9   Nombre_pieces_principales  1378 non-null   float64
 10  Nature_culture             931 non-null    object
 11  Surface_terrain            931 non-null    float64
 12  year                       1382 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(5), object(3)
memory usage: 151.2+ KB

,No_disposition,Date_mutation,Nature_mutation,Valeur_fonciere,Code_postal,Commune,Nombre_de_lots,Code_type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Surface_terrain,year
69122,1,2018-11-30,Vente,138000.00,3000,AVERMES,0,1,96.00,5.00,S,380.00,2018
52653,1,2018-04-20,Vente,9164415.00,2200,SOISSONS,0,1,36.00,2.00,S,50.00,2018
76752,2,2018-02-08,Vente,4000.00,3390,CHAPPES,0,3,0.00,0.00,NaN,NaN,2018
84620,1,2018-11-21,Vente,119000.00,3500,CESSET,0,1,142.00,6.00,S,565.00,2018
54627,1,2018-06-29,Vente,147000.00,2600,VILLERS-COTTERETS,0,1,73.00,4.00,S,233.00,2018

In [20]:
# Load longitude, latitude, 'Code_postal' dataframe

geo = pd.read_csv(
    '/home/nathan/fac/m2/s1/python/projet_prediction/data/communes-departement-region.csv')

print(geo.columns)
print(geo[geo['code_postal'] == 3000])
geo.head()

Index(['code_commune_INSEE', 'nom_commune_postal', 'code_postal',
       'libelle_acheminement', 'ligne_5', 'latitude', 'longitude',
       'code_commune', 'article', 'nom_commune', 'nom_commune_complet',
       'code_departement', 'nom_departement', 'code_region', 'nom_region'],
      dtype='object')
     code_commune_INSEE nom_commune_postal  code_postal libelle_acheminement  \
1299               3013            AVERMES         3000              AVERMES
1326               3040         BRESSOLLES         3000           BRESSOLLES
1371               3085          COULANDON         3000            COULANDON
1470               3184           MONTILLY         3000             MONTILLY
1476               3190            MOULINS         3000              MOULINS
1485               3200              NEUVY         3000                NEUVY

     ligne_5  latitude  longitude  code_commune article nom_commune  \
1299     NaN     46.60       3.32         13.00     NaN     Avermes
1326     NaN     46.53       3.30         40.00     NaN  Bressolles
1371     NaN     46.55       3.25         85.00     NaN   Coulandon
1470     NaN     46.61       3.24        184.00     NaN    Montilly
1476     NaN     46.56       3.33        190.00     NaN     Moulins
1485     NaN     46.57       3.28        200.00     NaN       Neuvy

     nom_commune_complet code_departement nom_departement  code_region  \
1299             Avermes                3          Allier        84.00
1326          Bressolles                3          Allier        84.00
1371           Coulandon                3          Allier        84.00
1470            Montilly                3          Allier        84.00
1476             Moulins                3          Allier        84.00
1485               Neuvy                3          Allier        84.00

                nom_region
1299  Auvergne-Rhône-Alpes
1326  Auvergne-Rhône-Alpes
1371  Auvergne-Rhône-Alpes
1470  Auvergne-Rhône-Alpes
1476  Auvergne-Rhône-Alpes
1485  Auvergne-Rhône-Alpes

,code_commune_INSEE,nom_commune_postal,code_postal,libelle_acheminement,ligne_5,latitude,longitude,code_commune,article,nom_commune,nom_commune_complet,code_departement,nom_departement,code_region,nom_region
0,1001,L ABERGEMENT CLEMENCIAT,1400,L ABERGEMENT CLEMENCIAT,NaN,46.15,4.93,1.00,L',Abergement-Clémenciat,L'Abergement-Clémenciat,1,Ain,84.00,Auvergne-Rhône-Alpes
1,1002,L ABERGEMENT DE VAREY,1640,L ABERGEMENT DE VAREY,NaN,46.01,5.43,2.00,L',Abergement-de-Varey,L'Abergement-de-Varey,1,Ain,84.00,Auvergne-Rhône-Alpes
2,1004,AMBERIEU EN BUGEY,1500,AMBERIEU EN BUGEY,NaN,45.96,5.37,4.00,NaN,Ambérieu-en-Bugey,Ambérieu-en-Bugey,1,Ain,84.00,Auvergne-Rhône-Alpes
3,1005,AMBERIEUX EN DOMBES,1330,AMBERIEUX EN DOMBES,NaN,46.00,4.91,5.00,NaN,Ambérieux-en-Dombes,Ambérieux-en-Dombes,1,Ain,84.00,Auvergne-Rhône-Alpes
4,1006,AMBLEON,1300,AMBLEON,NaN,45.75,5.59,6.00,NaN,Ambléon,Ambléon,1,Ain,84.00,Auvergne-Rhône-Alpes

In [18]:
# Merge Code_postal => add longitude and latitude to the df

geo.rename(columns={'code_postal': 'Code_postal'}, inplace=True)

# bug juste en bas
df = pd.merge(
    df, geo[['Code_postal', 'longitude', 'latitude']], on='Code_postal', how='left')

df.head(20)

,No_disposition,Date_mutation,Nature_mutation,Valeur_fonciere,Code_postal,Commune,Nombre_de_lots,Code_type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Surface_terrain,year,longitude_x,latitude_x,longitude_y,latitude_y
0,1,2018-11-30,Vente,138000.00,3000,AVERMES,0,1,96.00,5.00,S,380.00,2018,3.32,46.60,3.32,46.60
1,1,2018-11-30,Vente,138000.00,3000,AVERMES,0,1,96.00,5.00,S,380.00,2018,3.32,46.60,3.30,46.53
2,1,2018-11-30,Vente,138000.00,3000,AVERMES,0,1,96.00,5.00,S,380.00,2018,3.32,46.60,3.25,46.55
3,1,2018-11-30,Vente,138000.00,3000,AVERMES,0,1,96.00,5.00,S,380.00,2018,3.32,46.60,3.24,46.61
4,1,2018-11-30,Vente,138000.00,3000,AVERMES,0,1,96.00,5.00,S,380.00,2018,3.32,46.60,3.33,46.56
5,1,2018-11-30,Vente,138000.00,3000,AVERMES,0,1,96.00,5.00,S,380.00,2018,3.32,46.60,3.28,46.57
6,1,2018-11-30,Vente,138000.00,3000,AVERMES,0,1,96.00,5.00,S,380.00,2018,3.30,46.53,3.32,46.60
7,1,2018-11-30,Vente,138000.00,3000,AVERMES,0,1,96.00,5.00,S,380.00,2018,3.30,46.53,3.30,46.53
8,1,2018-11-30,Vente,138000.00,3000,AVERMES,0,1,96.00,5.00,S,380.00,2018,3.30,46.53,3.25,46.55
9,1,2018-11-30,Vente,138000.00,3000,AVERMES,0,1,96.00,5.00,S,380.00,2018,3.30,46.53,3.24,46.61
10,1,2018-11-30,Vente,138000.00,3000,AVERMES,0,1,96.00,5.00,S,380.00,2018,3.30,46.53,3.33,46.56
11,1,2018-11-30,Vente,138000.00,3000,AVERMES,0,1,96.00,5.00,S,380.00,2018,3.30,46.53,3.28,46.57
12,1,2018-11-30,Vente,138000.00,3000,AVERMES,0,1,96.00,5.00,S,380.00,2018,3.25,46.55,3.32,46.60
13,1,2018-11-30,Vente,138000.00,3000,AVERMES,0,1,96.00,5.00,S,380.00,2018,3.25,46.55,3.30,46.53
14,1,2018-11-30,Vente,138000.00,3000,AVERMES,0,1,96.00,5.00,S,380.00,2018,3.25,46.55,3.25,46.55
15,1,2018-11-30,Vente,138000.00,3000,AVERMES,0,1,96.00,5.00,S,380.00,2018,3.25,46.55,3.24,46.61
16,1,2018-11-30,Vente,138000.00,3000,AVERMES,0,1,96.00,5.00,S,380.00,2018,3.25,46.55,3.33,46.56
17,1,2018-11-30,Vente,138000.00,3000,AVERMES,0,1,96.00,5.00,S,380.00,2018,3.25,46.55,3.28,46.57
18,1,2018-11-30,Vente,138000.00,3000,AVERMES,0,1,96.00,5.00,S,380.00,2018,3.24,46.61,3.32,46.60
19,1,2018-11-30,Vente,138000.00,3000,AVERMES,0,1,96.00,5.00,S,380.00,2018,3.24,46.61,3.30,46.53

In [ ]:
# TODO : 
# regler le petit bug des longitude / latitude (plusieurs commune sur un code postal donc peut-être clear et mettre en unique ??)
# enlever les extrêmes
# imputation de données manquantes => KNN
# puis clustering sur le type de local