In [39]:
import os
#os.chdir('/Users/josephpelham/Desktop/SISE/Python/Donnees')
#os.chdir('/home/nathan/fac/m2/s1/python/td1')


# !! changer les chemins relatifs !!

# TODO :

# NB : faire un modele de régression pour chaque type de local

In [40]:
## Import Data ## 
import pandas as pd
import random

# ! options !
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:.2f}'.format)

chemin_fichier_2018 = '/home/nathan/fac/m2/s1/python/td1/valeursfoncieres-2018.txt'
chemin_fichier_2019 = '/home/nathan/fac/m2/s1/python/td1/valeursfoncieres-2019.txt'
chemin_fichier_2020 = '/home/nathan/fac/m2/s1/python/td1/valeursfoncieres-2020.txt'
chemin_fichier_2021 = '/home/nathan/fac/m2/s1/python/td1/valeursfoncieres-2021.txt'

chemin_fichier_2018 = '../valeursfoncieres-2018.txt'
chemin_fichier_2019 = '../valeursfoncieres-2019.txt'
chemin_fichier_2020 = '../valeursfoncieres-2020.txt'
chemin_fichier_2021 = '../valeursfoncieres-2021.txt'

#nombre_total_lignes = 700000
nombre_total_lignes = 300000

# Pour prendre n individus aléatoire par fichier mais très long car il faut importer tout les fichiers en entier
indices_aleatoires_2018 = random.sample(
    range(1, nombre_total_lignes + 1), nombre_total_lignes)
indices_aleatoires_2019 = random.sample(
    range(1, nombre_total_lignes + 1), nombre_total_lignes)
indices_aleatoires_2020 = random.sample(
    range(1, nombre_total_lignes + 1), nombre_total_lignes)
indices_aleatoires_2021 = random.sample(
    range(1, nombre_total_lignes + 1), nombre_total_lignes)


#df_18 = pd.read_csv(chemin_fichier_2018, delimiter='|',skiprows=lambda x: x not in indices_aleatoires_2018)
#df_19 = pd.read_csv(chemin_fichier_2019, delimiter='|',skiprows=lambda x: x not in indices_aleatoires_2019)
#df_20 = pd.read_csv(chemin_fichier_2020, delimiter='|',skiprows=lambda x: x not in indices_aleatoires_2020)
#df_21 = pd.read_csv(chemin_fichier_2021, delimiter='|',skiprows=lambda x: x not in indices_aleatoires_2021)


#df_18 = pd.read_csv(chemin_fichier_2018, delimiter='|',nrows=nombre_total_lignes)
#df_19 = pd.read_csv(chemin_fichier_2019, delimiter='|',nrows=nombre_total_lignes)
#df_20 = pd.read_csv(chemin_fichier_2020, delimiter='|',nrows=nombre_total_lignes)
#df_21 = pd.read_csv(chemin_fichier_2021, delimiter='|',nrows=nombre_total_lignes)

df_18 = pd.read_csv(chemin_fichier_2018, delimiter='|',nrows=100000)

/tmp/ipykernel_8175/3825783466.py:44: DtypeWarning: Columns (24,26,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df_18 = pd.read_csv(chemin_fichier_2018, delimiter='|',nrows=100000)

In [41]:
dataframes = [df_18] 

# Remplacer les espaces par des _ dans colonnes
for df in dataframes:
    df.columns = df.columns.str.replace(' ', '_')

In [42]:
dataframes[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 43 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Identifiant_de_document     0 non-null       float64
 1   Reference_document          0 non-null       float64
 2   1_Articles_CGI              0 non-null       float64
 3   2_Articles_CGI              0 non-null       float64
 4   3_Articles_CGI              0 non-null       float64
 5   4_Articles_CGI              0 non-null       float64
 6   5_Articles_CGI              0 non-null       float64
 7   No_disposition              100000 non-null  int64
 8   Date_mutation               100000 non-null  object
 9   Nature_mutation             100000 non-null  object
 10  Valeur_fonciere             98532 non-null   object
 11  No_voie                     45343 non-null   float64
 12  B/T/Q                       3197 non-null    object
 13  Type_de_voie                41017 non-null   object
 14  Code_voie                   99892 non-null   object
 15  Voie                        99892 non-null   object
 16  Code_postal                 99891 non-null   float64
 17  Commune                     100000 non-null  object
 18  Code_departement            100000 non-null  int64
 19  Code_commune                100000 non-null  int64
 20  Prefixe_de_section          1976 non-null    float64
 21  Section                     100000 non-null  object
 22  No_plan                     100000 non-null  int64
 23  No_Volume                   162 non-null     float64
 24  1er_lot                     15897 non-null   object
 25  Surface_Carrez_du_1er_lot   4746 non-null    object
 26  2eme_lot                    3706 non-null    object
 27  Surface_Carrez_du_2eme_lot  1337 non-null    object
 28  3eme_lot                    811 non-null     float64
 29  Surface_Carrez_du_3eme_lot  208 non-null     object
 30  4eme_lot                    273 non-null     float64
 31  Surface_Carrez_du_4eme_lot  50 non-null      object
 32  5eme_lot                    108 non-null     float64
 33  Surface_Carrez_du_5eme_lot  7 non-null       object
 34  Nombre_de_lots              100000 non-null  int64
 35  Code_type_local             45799 non-null   float64
 36  Type_local                  45799 non-null   object
 37  Identifiant_local           0 non-null       float64
 38  Surface_reelle_bati         45690 non-null   float64
 39  Nombre_pieces_principales   45690 non-null   float64
 40  Nature_culture              83642 non-null   object
 41  Nature_culture_speciale     3255 non-null    object
 42  Surface_terrain             83642 non-null   float64
dtypes: float64(19), int64(5), object(19)
memory usage: 32.8+ MB

In [43]:
pourcentages_nan = (dataframes[0].isna().sum() / len(dataframes[0])) * 100
# Affichez les pourcentages de NaN pour chaque colonne
print(pourcentages_nan)

Identifiant_de_document      100.00
Reference_document           100.00
1_Articles_CGI               100.00
2_Articles_CGI               100.00
3_Articles_CGI               100.00
4_Articles_CGI               100.00
5_Articles_CGI               100.00
No_disposition                 0.00
Date_mutation                  0.00
Nature_mutation                0.00
Valeur_fonciere                1.47
No_voie                       54.66
B/T/Q                         96.80
Type_de_voie                  58.98
Code_voie                      0.11
Voie                           0.11
Code_postal                    0.11
Commune                        0.00
Code_departement               0.00
Code_commune                   0.00
Prefixe_de_section            98.02
Section                        0.00
No_plan                        0.00
No_Volume                     99.84
1er_lot                       84.10
Surface_Carrez_du_1er_lot     95.25
2eme_lot                      96.29
Surface_Carrez_du_2eme_lot    98.66
3eme_lot                      99.19
Surface_Carrez_du_3eme_lot    99.79
4eme_lot                      99.73
Surface_Carrez_du_4eme_lot    99.95
5eme_lot                      99.89
Surface_Carrez_du_5eme_lot    99.99
Nombre_de_lots                 0.00
Code_type_local               54.20
Type_local                    54.20
Identifiant_local            100.00
Surface_reelle_bati           54.31
Nombre_pieces_principales     54.31
Nature_culture                16.36
Nature_culture_speciale       96.75
Surface_terrain               16.36
dtype: float64

In [44]:
# Remove empty columns 
columns_to_remove = ["Identifiant_de_document", "Reference_document", "1_Articles_CGI", "2_Articles_CGI", "3_Articles_CGI", "4_Articles_CGI", "5_Articles_CGI",
                     "B/T/Q", "Prefixe_de_section", "No_Volume", "Type_local", "Identifiant_local", "Nature_culture_speciale",
                     "1er_lot", "Surface_Carrez_du_1er_lot", "2eme_lot", "Surface_Carrez_du_2eme_lot", "3eme_lot", "Surface_Carrez_du_3eme_lot", "4eme_lot",
                     "Surface_Carrez_du_4eme_lot", "5eme_lot", "Surface_Carrez_du_5eme_lot"]

for i in range(len(dataframes)):
    # Créer une copie modifiée du DataFrame
    df_modified = dataframes[i].copy()

    df_modified = df_modified.drop(columns_to_remove, axis=1)

    df_modified = df_modified[df_modified['Nature_mutation'] == "Vente"] # que les ventes
    df_modified = df_modified.drop(columns=['Nature_mutation'])
    
    # sauvegarde
    dataframes[i] = df_modified

    

pourcentages_nan = (dataframes[0].isna().sum() / len(dataframes[0])) * 100
# Affichez les pourcentages de NaN pour chaque colonne
print(pourcentages_nan)

No_disposition               0.00
Date_mutation                0.00
Valeur_fonciere              1.22
No_voie                     52.87
Type_de_voie                57.61
Code_voie                    0.01
Voie                         0.01
Code_postal                  0.02
Commune                      0.00
Code_departement             0.00
Code_commune                 0.00
Section                      0.00
No_plan                      0.00
Nombre_de_lots               0.00
Code_type_local             53.99
Surface_reelle_bati         54.10
Nombre_pieces_principales   54.10
Nature_culture              14.17
Surface_terrain             14.17
dtype: float64

In [45]:
# Create variable 'adresse' 

columns_for_adress = ["No_voie", "Type_de_voie", "Code_voie",
                      "Voie", "Code_commune", "Code_departement"]

for i in range(len(dataframes)):
    # Créer une copie modifiée du DataFrame
    df_modified = dataframes[i].copy()

    df_modified['Code_postal'] = df_modified.groupby('Commune')['Code_postal'].transform(lambda x: x.fillna(
        method='ffill').fillna(method='bfill'))  # match les code postal vide avec les communes (bien)
    
    df_modified['No_voie'] = df_modified['No_voie'].apply(lambda x: str(int(x)) if pd.notnull(
        x) else '').astype(str)  # change le type si non il y a une valeur sinon affiche rien

    df_modified['adresse'] = df_modified['No_voie'] + ' ' + df_modified['Type_de_voie'].astype(str) + ' ' + \
        df_modified['Code_voie'].astype(str) + ' ' + df_modified['Voie'].astype(str) + ' ' + \
        df_modified['Code_postal'].astype(str) + ' ' + df_modified['Commune']
    
    
    # Après la création de l'adresse on remove les variables concatenées et les autres inutiles
    df_modified = df_modified.drop(columns_for_adress, axis=1)

    # sauvegarde
    dataframes[i] = df_modified

dataframes[0].head()

,No_disposition,Date_mutation,Valeur_fonciere,Code_postal,Commune,Section,No_plan,Nombre_de_lots,Code_type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Surface_terrain,adresse
0,1,03/01/2018,"109000,00",1000.00,BOURG-EN-BRESSE,AN,73,2,2.00,73.00,4.00,NaN,NaN,13 RUE 1660 GEN LOGEROT 1000.0 BOURG-EN-BRESSE
1,1,03/01/2018,"109000,00",1000.00,BOURG-EN-BRESSE,AN,73,1,3.00,0.00,0.00,NaN,NaN,13 RUE 1660 GEN LOGEROT 1000.0 BOURG-EN-BRESSE
2,1,04/01/2018,"239300,00",1250.00,NIVIGNE ET SURAN,AH,186,0,1.00,163.00,4.00,S,949.00,4 RUE 0025 DE LA BARMETTE 1250.0 NIVIGNE ET SURAN
3,1,04/01/2018,"239300,00",1250.00,NIVIGNE ET SURAN,AH,186,0,1.00,163.00,4.00,AG,420.00,4 RUE 0025 DE LA BARMETTE 1250.0 NIVIGNE ET SURAN
4,1,04/01/2018,"239300,00",1250.00,NIVIGNE ET SURAN,AH,186,0,1.00,51.00,2.00,AG,420.00,4 RUE 0025 DE LA BARMETTE 1250.0 NIVIGNE ET SURAN

In [46]:
# Remove duplicates (date_mutation et adresse)

for i in range(len(dataframes)):
    # Créer une copie modifiée du DataFrame
    df_modified = dataframes[i].copy()

    # Remove duplicates (date_mutation et adresse)
    df_modified = df_modified.drop_duplicates(
        subset=["Date_mutation", "adresse"])

    # 'adresse' useless maintenant => remove
    df_modified = df_modified.drop("adresse", axis=1)

    # sauvegarde
    dataframes[i] = df_modified

dataframes[0].head()

,No_disposition,Date_mutation,Valeur_fonciere,Code_postal,Commune,Section,No_plan,Nombre_de_lots,Code_type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Surface_terrain
0,1,03/01/2018,"109000,00",1000.00,BOURG-EN-BRESSE,AN,73,2,2.00,73.00,4.00,NaN,NaN
2,1,04/01/2018,"239300,00",1250.00,NIVIGNE ET SURAN,AH,186,0,1.00,163.00,4.00,S,949.00
6,1,04/01/2018,"90000,00",1380.00,SAINT-CYR-SUR-MENTHON,ZR,359,0,NaN,NaN,NaN,S,278.00
7,1,04/01/2018,"90000,00",1380.00,SAINT-CYR-SUR-MENTHON,ZR,361,0,1.00,150.00,3.00,S,347.00
9,2,10/01/2018,"3150,00",1160.00,PONT-D AIN,AM,461,0,NaN,NaN,NaN,S,126.00

In [47]:
# Affichez le nombre d'individus par modalité de la colonne 'Code_type_local'

comptage_modalites = dataframes[0]['Code_type_local'].value_counts()
print(comptage_modalites)

1.00    16146
2.00     5215
3.00     3431
4.00     1784
Name: Code_type_local, dtype: int64

In [48]:
print("before : ", len(dataframes[0]))

for i in range(len(dataframes)):
    # Créer une copie modifiée du DataFrame
    df_modified = dataframes[i].copy()

    #df_modified = df_modified.dropna() # on ne fait plus ça

    df_modified['Valeur_fonciere'] = df_modified['Valeur_fonciere'].astype(str).str.replace(',', '.').astype(float)  

    dataframes[i] = df_modified

    
print("after : ", len(dataframes[0]), "\n")

comptage_modalites = dataframes[0]['Code_type_local'].value_counts()
print(comptage_modalites)

before :  50169
after :  50169

1.00    16146
2.00     5215
3.00     3431
4.00     1784
Name: Code_type_local, dtype: int64

In [49]:
masque_nan = dataframes[0].isna()

# Utilisez sum() pour compter le nombre de valeurs manquantes (True) dans chaque colonne
nombre_nan_par_colonne = masque_nan.sum()
print(nombre_nan_par_colonne)

No_disposition                   0
Date_mutation                    0
Valeur_fonciere                433
Code_postal                      0
Commune                          0
Section                          0
No_plan                          0
Nombre_de_lots                   0
Code_type_local              23593
Surface_reelle_bati          23665
Nombre_pieces_principales    23665
Nature_culture                8021
Surface_terrain               8021
dtype: int64

In [50]:
# Remove individus with at least one NaN and individus à 1e symbolique

print("before : ", len(dataframes[0]))

for i in range(len(dataframes)):
    df_modified = dataframes[i].copy()
   

    # OUTLIERS 
    df_modified = df_modified.dropna(subset=['Valeur_fonciere'])
    Q1 = df_modified['Valeur_fonciere'].quantile(0.25)
    Q3 = df_modified['Valeur_fonciere'].quantile(0.75)
    
    #print(Q1)
    #print(Q3)

    IQR = Q3 - Q1

    # Définissez les limites supérieure et inférieure pour détecter les outliers
    limite_inferieure = Q1 - 0.3 * IQR
    limite_superieure = Q3 + 1.7 * IQR

    print(limite_inferieure)
    print(limite_superieure,"\n")
    
    df_sans_outliers = df_modified[(df_modified['Valeur_fonciere'] >= limite_inferieure) & (df_modified['Valeur_fonciere'] <= limite_superieure)]

    # sauvegarde
    dataframes[i] = df_sans_outliers


print("after : ", len(dataframes[0]), "\n")

comptage_modalites = dataframes[0]['Code_type_local'].value_counts()
print(comptage_modalites)

before :  50169
-12554.599999999999
429741.4

after :  47164

1.00    15227
2.00     4991
3.00     3288
4.00     1515
Name: Code_type_local, dtype: int64

In [51]:
# Créer la variable "month" & "year" 

# NB : Utile si on la mets en 'int' et pas en objet, car le prix de l'immobilier augmente chaque année, donc plus l'année augmente plus le prix aussi
# alors qu'en 'objet' inutile car dans ce sont les data de 2022 qui vont être testés (à revoir quand même)


for i in range(len(dataframes)):
    # Créer une copie modifiée du DataFrame
    df_modified = dataframes[i].copy()

    df_modified['Date_mutation'] = pd.to_datetime(df_modified['Date_mutation'], format='%d/%m/%Y')

    # Extract the year component and create a new 'year' column
    df_modified['day'] = df_modified['Date_mutation'].dt.day
    df_modified['day'] = df_modified['day'].astype(object)

    df_modified['month'] = df_modified['Date_mutation'].dt.month
    df_modified['month'] = df_modified['month'].astype(object)

    df_modified['year'] = df_modified['Date_mutation'].dt.year
    df_modified['year'] = df_modified['year'].astype(object)

    df_modified = df_modified.drop("Date_mutation",axis=1)
    
    # sauvegarde
    dataframes[i] = df_modified

dataframes[0].head()

,No_disposition,Valeur_fonciere,Code_postal,Commune,Section,No_plan,Nombre_de_lots,Code_type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Surface_terrain,day,month,year
0,1,109000.00,1000.00,BOURG-EN-BRESSE,AN,73,2,2.00,73.00,4.00,NaN,NaN,3,1,2018
2,1,239300.00,1250.00,NIVIGNE ET SURAN,AH,186,0,1.00,163.00,4.00,S,949.00,4,1,2018
6,1,90000.00,1380.00,SAINT-CYR-SUR-MENTHON,ZR,359,0,NaN,NaN,NaN,S,278.00,4,1,2018
7,1,90000.00,1380.00,SAINT-CYR-SUR-MENTHON,ZR,361,0,1.00,150.00,3.00,S,347.00,4,1,2018
9,2,3150.00,1160.00,PONT-D AIN,AM,461,0,NaN,NaN,NaN,S,126.00,10,1,2018

In [52]:
# Change data types

for i in range(len(dataframes)):
    # Créer une copie modifiée du DataFrame
    df_modified = dataframes[i].copy()

    df_modified = df_modified.dropna(subset=['Code_postal'])
    df_modified['Code_postal'] = df_modified['Code_postal'].astype(int)
    df_modified['Code_postal'] = df_modified['Code_postal'].astype(object) # puis en objet


    # sauvegarde
    dataframes[i] = df_modified


print(dataframes[0].info())
dataframes[0].head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47164 entries, 0 to 99999
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   No_disposition             47164 non-null  int64
 1   Valeur_fonciere            47164 non-null  float64
 2   Code_postal                47164 non-null  object
 3   Commune                    47164 non-null  object
 4   Section                    47164 non-null  object
 5   No_plan                    47164 non-null  int64
 6   Nombre_de_lots             47164 non-null  int64
 7   Code_type_local            25021 non-null  float64
 8   Surface_reelle_bati        24978 non-null  float64
 9   Nombre_pieces_principales  24978 non-null  float64
 10  Nature_culture             39434 non-null  object
 11  Surface_terrain            39434 non-null  float64
 12  day                        47164 non-null  object
 13  month                      47164 non-null  object
 14  year                       47164 non-null  object
dtypes: float64(5), int64(3), object(7)
memory usage: 5.8+ MB
None

,No_disposition,Valeur_fonciere,Code_postal,Commune,Section,No_plan,Nombre_de_lots,Code_type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Surface_terrain,day,month,year
0,1,109000.00,1000,BOURG-EN-BRESSE,AN,73,2,2.00,73.00,4.00,NaN,NaN,3,1,2018
2,1,239300.00,1250,NIVIGNE ET SURAN,AH,186,0,1.00,163.00,4.00,S,949.00,4,1,2018
6,1,90000.00,1380,SAINT-CYR-SUR-MENTHON,ZR,359,0,NaN,NaN,NaN,S,278.00,4,1,2018
7,1,90000.00,1380,SAINT-CYR-SUR-MENTHON,ZR,361,0,1.00,150.00,3.00,S,347.00,4,1,2018
9,2,3150.00,1160,PONT-D AIN,AM,461,0,NaN,NaN,NaN,S,126.00,10,1,2018

In [53]:
# Load longitude, latitude, 'Code_postal' dataframe

geo = pd.read_csv('../data/communes-departement-region.csv')

geo.head()

,code_commune_INSEE,nom_commune_postal,code_postal,libelle_acheminement,ligne_5,latitude,longitude,code_commune,article,nom_commune,nom_commune_complet,code_departement,nom_departement,code_region,nom_region
0,1001,L ABERGEMENT CLEMENCIAT,1400,L ABERGEMENT CLEMENCIAT,NaN,46.15,4.93,1.00,L',Abergement-Clémenciat,L'Abergement-Clémenciat,1,Ain,84.00,Auvergne-Rhône-Alpes
1,1002,L ABERGEMENT DE VAREY,1640,L ABERGEMENT DE VAREY,NaN,46.01,5.43,2.00,L',Abergement-de-Varey,L'Abergement-de-Varey,1,Ain,84.00,Auvergne-Rhône-Alpes
2,1004,AMBERIEU EN BUGEY,1500,AMBERIEU EN BUGEY,NaN,45.96,5.37,4.00,NaN,Ambérieu-en-Bugey,Ambérieu-en-Bugey,1,Ain,84.00,Auvergne-Rhône-Alpes
3,1005,AMBERIEUX EN DOMBES,1330,AMBERIEUX EN DOMBES,NaN,46.00,4.91,5.00,NaN,Ambérieux-en-Dombes,Ambérieux-en-Dombes,1,Ain,84.00,Auvergne-Rhône-Alpes
4,1006,AMBLEON,1300,AMBLEON,NaN,45.75,5.59,6.00,NaN,Ambléon,Ambléon,1,Ain,84.00,Auvergne-Rhône-Alpes

In [54]:

geo.rename(columns={'code_postal': 'Code_postal'}, inplace=True)
geo.rename(columns={'nom_commune_postal': 'Commune'}, inplace=True)
geo.rename(columns={'code_departement': 'Code_departement'}, inplace=True)

doublons = geo[geo.duplicated(subset=['Code_postal', 'Commune'], keep=False)] # voir les doublons

geo = geo.drop_duplicates(subset=['Code_postal', 'Commune']) # OK -> supprmime les doublons Code postal => Commune, car quelques fois il y a une 'petite' commune dedans la grande enfin bref
geo['Commune'] = geo['Commune'].str.replace('-', ' ') 
geo['Commune'] = geo['Commune'].str.replace('ST', 'SAINT')  # format 'ST' et 'SAINT'
geo['Commune'] = geo['Commune'].str.replace('\'', ' ')

geo_commune = geo[['Commune', 'Code_postal', 'latitude', 'longitude']]


for i in range(len(dataframes)):
    # Créer une copie modifiée du DataFrame
    df_modified = dataframes[i].copy()

    # Changement de format pour le merge, pour uniformiser tout et garder le maximum d information
    
    df_modified['Commune'] = df_modified['Commune'].str.replace('-', ' ')

    
    df_modified['Commune'] = df_modified['Commune'].str.replace('ST', 'SAINT')

    
    df_modified['Commune'] = df_modified['Commune'].str.replace('\'', ' ')


    # MERGE
    
    df_modified = pd.merge(df_modified, geo_commune, on=[
        'Commune', 'Code_postal'], how='left')  # OK -> merge la commune et le code postal, car desfois la commune est dans différent département 


    # Le reste des communes non trouvé c'est des erreurs dans le fichier geo, exemple => LA SALLE DES ALPES, dans les data => "LA SALLE", IMPOSSIBLE À gérer ce genre d'erreur humaine => à enlever
    print(df_modified['longitude'].isna().sum()," individus avec un nom de commune pas trouvé, on les enlève du dataset")
    df_modified = df_modified.dropna(subset=['longitude'])

    print("nombre final d'individus : ",len(df_modified))

    #df.head(20)
    # sauvegarde
    dataframes[i] = df_modified

550  individus avec un nom de commune pas trouvé, on les enlève du dataset
nombre final d'individus :  46614

In [55]:
def assign_department(code_postal):
    if 20000 <= code_postal <= 20190:
        return '2A' # Pour gérer la corse sud
    elif 20200 <= code_postal <= 20270:
        return '2B' # Pour gérer la corse nord
    elif len(str(code_postal)) == 4:
        dep = '0' + str(code_postal)[:1] # Pour gérer les 10 premiers département
        return dep
    else:
        dep = str(code_postal)[:2]
        return dep 

for i in range(len(dataframes)):
    # Créer une copie modifiée du DataFrame
    df_modified = dataframes[i].copy()
    # Appliquez la fonction à la colonne 'Code_postal' en utilisant apply()
    df_modified['Departement'] = df_modified['Code_postal'].apply(lambda x: assign_department(x))
    df_modified['Departement'] = df_modified['Departement'].astype(str)

    dataframes[i] = df_modified

In [56]:
# sample random % of each year
df_18_nan = dataframes[0].sample(frac=1, random_state=42)


df_sauvegarde_with_nan = pd.concat([df_18_nan], axis=0)

In [57]:
# Change data types

for i in range(len(dataframes)):
    # Créer une copie modifiée du DataFrame
    df_modified = dataframes[i].copy()
    
    # Créer une copie modifiée du DataFrame
    df_modified = df_modified.dropna() # test
    
    df_modified['Code_type_local'] = df_modified['Code_type_local'].astype(int)  

    dataframes[i] = df_modified

In [58]:
# sample random % of each year
df_18_s = dataframes[0].sample(frac=1, random_state=42)


# Combine sampled subsets
df = pd.concat([df_18_s], axis=0)

In [59]:
# Standardise les données 
#from sklearn.preprocessing import StandardScaler
#scaler = StandardScaler()
# Standardiser toutes les colonnes du DataFrame

# il faut encoder !! puis standardiser !!
#df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
#df.head()

In [60]:
# CLASSIF de Code_type_local

from sklearn.model_selection import train_test_split # Import train_test_split function
# ########### Random forest
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, ConfusionMatrixDisplay
from sklearn.model_selection import RandomizedSearchCV, train_test_split
from scipy.stats import randint

# Random forest mieux mais 8min de calcul


X = df.drop(columns=['Code_type_local','Commune','Section','No_plan','Nature_culture','Departement','Code_postal','day','month','year','latitude','longitude'])

y = df['Code_type_local'] # Target variable

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

    
modele_decision_tree = DecisionTreeClassifier(random_state=42)

modele_decision_tree.fit(X_train, y_train)
y_pred = modele_decision_tree.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.9305852615205134

In [61]:
# Réimporter les données de base, tous ceux qui ont Code_type_local == NaN
# puis appliquer le modèle le classif => sauvegarder pleins d'individus

# Réimportez les données de base avec Code_type_local manquant

#Index(['Nombre_pieces_principales', 'Surface_terrain']

# Sélectionnez les individus avec Code_type_local manquant
individus_manquants = df_sauvegarde_with_nan[df_sauvegarde_with_nan['Code_type_local'].isna()]
print(individus_manquants)
X_manquants = individus_manquants.drop(columns=['Code_type_local','Commune','Section','No_plan','Nature_culture','Departement','Code_postal','day','month','year','latitude','longitude'])
print(X_manquants)
y = individus_manquants['Code_type_local']


# Prédisez Code_type_local pour les individus manquants
predictions_code_type_local = modele_decision_tree.predict(X_manquants)

# Remplacez les valeurs manquantes dans le DataFrame original avec les prédictions
df_sauvegarde_with_nan.loc[df_sauvegarde_with_nan['Code_type_local'].isna(), 'Code_type_local'] = predictions_code_type_local


df_sauvegarde_with_nan.head()

       No_disposition  Valeur_fonciere Code_postal  \
4157                1        295800.00        1960
43059               1          3000.00        4320
24047               1        257343.00        2290
17303               1        100000.00        2340
11330               1          5000.00        1200
...               ...              ...         ...
37600               2         13950.00        3430
17156               1         92000.00        2700
11516               1         12095.00        1100
38576               1           100.00        3500
16087               1        235000.00        1700

                           Commune Section  No_plan  Nombre_de_lots  \
4157                      PERONNAS      AL       25               0
43059                      SAUSSES       A      411               0
24047                      AMBLENY      ZC      113               0
17303          CLERMONT LES FERMES      ZD       29               0
11330                       VILLES       A      175               0
...                            ...     ...      ...             ...
37600                    TORTEZAIS      ZC        1               0
17156                     TERGNIER      AH      398               0
11516                    MARTIGNAT       C      994               0
38576      VERNEUIL EN BOURBONNAIS      ZB       48               0
16087  SAINT MAURICE DE BEYNOSAINT      AH      310               0

       Code_type_local  Surface_reelle_bati  Nombre_pieces_principales  \
4157               NaN                  NaN                        NaN
43059              NaN                  NaN                        NaN
24047              NaN                  NaN                        NaN
17303              NaN                  NaN                        NaN
11330              NaN                  NaN                        NaN
...                ...                  ...                        ...
37600              NaN                  NaN                        NaN
17156              NaN                  NaN                        NaN
11516              NaN                  NaN                        NaN
38576              NaN                  NaN                        NaN
16087              NaN                  NaN                        NaN

      Nature_culture  Surface_terrain day month  year  latitude  longitude  \
4157               S           919.00  16    11  2018     46.17       5.22
43059             BT          2610.00  28     8  2018     44.01       6.78
24047              T           743.00   2     3  2018     49.38       3.18
17303              J           508.00  14     3  2018     49.66       3.94
11330             BS          4900.00   4    12  2018     46.10       5.76
...              ...              ...  ..   ...   ...       ...        ...
37600              T         12183.00  24     9  2018     46.45       2.87
17156              S           136.00  17     2  2018     49.66       3.30
11516              P            30.00   4    12  2018     46.20       5.61
38576             CA           620.00   1     3  2018     46.35       3.25
16087              S          1123.00  22    11  2018     45.83       4.98

      Departement
4157           01
43059          04
24047          02
17303          02
11330          01
...           ...
37600          03
17156          02
11516          01
38576          03
16087          01

[21842 rows x 18 columns]
       No_disposition  Valeur_fonciere  Nombre_de_lots  Surface_reelle_bati  \
4157                1        295800.00               0                  NaN
43059               1          3000.00               0                  NaN
24047               1        257343.00               0                  NaN
17303               1        100000.00               0                  NaN
11330               1          5000.00               0                  NaN
...               ...              ...             ...                  ...
37600               2         13950.00               0                  NaN
17156               1         92000.00               0                  NaN
11516               1         12095.00               0                  NaN
38576               1           100.00               0                  NaN
16087               1        235000.00               0                  NaN

       Nombre_pieces_principales  Surface_terrain
4157                         NaN           919.00
43059                        NaN          2610.00
24047                        NaN           743.00
17303                        NaN           508.00
11330                        NaN          4900.00
...                          ...              ...
37600                        NaN         12183.00
17156                        NaN           136.00
11516                        NaN            30.00
38576                        NaN           620.00
16087                        NaN          1123.00

[21842 rows x 6 columns]

ValueError: Input X contains NaN.
DecisionTreeClassifier does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [ ]:
df_last = pd.concat([df,df_sauvegarde_with_nan])

In [ ]:
median_surface_by_type = df_last.groupby('Code_type_local')['Surface_reelle_bati'].median()
# Remplacez les NaN dans "Surface_reelle_bat" par la médiane correspondante basée sur "Code_type_local"
df_last['Surface_reelle_bati'] = df_last['Surface_reelle_bati'].fillna(df_last['Code_type_local'].map(median_surface_by_type))

median_surface_by_type = df_last.groupby('Code_type_local')['Nombre_pieces_principales'].median()
# Remplacez les NaN dans "Surface_reelle_bat" par la médiane correspondante basée sur "Code_type_local"
df_last['Nombre_pieces_principales'] = df_last['Nombre_pieces_principales'].fillna(df_last['Code_type_local'].map(median_surface_by_type))


df_last = df_last.drop(columns=["Nature_culture","Surface_terrain"])

pourcentages_nan = (df_last.isna().sum() / len(df_last)) * 100
# Affichez les pourcentages de NaN pour chaque colonne
print(pourcentages_nan)
print(len(df_last))

df_last.head()

No_disposition              0.00
Valeur_fonciere             0.00
Code_postal                 0.00
Commune                     0.00
Section                     0.00
No_plan                     0.00
Nombre_de_lots              0.00
Code_type_local             0.00
Surface_reelle_bati         0.00
Nombre_pieces_principales   0.00
day                         0.00
month                       0.00
year                        0.00
latitude                    0.00
longitude                   0.00
Departement                 0.00
dtype: float64
8379674

,No_disposition,Valeur_fonciere,Code_postal,Commune,Section,No_plan,Nombre_de_lots,Code_type_local,Surface_reelle_bati,Nombre_pieces_principales,day,month,year,latitude,longitude,Departement
668039,1,109500.00,43130,RETOURNAC,B,163,0,1.00,77.00,3.00,19,7,2018,45.22,4.03,43
352633,1,305000.00,27600,FONTAINE BELLENGER,A,884,0,1.00,170.00,5.00,18,8,2018,49.18,1.25,27
518138,1,91000.00,34390,SAINT JULIEN,B,253,0,1.00,80.00,3.00,5,2,2018,43.58,2.90,34
1405590,1,194200.00,91150,ETAMPES,AP,181,0,1.00,110.00,5.00,21,6,2018,48.42,2.14,91
908755,1,80000.00,59950,AUBY,B,4881,0,1.00,76.00,3.00,14,9,2018,50.41,3.06,59

In [ ]:
df = df_last

In [ ]:
# Ajouter variable Prix_moyen_m2

import numpy as np 

# Groupez les données par 'Commune' et calculez la somme de 'Surface_reel' et 'Valeur_fonciere' pour chaque commune
groupe_commune = df.groupby('Commune').agg({'Surface_reelle_bati': 'sum', 'Valeur_fonciere': 'sum'})

# Calculez le prix moyen au mètre carré par commune
groupe_commune['Prix_moyen_m2'] = groupe_commune['Valeur_fonciere'] / groupe_commune['Surface_reelle_bati']


# Fusionnez le DataFrame original avec le DataFrame groupe_commune sur la colonne 'Commune'
df = pd.merge(df, groupe_commune[['Prix_moyen_m2']], left_on='Commune', right_index=True, how='left')

df = df.replace([np.inf, -np.inf], np.nan)  # Remplace les inf par NaN
df = df.dropna(subset=['Prix_moyen_m2'], how='any')  # Supprime les lignes avec NaN dans 'Prix_moyen_m2'

df.head()

,No_disposition,Valeur_fonciere,Code_postal,Commune,Section,No_plan,Nombre_de_lots,Code_type_local,Surface_reelle_bati,Nombre_pieces_principales,day,month,year,latitude,longitude,Departement,Prix_moyen_m2
668039,1,109500.00,43130,RETOURNAC,B,163,0,1.00,77.00,3.00,19,7,2018,45.22,4.03,43,943.19
352633,1,305000.00,27600,FONTAINE BELLENGER,A,884,0,1.00,170.00,5.00,18,8,2018,49.18,1.25,27,1389.41
518138,1,91000.00,34390,SAINT JULIEN,B,253,0,1.00,80.00,3.00,5,2,2018,43.58,2.90,34,1773.86
1405590,1,194200.00,91150,ETAMPES,AP,181,0,1.00,110.00,5.00,21,6,2018,48.42,2.14,91,2298.42
908755,1,80000.00,59950,AUBY,B,4881,0,1.00,76.00,3.00,14,9,2018,50.41,3.06,59,1381.45

In [ ]:
chemin_vers_projet = '/home/nathan/fac/m2/s1/python/projet_prediction/'

# Définir l'espace de travail (répertoire de travail)
#os.chdir(chemin_vers_projet)

df.to_pickle('../data/dataframe_clean_last_version.pkl')

In [ ]:
# TEST MAISON #

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.metrics import r2_score

# MSE : 3 184 771 589 078.1714 avec 5 colonnes et 100 000 lignes au début du programme (régression linéaire)
# MSE : 9 351 187 946 604.617 avec 11 colonnes et 700 000 lignes au début du programme
# MSE : 9 621 056 123 391.139 en changeant le code type local == 1
# MSE : 2 642 213 419 979.8486 avec 5 colonnes et 100 000 lignes au début du programme (avec year, code postal, et nature mutation) (code local == 1)
# MSE : 2 642 223 129 457.908 avec pareil mais Lasso (few features should be important) (code local == 1)
# MSE : 2 283 126 024 532.157 avec pareil mais Ridge (lot of features should be important) (code local == 1)
# MSE : 1 481 548 894 581.531 avec Ridge mais 300 000 lignes (code local == 1)
# MSE : 1 419 765 756 499.442 avec Lasso mais 300 000 lignes (code local == 1)
# MSE : 15 011 506 135 748.002 avec Lasso mais 1 021 105 lignes (code local == 1)
# MSE : 6 011 506 135 748.002 avec Ridge mais ... lignes (code local == 1)

df_test = df.copy()
# test seulement avec le code local == 1
df_test = df_test[df_test['Code_type_local'] == 1]
df_test = df_test.drop(columns=["Code_type_local"])


print("nombre individus dataframe global : ",len(df_test), "\n")


# test drop colonne
X = df_test.drop(columns=['Valeur_fonciere', 'Commune', 'Section','day','No_plan', 'No_disposition','latitude','longitude','Code_postal','month'])
print(X.columns)

X = pd.get_dummies(X, columns=['year','Departement'])


y = df_test['Valeur_fonciere']  # Variable cible

# Séparez les données en ensembles d'entraînement et de test (par exemple, 80% pour l'entraînement et 20% pour le test)
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.5, random_state=42)

# Initialisez le modèle Ridge
modele_ridge = Ridge(alpha=1.0)  # L'alpha est le paramètre de régularisation

modele_ridge.fit(X_train,y_train)
# Entraînez le modèle sur les donné
# Prédisez les valeurs sur l'ensemble de test
predictions = modele_ridge.predict(X_test)

# Calculez l'erreur quadratique moyenne (MSE) pour évaluer la performance du modèle
mse = mean_squared_error(y_test, predictions)

# Affichez l'erreur quadratique moyenne
print("Erreur Quadratique Moyenne (MSE) : ", mse)

# Créez un DataFrame avec les valeurs prédites et les valeurs réelles
resultats = pd.DataFrame(
    {'Valeur_reelle': y_test, 'Valeur_predite': predictions})

# Affichez les valeurs prédites par rapport aux valeurs réelles
print(resultats)
# Calculez le R carré
r2 = r2_score(y_test, predictions)
# Affichez le R carré
print("R carré :", r2)

nombre individus dataframe global :  5784134

Index(['Nombre_de_lots', 'Surface_reelle_bati', 'Nombre_pieces_principales',
       'year', 'Departement', 'Prix_moyen_m2'],
      dtype='object')
Erreur Quadratique Moyenne (MSE) :  8182930287.198272
         Valeur_reelle  Valeur_predite
1371275      311050.00       206969.66
579627       405000.00       243085.48
1311081      137500.00       160495.53
1299476      420000.00       354781.80
746510       200000.00       155329.95
...                ...             ...
503555       225000.00       187819.71
134534        30000.00       108996.47
941002       203000.00       196204.70
680057        47491.00       114911.40
381015       133000.00       120437.30

[2892067 rows x 2 columns]
R carré : 0.4294134400437032

In [ ]:
# TEST APPARTEMENT #

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.metrics import r2_score


df_test = df.copy()

# test seulement avec le code local == 2
df_test = df_test[df_test['Code_type_local'] == 2]
print(df['Code_type_local'].value_counts())

df_test = df_test.drop(columns=["Code_type_local"])

print("nombre individus dataframe global : ",len(df_test), "\n")


# test drop colonne
X = df_test.drop(columns=['Valeur_fonciere', 'Commune', 'Section','day','No_plan', 'No_disposition','latitude','longitude','Code_postal','month'])
print(X.columns)

X = pd.get_dummies(X, columns=['year','Departement'])

y = df_test['Valeur_fonciere']  # Variable cible

# Séparez les données en ensembles d'entraînement et de test (par exemple, 80% pour l'entraînement et 20% pour le test)
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)

# Initialisez le modèle Ridge
modele_ridge = Ridge(alpha=1.0)  # L'alpha est le paramètre de régularisation

modele_ridge.fit(X_train,y_train)

# Entraînez le modèle sur les donné
# Prédisez les valeurs sur l'ensemble de test
predictions = modele_ridge.predict(X_test)

# Calculez l'erreur quadratique moyenne (MSE) pour évaluer la performance du modèle
mse = mean_squared_error(y_test, predictions)

# Affichez l'erreur quadratique moyenne
print("Erreur Quadratique Moyenne (MSE) : ", mse)

# Créez un DataFrame avec les valeurs prédites et les valeurs réelles
resultats = pd.DataFrame(
    {'Valeur_reelle': y_test, 'Valeur_predite': predictions})

# Affichez les valeurs prédites par rapport aux valeurs réelles
print(resultats)
# Calculez le R carré
r2 = r2_score(y_test, predictions)
# Affichez le R carré
print("R carré :", r2)

Code_type_local
1.00    5784134
2.00    1187345
3.00    1116612
4.00     291577
Name: count, dtype: int64
nombre individus dataframe global :  1187345

Index(['Nombre_de_lots', 'Surface_reelle_bati', 'Nombre_pieces_principales',
       'year', 'Departement', 'Prix_moyen_m2'],
      dtype='object')
Erreur Quadratique Moyenne (MSE) :  6592433068.862309
         Valeur_reelle  Valeur_predite
1434216      260000.00       231422.73
1092898       19520.00        -2607.74
231834        71000.00       133996.88
633829        76600.00       120807.99
1118660      123000.00       206179.80
...                ...             ...
1118698       94700.00       122015.56
1577661      159200.00       180227.92
1365512       92000.00       143116.70
1398977      188000.00       229692.37
1300946      219000.00       162092.57

[237469 rows x 2 columns]
R carré : 0.4473017101818916

In [ ]:
# TEST dépendance #

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.metrics import r2_score


df_test = df.copy()

# test seulement avec le code local == 3
df_test = df_test[df_test['Code_type_local'] == 3]
print(df['Code_type_local'].value_counts())

df_test = df_test.drop(columns=["Code_type_local"])

print("nombre individus dataframe global : ",len(df_test), "\n")


# test drop colonne
X = df_test.drop(columns=['Valeur_fonciere', 'Commune', 'Section','day','No_plan', 'No_disposition','latitude','longitude','Code_postal','month'])
print(X.columns)

X = pd.get_dummies(X, columns=['year','Departement'])

y = df_test['Valeur_fonciere']  # Variable cible

# Séparez les données en ensembles d'entraînement et de test (par exemple, 80% pour l'entraînement et 20% pour le test)
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)

# Initialisez le modèle Ridge
modele_ridge = Ridge(alpha=1.0)  # L'alpha est le paramètre de régularisation

modele_ridge.fit(X_train,y_train)

# Entraînez le modèle sur les donné
# Prédisez les valeurs sur l'ensemble de test
predictions = modele_ridge.predict(X_test)

# Calculez l'erreur quadratique moyenne (MSE) pour évaluer la performance du modèle
mse = mean_squared_error(y_test, predictions)

# Affichez l'erreur quadratique moyenne
print("Erreur Quadratique Moyenne (MSE) : ", mse)

# Créez un DataFrame avec les valeurs prédites et les valeurs réelles
resultats = pd.DataFrame(
    {'Valeur_reelle': y_test, 'Valeur_predite': predictions})

# Affichez les valeurs prédites par rapport aux valeurs réelles
print(resultats)
# Calculez le R carré
r2 = r2_score(y_test, predictions)
# Affichez le R carré
print("R carré :", r2)

Code_type_local
1.00    5784134
2.00    1187345
3.00    1116612
4.00     291577
Name: count, dtype: int64
nombre individus dataframe global :  1116612

Index(['Nombre_de_lots', 'Surface_reelle_bati', 'Nombre_pieces_principales',
       'year', 'Departement', 'Prix_moyen_m2'],
      dtype='object')
Erreur Quadratique Moyenne (MSE) :  12131310425.678213
         Valeur_reelle  Valeur_predite
1433992      152000.00       156556.30
30487         60800.00       123911.69
792353        35000.00       114505.42
1806541      190000.00       194401.83
1525588      202000.00       171371.80
...                ...             ...
1382357       28550.00       180417.47
901538       228000.00       184398.12
350622       249500.00       134338.01
376118        80000.00        80562.82
848621       168100.00       142789.13

[223323 rows x 2 columns]
R carré : 0.16893921402358458

In [ ]:
# # TEST Dépendance #

# from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LinearRegression
# from sklearn.metrics import mean_squared_error
# from sklearn.linear_model import Lasso
# from sklearn.linear_model import Ridge
# from sklearn.metrics import r2_score


# df_test = df.copy()

# # test seulement avec le code local == 2
# df_test = df_test[df_test['Code_type_local'] == 4]

# df_test = df_test.drop(columns=["Code_type_local"])

# print("nombre individus dataframe global : ",len(df_test), "\n")


# # test drop colonne
# X = df_test.drop(columns=['Valeur_fonciere', 'Commune', 'Section','day','No_plan', 'No_disposition', 'Nature_culture','latitude','longitude','Code_postal'])
# print(X.columns)

# X = pd.get_dummies(X, columns=['month','year','Departement'])


# y = df_test['Valeur_fonciere']  # Variable cible

# # Séparez les données en ensembles d'entraînement et de test (par exemple, 80% pour l'entraînement et 20% pour le test)
# X_train, X_test, y_train, y_test = train_test_split(
#     X, y, test_size=0.2, random_state=42)

# # Initialisez le modèle Ridge
# modele_ridge = Ridge(alpha=1.0)  # L'alpha est le paramètre de régularisation

# modele_ridge.fit(X_train,y_train)

# # Entraînez le modèle sur les donné
# # Prédisez les valeurs sur l'ensemble de test
# predictions = modele_ridge.predict(X_test)

# # Calculez l'erreur quadratique moyenne (MSE) pour évaluer la performance du modèle
# mse = mean_squared_error(y_test, predictions)

# # Affichez l'erreur quadratique moyenne
# print("Erreur Quadratique Moyenne (MSE) : ", mse)

# # Créez un DataFrame avec les valeurs prédites et les valeurs réelles
# resultats = pd.DataFrame(
#     {'Valeur_reelle': y_test, 'Valeur_predite': predictions})

# # Affichez les valeurs prédites par rapport aux valeurs réelles
# print(resultats)
# # Calculez le R carré
# r2 = r2_score(y_test, predictions)
# # Affichez le R carré
# print("R carré :", r2)

nombre individus dataframe global :  291577

KeyError: "['Nature_culture'] not found in axis"

In [ ]:
# TODO : 
# enlever les extrêmes (1e symbolique etc...)
# imputation de données manquantes => KNN,  arbre !
# puis clustering sur le type de local

In [ ]:
!pip install kaggle

Collecting kaggle
  Downloading kaggle-1.5.16.tar.gz (83 kB)
     ---------------------------------------- 0.0/83.6 kB ? eta -:--:--
     ---------------------------------------- 83.6/83.6 kB 2.4 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: six>=1.10 in c:\users\nagrimault\appdata\roaming\python\python311\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in c:\python311\lib\site-packages (from kaggle) (2023.7.22)
Requirement already satisfied: python-dateutil in c:\users\nagrimault\appdata\roaming\python\python311\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in c:\python311\lib\site-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in c:\python311\lib\site-packages (from kaggle) (4.66.1)
Collecting python-slugify (from kaggle)
  Downloading python_slugify-8.0.1-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: urllib3 in c:\python311\lib\site-packages (from kaggle) (2.0.6)
Collecting bleach (from kaggle)
  Obtaining dependency information for bleach from https://files.pythonhosted.org/packages/ea/63/da7237f805089ecc28a3f36bca6a21c31fcbc2eb380f3b8f1be3312abd14/bleach-6.1.0-py3-none-any.whl.metadata
  Downloading bleach-6.1.0-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: webencodings in c:\python311\lib\site-packages (from bleach->kaggle) (0.5.1)
Collecting text-unidecode>=1.3 (from python-slugify->kaggle)
  Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
     ---------------------------------------- 0.0/78.2 kB ? eta -:--:--
     ---------------------------------------- 78.2/78.2 kB 4.5 MB/s eta 0:00:00
Requirement already satisfied: charset-normalizer<4,>=2 in c:\python311\lib\site-packages (from requests->kaggle) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in c:\python311\lib\site-packages (from requests->kaggle) (3.4)
Requirement already satisfied: colorama in c:\users\nagrimault\appdata\roaming\python\python311\site-packages (from tqdm->kaggle) (0.4.6)
Downloading bleach-6.1.0-py3-none-any.whl (162 kB)
   ---------------------------------------- 0.0/162.8 kB ? eta -:--:--
   ---------------------------------------- 162.8/162.8 kB 4.9 MB/s eta 0:00:00
Building wheels for collected packages: kaggle
  Building wheel for kaggle (pyproject.toml): started
  Building wheel for kaggle (pyproject.toml): finished with status 'done'
  Created wheel for kaggle: filename=kaggle-1.5.16-py3-none-any.whl size=110693 sha256=a8328370aa32accb6ba09d0d031ba8339c5b0cedcaa4075222813b2205079b61
  Stored in directory: c:\users\nagrimault\appdata\local\pip\cache\wheels\6a\2b\d0\457dd27de499e9423caf738e743c4a3f82886ee6b19f89d5b7
Successfully built kaggle
Installing collected packages: text-unidecode, python-slugify, bleach, kaggle

WARNING: Ignoring invalid distribution ~atplotlib (C:\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~atplotlib (C:\Python311\Lib\site-packages)
  WARNING: Failed to write executable - trying to use .deleteme logic
ERROR: Could not install packages due to an OSError: [WinError 2] Le fichier spécifié est introuvable: 'C:\\Python311\\Scripts\\slugify.exe' -> 'C:\\Python311\\Scripts\\slugify.exe.deleteme'