In [1]:
import os
#os.chdir('/Users/josephpelham/Desktop/SISE/Python/Donnees')
#os.chdir('/home/nathan/fac/m2/s1/python/td1')


# !! changer les chemins relatifs !!

# TODO :
# Enlever les colonnes inutile à la main (et pour les > 75% de Nan) => plus explicite OK
# enlever les individus qui comportent au moins une variable Nan OK
# enlever les individus où l'adresse et la date est la même OK
# enlever 1e symbolique et les 0e OK

# enlever les extrêmes (prix trop élevé) 
# régler le département pour Corse dans ce fichier là

# NB : faire un modele de régression pour chaque type de local

In [47]:
## Import Data ## 
import pandas as pd
import random

# ! options !
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:.2f}'.format)

chemin_fichier_2018 = '/home/nathan/fac/m2/s1/python/td1/valeursfoncieres-2018.txt'
chemin_fichier_2019 = '/home/nathan/fac/m2/s1/python/td1/valeursfoncieres-2019.txt'
chemin_fichier_2020 = '/home/nathan/fac/m2/s1/python/td1/valeursfoncieres-2020.txt'
chemin_fichier_2021 = '/home/nathan/fac/m2/s1/python/td1/valeursfoncieres-2021.txt'

chemin_fichier_2018 = '../valeursfoncieres-2018.txt'
chemin_fichier_2019 = '../valeursfoncieres-2019.txt'
chemin_fichier_2020 = '../valeursfoncieres-2020.txt'
chemin_fichier_2021 = '../valeursfoncieres-2021.txt'

#nombre_total_lignes = 700000
nombre_total_lignes = 300000

# Pour prendre n individus aléatoire par fichier mais très long car il faut importer tout les fichiers en entier
indices_aleatoires_2018 = random.sample(
    range(1, nombre_total_lignes + 1), nombre_total_lignes)
indices_aleatoires_2019 = random.sample(
    range(1, nombre_total_lignes + 1), nombre_total_lignes)
indices_aleatoires_2020 = random.sample(
    range(1, nombre_total_lignes + 1), nombre_total_lignes)
indices_aleatoires_2021 = random.sample(
    range(1, nombre_total_lignes + 1), nombre_total_lignes)


#df_18 = pd.read_csv(chemin_fichier_2018, delimiter='|',skiprows=lambda x: x not in indices_aleatoires_2018)
#df_19 = pd.read_csv(chemin_fichier_2019, delimiter='|',skiprows=lambda x: x not in indices_aleatoires_2019)
#df_20 = pd.read_csv(chemin_fichier_2020, delimiter='|',skiprows=lambda x: x not in indices_aleatoires_2020)
#df_21 = pd.read_csv(chemin_fichier_2021, delimiter='|',skiprows=lambda x: x not in indices_aleatoires_2021)


#df_18 = pd.read_csv(chemin_fichier_2018, delimiter='|',nrows=nombre_total_lignes)
#df_19 = pd.read_csv(chemin_fichier_2019, delimiter='|',nrows=nombre_total_lignes)
#df_20 = pd.read_csv(chemin_fichier_2020, delimiter='|',nrows=nombre_total_lignes)
#df_21 = pd.read_csv(chemin_fichier_2021, delimiter='|',nrows=nombre_total_lignes)

df_18 = pd.read_csv(chemin_fichier_2018, delimiter='|')
df_19 = pd.read_csv(chemin_fichier_2019, delimiter='|')
df_20 = pd.read_csv(chemin_fichier_2020, delimiter='|')
df_21 = pd.read_csv(chemin_fichier_2021, delimiter='|')

C:\Users\nagrimault\AppData\Local\Temp\ipykernel_8168\3174092588.py:44: DtypeWarning: Columns (14,18,23,24,26,28,29,31,32,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df_18 = pd.read_csv(chemin_fichier_2018, delimiter='|')
C:\Users\nagrimault\AppData\Local\Temp\ipykernel_8168\3174092588.py:45: DtypeWarning: Columns (18,23,24,26,28,31,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df_19 = pd.read_csv(chemin_fichier_2019, delimiter='|')
C:\Users\nagrimault\AppData\Local\Temp\ipykernel_8168\3174092588.py:46: DtypeWarning: Columns (18,23,24,26,28,31,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df_20 = pd.read_csv(chemin_fichier_2020, delimiter='|')
C:\Users\nagrimault\AppData\Local\Temp\ipykernel_8168\3174092588.py:47: DtypeWarning: Columns (18,23,24,26,28,29,30,31,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df_21 = pd.read_csv(chemin_fichier_2021, delimiter='|')

In [48]:
dataframes = [df_18, df_19, df_20,df_21] 

# Remplacer les espaces par des _ dans colonnes
for df in dataframes:
    df.columns = df.columns.str.replace(' ', '_')

dataframes[0].head()

,Identifiant_de_document,Reference_document,1_Articles_CGI,2_Articles_CGI,3_Articles_CGI,4_Articles_CGI,5_Articles_CGI,No_disposition,Date_mutation,Nature_mutation,Valeur_fonciere,No_voie,B/T/Q,Type_de_voie,Code_voie,Voie,Code_postal,Commune,Code_departement,Code_commune,Prefixe_de_section,Section,No_plan,No_Volume,1er_lot,Surface_Carrez_du_1er_lot,2eme_lot,Surface_Carrez_du_2eme_lot,3eme_lot,Surface_Carrez_du_3eme_lot,4eme_lot,Surface_Carrez_du_4eme_lot,5eme_lot,Surface_Carrez_du_5eme_lot,Nombre_de_lots,Code_type_local,Type_local,Identifiant_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Nature_culture_speciale,Surface_terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2018,Vente,"109000,00",13.00,NaN,RUE,1660,GEN LOGEROT,1000.00,BOURG-EN-BRESSE,1,53,NaN,AN,73,NaN,1,NaN,31.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2.00,Appartement,NaN,73.00,4.00,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2018,Vente,"109000,00",13.00,NaN,RUE,1660,GEN LOGEROT,1000.00,BOURG-EN-BRESSE,1,53,NaN,AN,73,NaN,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3.00,Dépendance,NaN,0.00,0.00,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2018,Vente,"239300,00",4.00,NaN,RUE,0025,DE LA BARMETTE,1250.00,NIVIGNE ET SURAN,1,95,NaN,AH,186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.00,Maison,NaN,163.00,4.00,S,NaN,949.00
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2018,Vente,"239300,00",4.00,NaN,RUE,0025,DE LA BARMETTE,1250.00,NIVIGNE ET SURAN,1,95,NaN,AH,186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.00,Maison,NaN,163.00,4.00,AG,JARD,420.00
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2018,Vente,"239300,00",4.00,NaN,RUE,0025,DE LA BARMETTE,1250.00,NIVIGNE ET SURAN,1,95,NaN,AH,186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.00,Maison,NaN,51.00,2.00,AG,JARD,420.00

In [49]:
dataframes[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3335292 entries, 0 to 3335291
Data columns (total 43 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Identifiant_de_document     float64
 1   Reference_document          float64
 2   1_Articles_CGI              float64
 3   2_Articles_CGI              float64
 4   3_Articles_CGI              float64
 5   4_Articles_CGI              float64
 6   5_Articles_CGI              float64
 7   No_disposition              int64
 8   Date_mutation               object
 9   Nature_mutation             object
 10  Valeur_fonciere             object
 11  No_voie                     float64
 12  B/T/Q                       object
 13  Type_de_voie                object
 14  Code_voie                   object
 15  Voie                        object
 16  Code_postal                 float64
 17  Commune                     object
 18  Code_departement            object
 19  Code_commune                int64
 20  Prefixe_de_section          float64
 21  Section                     object
 22  No_plan                     int64
 23  No_Volume                   object
 24  1er_lot                     object
 25  Surface_Carrez_du_1er_lot   object
 26  2eme_lot                    object
 27  Surface_Carrez_du_2eme_lot  object
 28  3eme_lot                    object
 29  Surface_Carrez_du_3eme_lot  object
 30  4eme_lot                    float64
 31  Surface_Carrez_du_4eme_lot  object
 32  5eme_lot                    object
 33  Surface_Carrez_du_5eme_lot  object
 34  Nombre_de_lots              int64
 35  Code_type_local             float64
 36  Type_local                  object
 37  Identifiant_local           float64
 38  Surface_reelle_bati         float64
 39  Nombre_pieces_principales   float64
 40  Nature_culture              object
 41  Nature_culture_speciale     object
 42  Surface_terrain             float64
dtypes: float64(16), int64(4), object(23)
memory usage: 1.1+ GB

In [50]:
pourcentages_nan = (dataframes[0].isna().sum() / len(dataframes[0])) * 100
# Affichez les pourcentages de NaN pour chaque colonne
print(pourcentages_nan)

Identifiant_de_document      100.00
Reference_document           100.00
1_Articles_CGI               100.00
2_Articles_CGI               100.00
3_Articles_CGI               100.00
4_Articles_CGI               100.00
5_Articles_CGI               100.00
No_disposition                 0.00
Date_mutation                  0.00
Nature_mutation                0.00
Valeur_fonciere                0.96
No_voie                       42.02
B/T/Q                         95.66
Type_de_voie                  43.36
Code_voie                      0.91
Voie                           0.91
Code_postal                    0.92
Commune                        0.00
Code_departement               0.00
Code_commune                   0.00
Prefixe_de_section            95.65
Section                        0.00
No_plan                        0.00
No_Volume                     99.70
1er_lot                       68.86
Surface_Carrez_du_1er_lot     91.32
2eme_lot                      93.45
Surface_Carrez_du_2eme_lot    97.87
3eme_lot                      98.90
Surface_Carrez_du_3eme_lot    99.79
4eme_lot                      99.62
Surface_Carrez_du_4eme_lot    99.94
5eme_lot                      99.82
Surface_Carrez_du_5eme_lot    99.98
Nombre_de_lots                 0.00
Code_type_local               45.05
Type_local                    45.05
Identifiant_local            100.00
Surface_reelle_bati           45.13
Nombre_pieces_principales     45.13
Nature_culture                31.61
Nature_culture_speciale       95.38
Surface_terrain               31.61
dtype: float64

In [51]:
# Remove empty columns 
columns_to_remove = ["Identifiant_de_document", "Reference_document", "1_Articles_CGI", "2_Articles_CGI", "3_Articles_CGI", "4_Articles_CGI", "5_Articles_CGI",
                     "B/T/Q", "Prefixe_de_section", "No_Volume", "Type_local", "Identifiant_local", "Nature_culture_speciale",
                     "1er_lot", "Surface_Carrez_du_1er_lot", "2eme_lot", "Surface_Carrez_du_2eme_lot", "3eme_lot", "Surface_Carrez_du_3eme_lot", "4eme_lot",
                     "Surface_Carrez_du_4eme_lot", "5eme_lot", "Surface_Carrez_du_5eme_lot"]

for i in range(len(dataframes)):
    # Créer une copie modifiée du DataFrame
    df_modified = dataframes[i].copy()

    df_modified = df_modified.drop(columns_to_remove, axis=1)

    # sauvegarde
    dataframes[i] = df_modified


pourcentages_nan = (dataframes[0].isna().sum() / len(dataframes[0])) * 100
# Affichez les pourcentages de NaN pour chaque colonne
print(pourcentages_nan)

No_disposition               0.00
Date_mutation                0.00
Nature_mutation              0.00
Valeur_fonciere              0.96
No_voie                     42.02
Type_de_voie                43.36
Code_voie                    0.91
Voie                         0.91
Code_postal                  0.92
Commune                      0.00
Code_departement             0.00
Code_commune                 0.00
Section                      0.00
No_plan                      0.00
Nombre_de_lots               0.00
Code_type_local             45.05
Surface_reelle_bati         45.13
Nombre_pieces_principales   45.13
Nature_culture              31.61
Surface_terrain             31.61
dtype: float64

In [57]:
# Create variable 'adresse' 

columns_for_adress = ["No_voie", "Type_de_voie", "Code_voie",
                      "Voie", "Code_commune", "Code_departement"]

for i in range(len(dataframes)):
    # Créer une copie modifiée du DataFrame
    df_modified = dataframes[i].copy()

    df_modified['Code_postal'] = df_modified.groupby('Commune')['Code_postal'].transform(lambda x: x.fillna(
        method='ffill').fillna(method='bfill'))  # match les code postal vide avec les communes (bien)
    
    df_modified['No_voie'] = df_modified['No_voie'].apply(lambda x: str(int(x)) if pd.notnull(
        x) else '').astype(str)  # change le type si non il y a une valeur sinon affiche rien

    df_modified['adresse'] = df_modified['No_voie'] + ' ' + df_modified['Type_de_voie'].astype(str) + ' ' + \
        df_modified['Code_voie'].astype(str) + ' ' + df_modified['Voie'].astype(str) + ' ' + \
        df_modified['Code_postal'].astype(str) + ' ' + df_modified['Commune']
    
    
    # Après la création de l'adresse on remove les variables concatenées et les autres inutiles
    df_modified = df_modified.drop(columns_for_adress, axis=1)

    # sauvegarde
    dataframes[i] = df_modified

dataframes[0].head()

,No_disposition,Date_mutation,Nature_mutation,Valeur_fonciere,Code_postal,Commune,Section,No_plan,Nombre_de_lots,Code_type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Surface_terrain,adresse
0,1,03/01/2018,Vente,"109000,00",1000.00,BOURG-EN-BRESSE,AN,73,2,2.00,73.00,4.00,NaN,NaN,13 RUE 1660 GEN LOGEROT 1000.0 BOURG-EN-BRESSE
1,1,03/01/2018,Vente,"109000,00",1000.00,BOURG-EN-BRESSE,AN,73,1,3.00,0.00,0.00,NaN,NaN,13 RUE 1660 GEN LOGEROT 1000.0 BOURG-EN-BRESSE
2,1,04/01/2018,Vente,"239300,00",1250.00,NIVIGNE ET SURAN,AH,186,0,1.00,163.00,4.00,S,949.00,4 RUE 0025 DE LA BARMETTE 1250.0 NIVIGNE ET SURAN
3,1,04/01/2018,Vente,"239300,00",1250.00,NIVIGNE ET SURAN,AH,186,0,1.00,163.00,4.00,AG,420.00,4 RUE 0025 DE LA BARMETTE 1250.0 NIVIGNE ET SURAN
4,1,04/01/2018,Vente,"239300,00",1250.00,NIVIGNE ET SURAN,AH,186,0,1.00,51.00,2.00,AG,420.00,4 RUE 0025 DE LA BARMETTE 1250.0 NIVIGNE ET SURAN

In [58]:
# Remove duplicates (date_mutation et adresse)

for i in range(len(dataframes)):
    # Créer une copie modifiée du DataFrame
    df_modified = dataframes[i].copy()

    # Remove duplicates (date_mutation et adresse)
    df_modified = df_modified.drop_duplicates(
        subset=["Date_mutation", "adresse"])
    
    # 'adresse' useless maintenant => remove
    df_modified = df_modified.drop("adresse", axis=1)

    # sauvegarde
    dataframes[i] = df_modified

dataframes[0].head()

,No_disposition,Date_mutation,Nature_mutation,Valeur_fonciere,Code_postal,Commune,Section,No_plan,Nombre_de_lots,Code_type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Surface_terrain
0,1,03/01/2018,Vente,"109000,00",1000.00,BOURG-EN-BRESSE,AN,73,2,2.00,73.00,4.00,NaN,NaN
2,1,04/01/2018,Vente,"239300,00",1250.00,NIVIGNE ET SURAN,AH,186,0,1.00,163.00,4.00,S,949.00
6,1,04/01/2018,Vente,"90000,00",1380.00,SAINT-CYR-SUR-MENTHON,ZR,359,0,NaN,NaN,NaN,S,278.00
7,1,04/01/2018,Vente,"90000,00",1380.00,SAINT-CYR-SUR-MENTHON,ZR,361,0,1.00,150.00,3.00,S,347.00
9,2,10/01/2018,Vente,"3150,00",1160.00,PONT-D AIN,AM,461,0,NaN,NaN,NaN,S,126.00

In [59]:
# Affichez le nombre d'individus par modalité de la colonne 'Code_type_local'

comptage_modalites = dataframes[0]['Code_type_local'].value_counts()
print(comptage_modalites)

Code_type_local
1.00    501358
2.00    337684
3.00    216211
4.00     66538
Name: count, dtype: int64

In [60]:
# Remove individus with at least one NaN and individus à 1e symbolique

print("before : ", len(dataframes[0]))

for i in range(len(dataframes)):
    # Créer une copie modifiée du DataFrame
    df_modified = dataframes[i].copy()

    df_modified = df_modified.dropna()
    df_modified['Valeur_fonciere'] = df_modified['Valeur_fonciere'].astype(str).str.replace(',', '.').astype(float)  
    df_modified = df_modified[df_modified['Valeur_fonciere'] > 1]

    # enlever outliers !!!
    
    # sauvegarde
    dataframes[i] = df_modified


print("after : ", len(dataframes[0]), "\n")

comptage_modalites = dataframes[0]['Code_type_local'].value_counts()
print(comptage_modalites)

before :  1806543
after :  555826

Code_type_local
1.00    474470
4.00     31221
3.00     29415
2.00     20720
Name: count, dtype: int64

In [61]:
# Change data types

for i in range(len(dataframes)):
    # Créer une copie modifiée du DataFrame
    df_modified = dataframes[i].copy()
    
    df_modified['Code_type_local'] = df_modified['Code_type_local'].astype(int)  # enlève les .00
    
    df_modified['Code_postal'] = df_modified['Code_postal'].astype(int) # enlève les .00
    df_modified['Code_postal'] = df_modified['Code_postal'].astype(object) # puis en objet

    df_modified['Code_type_local'] = df_modified['Code_type_local'].astype(
        object)

    # sauvegarde
    dataframes[i] = df_modified


print(dataframes[0].info())
dataframes[0].head()

<class 'pandas.core.frame.DataFrame'>
Index: 555826 entries, 2 to 3335268
Data columns (total 14 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   No_disposition             555826 non-null  int64
 1   Date_mutation              555826 non-null  object
 2   Nature_mutation            555826 non-null  object
 3   Valeur_fonciere            555826 non-null  float64
 4   Code_postal                555826 non-null  object
 5   Commune                    555826 non-null  object
 6   Section                    555826 non-null  object
 7   No_plan                    555826 non-null  int64
 8   Nombre_de_lots             555826 non-null  int64
 9   Code_type_local            555826 non-null  object
 10  Surface_reelle_bati        555826 non-null  float64
 11  Nombre_pieces_principales  555826 non-null  float64
 12  Nature_culture             555826 non-null  object
 13  Surface_terrain            555826 non-null  float64
dtypes: float64(4), int64(3), object(7)
memory usage: 63.6+ MB
None

,No_disposition,Date_mutation,Nature_mutation,Valeur_fonciere,Code_postal,Commune,Section,No_plan,Nombre_de_lots,Code_type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Surface_terrain
2,1,04/01/2018,Vente,239300.00,1250,NIVIGNE ET SURAN,AH,186,0,1,163.00,4.00,S,949.00
7,1,04/01/2018,Vente,90000.00,1380,SAINT-CYR-SUR-MENTHON,ZR,361,0,1,150.00,3.00,S,347.00
22,1,08/01/2018,Vente,47700.00,1240,LENT,A,401,0,3,0.00,0.00,S,640.00
26,1,09/01/2018,Vente,90000.00,1380,BAGE-DOMMARTIN,C,830,0,1,120.00,3.00,S,2416.00
28,1,12/01/2018,Vente,130000.00,1160,VARAMBON,C,528,0,1,80.00,3.00,S,55.00

In [62]:
# Créer la variable "month" & "year" 

# NB : Utile si on la mets en 'int' et pas en objet, car le prix de l'immobilier augmente chaque année, donc plus l'année augmente plus le prix aussi
# alors qu'en 'objet' inutile car dans ce sont les data de 2022 qui vont être testés


for i in range(len(dataframes)):
    # Créer une copie modifiée du DataFrame
    df_modified = dataframes[i].copy()

    df_modified['Date_mutation'] = pd.to_datetime(df_modified['Date_mutation'], format='%d/%m/%Y')

    # Extract the year component and create a new 'year' column
    df_modified['day'] = df_modified['Date_mutation'].dt.day
    df_modified['day'] = df_modified['day'].astype(object)

    df_modified['month'] = df_modified['Date_mutation'].dt.month
    df_modified['month'] = df_modified['month'].astype(object)

    df_modified['year'] = df_modified['Date_mutation'].dt.year
    df_modified['year'] = df_modified['year'].astype(object)

    df_modified = df_modified.drop("Date_mutation",axis=1)
    
    # sauvegarde
    dataframes[i] = df_modified

dataframes[0].head()

,No_disposition,Nature_mutation,Valeur_fonciere,Code_postal,Commune,Section,No_plan,Nombre_de_lots,Code_type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Surface_terrain,day,month,year
2,1,Vente,239300.00,1250,NIVIGNE ET SURAN,AH,186,0,1,163.00,4.00,S,949.00,4,1,2018
7,1,Vente,90000.00,1380,SAINT-CYR-SUR-MENTHON,ZR,361,0,1,150.00,3.00,S,347.00,4,1,2018
22,1,Vente,47700.00,1240,LENT,A,401,0,3,0.00,0.00,S,640.00,8,1,2018
26,1,Vente,90000.00,1380,BAGE-DOMMARTIN,C,830,0,1,120.00,3.00,S,2416.00,9,1,2018
28,1,Vente,130000.00,1160,VARAMBON,C,528,0,1,80.00,3.00,S,55.00,12,1,2018

In [64]:
# sample random % of each year
df_18_s = dataframes[0].sample(frac=1, random_state=42)
df_19_s = dataframes[1].sample(frac=1, random_state=42)
df_20_s = dataframes[2].sample(frac=1, random_state=42)
df_21_s = dataframes[3].sample(frac=1, random_state=42)

In [65]:
# Combine sampled subsets
df = pd.concat([df_18_s, df_19_s, df_20_s, df_21_s], axis=0)

In [66]:
print(df.year.value_counts())

year
2021    711071
2019    612489
2020    604816
2018    555826
Name: count, dtype: int64

In [67]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 2484202 entries, 286117 to 846759
Data columns (total 16 columns):
 #   Column                     Dtype
---  ------                     -----
 0   No_disposition             int64
 1   Nature_mutation            object
 2   Valeur_fonciere            float64
 3   Code_postal                object
 4   Commune                    object
 5   Section                    object
 6   No_plan                    int64
 7   Nombre_de_lots             int64
 8   Code_type_local            object
 9   Surface_reelle_bati        float64
 10  Nombre_pieces_principales  float64
 11  Nature_culture             object
 12  Surface_terrain            float64
 13  day                        object
 14  month                      object
 15  year                       object
dtypes: float64(4), int64(3), object(9)
memory usage: 322.2+ MB

,No_disposition,Nature_mutation,Valeur_fonciere,Code_postal,Commune,Section,No_plan,Nombre_de_lots,Code_type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Surface_terrain,day,month,year
286117,1,Vente,166250.00,12290,CANET-DE-SALARS,C,479,0,1,54.00,3.00,T,2251.00,13,7,2018
2708932,1,Vente,14000.00,81440,LAUTREC,D,342,0,3,0.00,0.00,S,29.00,14,9,2018
3205370,1,Vente,235000.00,95500,GONESSE,AI,52,0,1,74.00,4.00,S,396.00,21,12,2018
1244747,1,Vente,87000.00,36120,JEU-LES-BOIS,B,656,0,1,60.00,2.00,S,1100.00,21,11,2018
1028480,1,Vente,590000.00,33800,BORDEAUX,EO,192,0,1,110.00,5.00,S,313.00,6,6,2018

In [34]:
# TEST #

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge

# Supposons que vous ayez un DataFrame df avec la colonne 'Valeur_fonciere' comme variable cible
# Séparez les fonctionnalités (X) de la variable cible (y)


# test seulement avec le code local == 1
df = df[df['Code_type_local'] == 1]
print("nombre individus dataframe global : ",len(df), "\n")
# test drop colonne
X = df.drop(columns=['Valeur_fonciere', 'Commune', 'Section',
            'day', 'month', 'No_plan', 'No_disposition', 'Nature_culture','Code_postal'])

print(X.columns)


# MSE : 3 184 771 589 078.1714 avec 5 colonnes et 100 000 lignes au début du programme (régression linéaire)
# MSE : 9 351 187 946 604.617 avec 11 colonnes et 700 000 lignes au début du programme
# MSE : 9 621 056 123 391.139 en changeant le code type local == 1
# MSE : 2 642 213 419 979.8486 avec 5 colonnes et 100 000 lignes au début du programme (avec year, code postal, et nature mutation) (code local == 1)
# MSE : 2 642 223 129 457.908 avec pareil mais Lasso (few features should be important) (code local == 1)
# MSE : 2 283 126 024 532.157 avec pareil mais Ridge (lot of features should be important) (code local == 1)
# MSE : 1 481 548 894 581.531 avec Ridge mais 300 000 lignes (code local == 1)
# MSE : 1 419 765 756 499.442 avec Lasso mais 300 000 lignes (code local == 1)
# MSE : 15 011 506 135 748.002 avec Lasso mais 1 021 105 lignes (code local == 1)

# Utilisation de l'encodage one-hot pour la colonne catégorielle 'Nature_mutation' etc...
X = pd.get_dummies(X, columns=['Nature_mutation',
                   'year'])


y = df['Valeur_fonciere']  # Variable cible

# Séparez les données en ensembles d'entraînement et de test (par exemple, 80% pour l'entraînement et 20% pour le test)
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)

# Initialisez le modèle Ridge
modele_ridge = Lasso(alpha=1.0)  # L'alpha est le paramètre de régularisation

# Entraînez le modèle sur les données d'entraînement
modele_ridge.fit(X_train, y_train)

# Prédisez les valeurs sur l'ensemble de test
predictions = modele_ridge.predict(X_test)

# Calculez l'erreur quadratique moyenne (MSE) pour évaluer la performance du modèle
mse = mean_squared_error(y_test, predictions)

# Affichez l'erreur quadratique moyenne
print("Erreur Quadratique Moyenne (MSE) : ", mse)

# Créez un DataFrame avec les valeurs prédites et les valeurs réelles
resultats = pd.DataFrame(
    {'Valeur_reelle': y_test, 'Valeur_predite': predictions})

# Affichez les valeurs prédites par rapport aux valeurs réelles
print(resultats)

nombre individus dataframe global :  0

Index(['Nature_mutation', 'Nombre_de_lots', 'Code_type_local',
       'Surface_reelle_bati', 'Nombre_pieces_principales', 'Surface_terrain',
       'year'],
      dtype='object')

ValueError: With n_samples=0, test_size=0.2 and train_size=None, the resulting train set will be empty. Adjust any of the aforementioned parameters.

In [68]:
resultats = pd.DataFrame(
    {'Valeur_reelle': y_test, 'Valeur_predite': predictions})

# Affichez les valeurs prédites par rapport aux valeurs réelles
print(resultats)
print(X)

         Valeur_reelle  Valeur_predite
698846        34000.00       300613.28
1971743      280000.00       308513.97
3153143      300000.00       366773.06
1069693      202350.00       223399.15
1082133      148000.00       285872.81
...                ...             ...
2464369      135000.00       126061.93
2076686      134000.00       251231.51
1503223      412000.00       543138.25
2861839      300000.00       378094.14
1925266       95000.00       295122.41

[202168 rows x 2 columns]
Empty DataFrame
Columns: [Nombre_de_lots, Code_type_local, Surface_reelle_bati, Nombre_pieces_principales, Surface_terrain]
Index: []

In [69]:
# Load longitude, latitude, 'Code_postal' dataframe

#geo = pd.read_csv('/home/nathan/fac/m2/s1/python/projet_prediction/data/communes-departement-region.csv')

geo = pd.read_csv('../data/communes-departement-region.csv')



#print(geo[geo['nom_commune_postal'] == 'AJACCIO'])
geo.head()

,code_commune_INSEE,nom_commune_postal,code_postal,libelle_acheminement,ligne_5,latitude,longitude,code_commune,article,nom_commune,nom_commune_complet,code_departement,nom_departement,code_region,nom_region
0,1001,L ABERGEMENT CLEMENCIAT,1400,L ABERGEMENT CLEMENCIAT,NaN,46.15,4.93,1.00,L',Abergement-Clémenciat,L'Abergement-Clémenciat,1,Ain,84.00,Auvergne-Rhône-Alpes
1,1002,L ABERGEMENT DE VAREY,1640,L ABERGEMENT DE VAREY,NaN,46.01,5.43,2.00,L',Abergement-de-Varey,L'Abergement-de-Varey,1,Ain,84.00,Auvergne-Rhône-Alpes
2,1004,AMBERIEU EN BUGEY,1500,AMBERIEU EN BUGEY,NaN,45.96,5.37,4.00,NaN,Ambérieu-en-Bugey,Ambérieu-en-Bugey,1,Ain,84.00,Auvergne-Rhône-Alpes
3,1005,AMBERIEUX EN DOMBES,1330,AMBERIEUX EN DOMBES,NaN,46.00,4.91,5.00,NaN,Ambérieux-en-Dombes,Ambérieux-en-Dombes,1,Ain,84.00,Auvergne-Rhône-Alpes
4,1006,AMBLEON,1300,AMBLEON,NaN,45.75,5.59,6.00,NaN,Ambléon,Ambléon,1,Ain,84.00,Auvergne-Rhône-Alpes

In [71]:
print(len(df))

geo.rename(columns={'code_postal': 'Code_postal'}, inplace=True)
geo.rename(columns={'nom_commune_postal': 'Commune'}, inplace=True)
geo.rename(columns={'code_departement': 'Code_departement'}, inplace=True)


doublons = geo[geo.duplicated(subset=['Code_postal', 'Commune'], keep=False)] # voir les doublons
#print(doublons)

geo = geo.drop_duplicates(subset=['Code_postal', 'Commune']) # OK -> supprmime les doublons Code postal => Commune, car quelques fois il y a une 'petite' commune dedans la grande enfin bref

# Changement de format pour le merge, pour uniformiser tout et garder le maximum d information
geo['Commune'] = geo['Commune'].str.replace('-', ' ') 
df['Commune'] = df['Commune'].str.replace('-', ' ')

geo['Commune'] = geo['Commune'].str.replace('ST', 'SAINT')  # format 'ST' et 'SAINT'
df['Commune'] = df['Commune'].str.replace('ST', 'SAINT')

geo['Commune'] = geo['Commune'].str.replace('\'', ' ')
df['Commune'] = df['Commune'].str.replace('\'', ' ')


# MERGE
geo_commune = geo[['Commune', 'Code_postal', 'latitude', 'longitude']]
df = pd.merge(df, geo_commune, on=[
    'Commune', 'Code_postal'], how='left')  # OK -> merge la commune et le code postal, car desfois la commune est dans différent département 


# Le reste des communes non trouvé c'est des erreurs dans le fichier geo, exemple => LA SALLE DES ALPES, dans les data => "LA SALLE", IMPOSSIBLE À gérer ce genre d'erreur humaine => à enlever
print(df['longitude'].isna().sum()," individus avec un nom de commune pas trouvé, on les enlève du dataset")
df = df.dropna(subset=['longitude'])

print("nombre final d'individus : ",len(df))

df.head(20)

2370400

KeyError: 'longitude'

In [73]:
# Ajout variable département

def assign_department(code_postal):
    if 20000 <= code_postal <= 20190:
        return '2A' # Pour gérer la corse sud
    elif 20200 <= code_postal <= 20270:
        return '2B' # Pour gérer la corse nord
    elif len(str(code_postal)) == 4:
        dep = '0' + str(code_postal)[:1] # Pour gérer les 10 premiers département
        return dep
    else:
        dep = str(code_postal)[:2]
        return dep 

# Appliquez la fonction à la colonne 'Code_postal' en utilisant apply()
df['Departement'] = df['Code_postal'].apply(lambda x: assign_department(x))
df['Departement'] = df['Departement'].astype(str)

df.head()

,No_disposition,Nature_mutation,Valeur_fonciere,Code_postal,Commune,Section,No_plan,Nombre_de_lots,Code_type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Surface_terrain,day,month,year,latitude_x,longitude_x,latitude_y,longitude_y,Departement
0,1,Vente,166250.00,12290,CANET DE SALARS,C,479,0,1,54.00,3.00,T,2251.00,13,7,2018,44.23,2.74,44.23,2.74,12
1,1,Vente,14000.00,81440,LAUTREC,D,342,0,3,0.00,0.00,S,29.00,14,9,2018,43.71,2.13,43.71,2.13,81
2,1,Vente,235000.00,95500,GONESSE,AI,52,0,1,74.00,4.00,S,396.00,21,12,2018,48.99,2.46,48.99,2.46,95
3,1,Vente,87000.00,36120,JEU LES BOIS,B,656,0,1,60.00,2.00,S,1100.00,21,11,2018,46.68,1.79,46.68,1.79,36
4,1,Vente,590000.00,33800,BORDEAUX,EO,192,0,1,110.00,5.00,S,313.00,6,6,2018,44.86,-0.57,44.86,-0.57,33

In [74]:
chemin_vers_projet = '/home/nathan/fac/m2/s1/python/projet_prediction/'

# Définir l'espace de travail (répertoire de travail)
#os.chdir(chemin_vers_projet)

df.to_pickle('../data/dataframe_clean_last_version.pkl')

In [89]:
# TODO : 
# enlever les extrêmes (1e symbolique etc...)
# imputation de données manquantes => KNN,  arbre !
# puis clustering sur le type de local