In [1]:
import os
#os.chdir('/Users/josephpelham/Desktop/SISE/Python/Donnees')

os.chdir('/home/nathan/fac/m2/s1/python/td1')


# !! changer les chemins relatifs !!

In [2]:
## Import Data ## 
import pandas as pd
import random

# ! options !
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:.2f}'.format)

chemin_fichier_2018 = '/home/nathan/fac/m2/s1/python/td1/valeursfoncieres-2018.txt'
chemin_fichier_2019 = '/home/nathan/fac/m2/s1/python/td1/valeursfoncieres-2019.txt'
chemin_fichier_2020 = '/home/nathan/fac/m2/s1/python/td1/valeursfoncieres-2020.txt'
chemin_fichier_2021 = '/home/nathan/fac/m2/s1/python/td1/valeursfoncieres-2021.txt'


nombre_total_lignes = 700000
#nombre_total_lignes = 1000

# Pour prendre n individus aléatoire par fichier mais très long car il faut importer tout les fichiers en entier
indices_aleatoires_2018 = random.sample(
    range(1, nombre_total_lignes + 1), nombre_total_lignes)
indices_aleatoires_2019 = random.sample(
    range(1, nombre_total_lignes + 1), nombre_total_lignes)
indices_aleatoires_2020 = random.sample(
    range(1, nombre_total_lignes + 1), nombre_total_lignes)
indices_aleatoires_2021 = random.sample(
    range(1, nombre_total_lignes + 1), nombre_total_lignes)


#df_18 = pd.read_csv(chemin_fichier_2018, delimiter='|',skiprows=lambda x: x not in indices_aleatoires_2018)
#df_19 = pd.read_csv(chemin_fichier_2019, delimiter='|',skiprows=lambda x: x not in indices_aleatoires_2019)
#df_20 = pd.read_csv(chemin_fichier_2020, delimiter='|',skiprows=lambda x: x not in indices_aleatoires_2020)
#df_21 = pd.read_csv(chemin_fichier_2021, delimiter='|',skiprows=lambda x: x not in indices_aleatoires_2021)


df_18 = pd.read_csv(chemin_fichier_2018, delimiter='|',nrows=nombre_total_lignes)
df_19 = pd.read_csv(chemin_fichier_2019, delimiter='|',nrows=nombre_total_lignes)
df_20 = pd.read_csv(chemin_fichier_2020, delimiter='|',nrows=nombre_total_lignes)
df_21 = pd.read_csv(chemin_fichier_2021, delimiter='|',nrows=nombre_total_lignes)

/tmp/ipykernel_14928/4009472405.py:35: DtypeWarning: Columns (23,24,26,28,29,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df_18 = pd.read_csv(chemin_fichier_2018, delimiter='|',nrows=nombre_total_lignes)
/tmp/ipykernel_14928/4009472405.py:36: DtypeWarning: Columns (23,24,26,28,31,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df_19 = pd.read_csv(chemin_fichier_2019, delimiter='|',nrows=nombre_total_lignes)
/tmp/ipykernel_14928/4009472405.py:37: DtypeWarning: Columns (23,24,26,28,31,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df_20 = pd.read_csv(chemin_fichier_2020, delimiter='|',nrows=nombre_total_lignes)
/tmp/ipykernel_14928/4009472405.py:38: DtypeWarning: Columns (23,24,26,28,29,30,31,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df_21 = pd.read_csv(chemin_fichier_2021, delimiter='|',nrows=nombre_total_lignes)

In [3]:
dataframes = [df_18, df_19, df_20,df_21] 

# Remplacer les espaces par des _ dans colonnes
for df in dataframes:
    df.columns = df.columns.str.replace(' ', '_')

dataframes[0].head()

,Identifiant_de_document,Reference_document,1_Articles_CGI,2_Articles_CGI,3_Articles_CGI,4_Articles_CGI,5_Articles_CGI,No_disposition,Date_mutation,Nature_mutation,Valeur_fonciere,No_voie,B/T/Q,Type_de_voie,Code_voie,Voie,Code_postal,Commune,Code_departement,Code_commune,Prefixe_de_section,Section,No_plan,No_Volume,1er_lot,Surface_Carrez_du_1er_lot,2eme_lot,Surface_Carrez_du_2eme_lot,3eme_lot,Surface_Carrez_du_3eme_lot,4eme_lot,Surface_Carrez_du_4eme_lot,5eme_lot,Surface_Carrez_du_5eme_lot,Nombre_de_lots,Code_type_local,Type_local,Identifiant_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Nature_culture_speciale,Surface_terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2018,Vente,"109000,00",13.00,NaN,RUE,1660,GEN LOGEROT,1000.00,BOURG-EN-BRESSE,1,53,NaN,AN,73,NaN,1,NaN,31.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2.00,Appartement,NaN,73.00,4.00,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2018,Vente,"109000,00",13.00,NaN,RUE,1660,GEN LOGEROT,1000.00,BOURG-EN-BRESSE,1,53,NaN,AN,73,NaN,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3.00,Dépendance,NaN,0.00,0.00,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2018,Vente,"239300,00",4.00,NaN,RUE,0025,DE LA BARMETTE,1250.00,NIVIGNE ET SURAN,1,95,NaN,AH,186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.00,Maison,NaN,163.00,4.00,S,NaN,949.00
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2018,Vente,"239300,00",4.00,NaN,RUE,0025,DE LA BARMETTE,1250.00,NIVIGNE ET SURAN,1,95,NaN,AH,186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.00,Maison,NaN,163.00,4.00,AG,JARD,420.00
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2018,Vente,"239300,00",4.00,NaN,RUE,0025,DE LA BARMETTE,1250.00,NIVIGNE ET SURAN,1,95,NaN,AH,186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.00,Maison,NaN,51.00,2.00,AG,JARD,420.00

In [4]:
## Change data types and remove useless variables 


columns_to_remove = ["Code_voie", "No_voie", "Voie", "Type_de_voie",
                    "1er_lot", "No_plan", "Code_departement", "Type_local", "Code_commune", "Section"]


for i in range(len(dataframes)): 
    # Créer une copie modifiée du DataFrame
    df_modified = dataframes[i].copy()

    # Delete observations with NaN Code_type_local & Valeur_fonciere
    df_modified = df_modified.dropna(subset=['Code_type_local'])
    df_modified = df_modified.dropna(subset=['Valeur_fonciere'])

    df_modified['Valeur_fonciere'] = df_modified['Valeur_fonciere'].str.replace(
        ',', '.').astype(float)

    df_modified['Code_postal'] = df_modified.groupby('Commune')['Code_postal'].transform(lambda x: x.fillna(
        method='ffill').fillna(method='bfill'))  # match les code postal vide avec les communes (bien)
    df_modified['Code_postal'] = df_modified['Code_postal'].astype(int)

    
    df_modified['No_voie'] = df_modified['No_voie'].apply(lambda x: str(int(x)) if pd.notnull(
        x) else '').astype(str)  # change le type si non Nan sinon affiche rien
    
    df_modified['Code_type_local'] = df_modified['Code_type_local'].astype(int)

    #  Créer la variable "adresse"
    df_modified['adresse'] = df_modified['No_voie'] + ' ' + df_modified['Type_de_voie'].astype(str) + ' ' + \
        df_modified['Code_voie'].astype(str) + ' ' + df_modified['Voie'].astype(str) + ' ' + \
        df_modified['Code_postal'].astype(str) + ' ' + df_modified['Commune']
    
    # Après la création de l'adresse on remove les variables concatenées et les autres inutiles
    df_modified = df_modified.drop(columns_to_remove, axis=1)
    
    #sauvegarde
    dataframes[i] = df_modified

In [5]:
dataframes[0].head()

,Identifiant_de_document,Reference_document,1_Articles_CGI,2_Articles_CGI,3_Articles_CGI,4_Articles_CGI,5_Articles_CGI,No_disposition,Date_mutation,Nature_mutation,Valeur_fonciere,B/T/Q,Code_postal,Commune,Prefixe_de_section,No_Volume,Surface_Carrez_du_1er_lot,2eme_lot,Surface_Carrez_du_2eme_lot,3eme_lot,Surface_Carrez_du_3eme_lot,4eme_lot,Surface_Carrez_du_4eme_lot,5eme_lot,Surface_Carrez_du_5eme_lot,Nombre_de_lots,Code_type_local,Identifiant_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Nature_culture_speciale,Surface_terrain,adresse
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2018,Vente,109000.00,NaN,1000,BOURG-EN-BRESSE,NaN,NaN,NaN,31.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,NaN,73.00,4.00,NaN,NaN,NaN,13 RUE 1660 GEN LOGEROT 1000 BOURG-EN-BRESSE
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2018,Vente,109000.00,NaN,1000,BOURG-EN-BRESSE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3,NaN,0.00,0.00,NaN,NaN,NaN,13 RUE 1660 GEN LOGEROT 1000 BOURG-EN-BRESSE
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2018,Vente,239300.00,NaN,1250,NIVIGNE ET SURAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,163.00,4.00,S,NaN,949.00,4 RUE 0025 DE LA BARMETTE 1250 NIVIGNE ET SURAN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2018,Vente,239300.00,NaN,1250,NIVIGNE ET SURAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,163.00,4.00,AG,JARD,420.00,4 RUE 0025 DE LA BARMETTE 1250 NIVIGNE ET SURAN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2018,Vente,239300.00,NaN,1250,NIVIGNE ET SURAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,51.00,2.00,AG,JARD,420.00,4 RUE 0025 DE LA BARMETTE 1250 NIVIGNE ET SURAN

In [6]:

for i in range(len(dataframes)):
    # Créer une copie modifiée du DataFrame
    df_modified = dataframes[i].copy()
    
    # Remove duplicates (date_mutation et adresse)
    df_modified = df_modified.drop_duplicates(subset=["Date_mutation", "adresse"])
    # 'adresse' useless maintenant => remove
    df_modified = df_modified.drop("adresse", axis = 1)

    # sauvegarde
    dataframes[i] = df_modified

In [7]:
# sample random 5% of each year
df_18_s = dataframes[0].sample(frac=.99, random_state=42)
df_19_s = dataframes[1].sample(frac=.99, random_state=42)
df_20_s = dataframes[2].sample(frac=.99, random_state=42)
df_21_s = dataframes[3].sample(frac=.99, random_state=42)

In [8]:
# Combine sampled subsets
df = pd.concat([df_18_s, df_19_s, df_20_s, df_21_s], axis=0)

In [9]:
# Remove columns with 75% NA

# Enlever les colonnes à la main ?? pas de pourcent => plus explicite

# % of NA
missing_perc = df.isna().sum() / len(df) * 100
# Define the threshold for dropping columns (75% in this case)
threshold = 75
# Use the dropna method to drop columns with more than 75% missing values
df = df.dropna(axis=1, thresh=len(df) * (1 - threshold / 100))


df.head()

,No_disposition,Date_mutation,Nature_mutation,Valeur_fonciere,Code_postal,Commune,Nombre_de_lots,Code_type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Surface_terrain
271547,1,07/05/2018,Vente,163000.00,11120,MOUSSAN,0,1,65.00,2.00,S,575.00
257061,1,27/04/2018,Vente,94700.00,11600,ARAGON,0,1,143.00,4.00,S,39.00
239809,1,02/07/2018,Vente,40000.00,10340,LES RICEYS,0,3,0.00,0.00,S,36.00
336574,1,04/04/2018,Vente,159400.00,13190,ALLAUCH,1,4,20.00,0.00,NaN,NaN
100719,1,20/06/2018,Vente,75000.00,5170,ORCIERES,2,2,52.00,2.00,NaN,NaN

In [10]:
# Créer la variable "year"
df['Date_mutation'] = pd.to_datetime(df['Date_mutation'], format='%d/%m/%Y')

# Extract the year component and create a new 'year' column
df['year'] = df['Date_mutation'].dt.year
print(df.year.value_counts())

2019    215491
2020    212652
2018    208139
2021    197278
Name: year, dtype: int64

In [11]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 833560 entries, 271547 to 436924
Data columns (total 13 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   No_disposition             833560 non-null  int64
 1   Date_mutation              833560 non-null  datetime64[ns]
 2   Nature_mutation            833560 non-null  object
 3   Valeur_fonciere            833560 non-null  float64
 4   Code_postal                833560 non-null  int64
 5   Commune                    833560 non-null  object
 6   Nombre_de_lots             833560 non-null  int64
 7   Code_type_local            833560 non-null  int64
 8   Surface_reelle_bati        832347 non-null  float64
 9   Nombre_pieces_principales  832347 non-null  float64
 10  Nature_culture             437105 non-null  object
 11  Surface_terrain            437105 non-null  float64
 12  year                       833560 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(5), object(3)
memory usage: 89.0+ MB

,No_disposition,Date_mutation,Nature_mutation,Valeur_fonciere,Code_postal,Commune,Nombre_de_lots,Code_type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Surface_terrain,year
271547,1,2018-05-07,Vente,163000.00,11120,MOUSSAN,0,1,65.00,2.00,S,575.00,2018
257061,1,2018-04-27,Vente,94700.00,11600,ARAGON,0,1,143.00,4.00,S,39.00,2018
239809,1,2018-07-02,Vente,40000.00,10340,LES RICEYS,0,3,0.00,0.00,S,36.00,2018
336574,1,2018-04-04,Vente,159400.00,13190,ALLAUCH,1,4,20.00,0.00,NaN,NaN,2018
100719,1,2018-06-20,Vente,75000.00,5170,ORCIERES,2,2,52.00,2.00,NaN,NaN,2018

In [12]:
# Load longitude, latitude, 'Code_postal' dataframe

geo = pd.read_csv(
    '/home/nathan/fac/m2/s1/python/projet_prediction/data/communes-departement-region.csv')


geo.head()

,code_commune_INSEE,nom_commune_postal,code_postal,libelle_acheminement,ligne_5,latitude,longitude,code_commune,article,nom_commune,nom_commune_complet,code_departement,nom_departement,code_region,nom_region
0,1001,L ABERGEMENT CLEMENCIAT,1400,L ABERGEMENT CLEMENCIAT,NaN,46.15,4.93,1.00,L',Abergement-Clémenciat,L'Abergement-Clémenciat,1,Ain,84.00,Auvergne-Rhône-Alpes
1,1002,L ABERGEMENT DE VAREY,1640,L ABERGEMENT DE VAREY,NaN,46.01,5.43,2.00,L',Abergement-de-Varey,L'Abergement-de-Varey,1,Ain,84.00,Auvergne-Rhône-Alpes
2,1004,AMBERIEU EN BUGEY,1500,AMBERIEU EN BUGEY,NaN,45.96,5.37,4.00,NaN,Ambérieu-en-Bugey,Ambérieu-en-Bugey,1,Ain,84.00,Auvergne-Rhône-Alpes
3,1005,AMBERIEUX EN DOMBES,1330,AMBERIEUX EN DOMBES,NaN,46.00,4.91,5.00,NaN,Ambérieux-en-Dombes,Ambérieux-en-Dombes,1,Ain,84.00,Auvergne-Rhône-Alpes
4,1006,AMBLEON,1300,AMBLEON,NaN,45.75,5.59,6.00,NaN,Ambléon,Ambléon,1,Ain,84.00,Auvergne-Rhône-Alpes

In [13]:
print(len(df))

geo.rename(columns={'code_postal': 'Code_postal'}, inplace=True)
geo.rename(columns={'nom_commune_postal': 'Commune'}, inplace=True)
geo.rename(columns={'code_departement': 'Code_departement'}, inplace=True)


doublons = geo[geo.duplicated(subset=['Code_postal', 'Commune'], keep=False)] # voir les doublons
#print(doublons)


geo = geo.drop_duplicates(subset=['Code_postal', 'Commune']) # OK -> supprmime les doublons Code postal => Commune, car quelques fois il y a une 'petite' commune dedans la grande enfin bref

# Changement de format pour le merge
geo['Commune'] = geo['Commune'].str.replace('-', ' ')
df['Commune'] = df['Commune'].str.replace('-', ' ')

geo['Commune'] = geo['Commune'].str.replace('ST', 'SAINT')  # format 'ST' et 'SAINT'
df['Commune'] = df['Commune'].str.replace('ST', 'SAINT')

geo['Commune'] = geo['Commune'].str.replace('\'', ' ')
df['Commune'] = df['Commune'].str.replace('\'', ' ')

# le reste c'est des erreurs dans le fichier, exemple dans geo => LA SALLE DES ALPES, dans les data => "LA SALLE", IMPOSSIBLE À gérer ce genre d'erreur humaine => à enlever


# MERGE
geo_commune = geo[['Commune', 'Code_postal', 'latitude', 'longitude']]

print(geo_commune.head())

df = pd.merge(df, geo_commune, on=[
    'Commune', 'Code_postal'], how='left')  # OK -> merge la commune et le code postal, car desfois la commune est dans différent département 


print("-------")

print(df['longitude'].isna().sum()," individus avec un nom de commune pas trouvé, on les enlève du dataset")
df = df.dropna(subset=['longitude'])

print("nombre final d'individus : ",len(df))


df.head(20)

833560
                   Commune  Code_postal  latitude  longitude
0  L ABERGEMENT CLEMENCIAT         1400     46.15       4.93
1    L ABERGEMENT DE VAREY         1640     46.01       5.43
2        AMBERIEU EN BUGEY         1500     45.96       5.37
3      AMBERIEUX EN DOMBES         1330     46.00       4.91
4                  AMBLEON         1300     45.75       5.59
-------
90119  individus avec un nom de commune pas trouvé, on les enlève du dataset
nombre final d'individus :  743441

,No_disposition,Date_mutation,Nature_mutation,Valeur_fonciere,Code_postal,Commune,Nombre_de_lots,Code_type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Surface_terrain,year,latitude,longitude
0,1,2018-05-07,Vente,163000.00,11120,MOUSSAN,0,1,65.00,2.00,S,575.00,2018,43.23,2.96
1,1,2018-04-27,Vente,94700.00,11600,ARAGON,0,1,143.00,4.00,S,39.00,2018,43.30,2.31
2,1,2018-07-02,Vente,40000.00,10340,LES RICEYS,0,3,0.00,0.00,S,36.00,2018,47.99,4.37
3,1,2018-04-04,Vente,159400.00,13190,ALLAUCH,1,4,20.00,0.00,NaN,NaN,2018,43.35,5.51
4,1,2018-06-20,Vente,75000.00,5170,ORCIERES,2,2,52.00,2.00,NaN,NaN,2018,44.68,6.35
5,1,2018-03-22,Vente,160000.00,2400,CHATEAU THIERRY,0,1,94.00,4.00,S,260.00,2018,49.06,3.38
6,1,2018-09-13,Vente,238980.00,6000,NICE,1,2,41.00,2.00,NaN,NaN,2018,43.71,7.24
7,1,2018-02-09,Vente,48500.00,1100,OYONNAX,2,2,70.00,4.00,NaN,NaN,2018,46.26,5.65
8,1,2018-12-07,Vente,70000.00,13200,ARLES,0,1,64.00,2.00,S,44.00,2018,43.55,4.66
9,1,2018-01-30,Vente,145000.00,6000,NICE,2,2,52.00,3.00,NaN,NaN,2018,43.71,7.24
11,1,2018-07-10,Vente,13000.00,13560,SENAS,0,1,40.00,1.00,S,25.00,2018,43.74,5.09
12,1,2018-08-29,Vente,215000.00,6220,VALLAURIS,0,1,68.00,3.00,S,34.00,2018,43.58,7.06
13,1,2018-12-12,Vente,87390.00,5100,BRIANCON,2,2,53.00,3.00,NaN,NaN,2018,44.90,6.65
14,1,2018-07-02,Vente,113000.00,17800,SALIGNAC SUR CHARENTE,0,1,72.00,1.00,S,353.00,2018,45.67,-0.42
15,1,2018-01-05,Vente,165000.00,21500,SAINT GERMAIN LES SENAILLY,0,1,91.00,5.00,J,1008.00,2018,47.60,4.28
16,1,2018-07-18,Vente,107000.00,18500,FOECY,0,4,240.00,0.00,S,1000.00,2018,47.18,2.15
17,1,2018-09-14,Vente,310000.00,4700,ORAISON,0,2,38.00,2.00,T,2050.00,2018,43.91,5.92
18,1,2018-10-15,Vente,345000.00,6110,LE CANNET,2,2,70.00,2.00,NaN,NaN,2018,43.57,7.01
19,1,2018-07-06,Vente,850000.00,2200,SOISSONS,0,4,232.00,0.00,S,360.00,2018,49.38,3.32
20,1,2018-02-21,Vente,119300.00,16210,SAINT QUENTIN DE CHALAIS,0,1,109.00,4.00,T,900.00,2018,45.24,0.07

In [14]:
chemin_vers_projet = '/home/nathan/fac/m2/s1/python/projet_prediction/'

# Définir l'espace de travail (répertoire de travail)
os.chdir(chemin_vers_projet)
df.to_pickle('data/dataframe_avec_coord.pkl')

In [15]:
# TODO : 
# enlever les extrêmes (1e symbolique etc...)
# imputation de données manquantes => KNN,  arbre !
# puis clustering sur le type de local