In [53]:
import os
#os.chdir('/Users/josephpelham/Desktop/SISE/Python/Donnees')
#
os.chdir('/home/nathan/fac/m2/s1/python/td1')


# !! changer les chemins relatifs !!

In [54]:
## Import Data ## 
import pandas as pd

# ! options !
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:.2f}'.format)


df_18 = pd.read_csv(
    '/home/nathan/fac/m2/s1/python/td1/valeursfoncieres-2018.txt', delimiter='|',nrows=100000)
df_19 = pd.read_csv(
    '/home/nathan/fac/m2/s1/python/td1/valeursfoncieres-2019.txt', delimiter='|',nrows=100000)
df_20 = pd.read_csv(
    '/home/nathan/fac/m2/s1/python/td1/valeursfoncieres-2020.txt', delimiter='|', nrows=100000)
df_21 = pd.read_csv(
    '/home/nathan/fac/m2/s1/python/td1/valeursfoncieres-2021.txt', delimiter='|', nrows=100000)

#df_18 = pd.read_csv('/Users/josephpelham/Desktop/SISE/Python/Donnees/valeursfoncieres-2018.txt', delimiter='|')
#df_19 = pd.read_csv('/Users/josephpelham/Desktop/SISE/Python/Donnees/valeursfoncieres-2019.txt', delimiter='|')
#df_20 = pd.read_csv('/Users/josephpelham/Desktop/SISE/Python/Donnees/valeursfoncieres-2020.txt', delimiter='|')
# df_21 = pd.read_csv('/Users/josephpelham/Desktop/SISE/Python/Donnees/valeursfoncieres-2021.txt', delimiter='|')

/tmp/ipykernel_5517/223035475.py:9: DtypeWarning: Columns (24,26,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df_18 = pd.read_csv(
/tmp/ipykernel_5517/223035475.py:11: DtypeWarning: Columns (24,26) have mixed types. Specify dtype option on import or set low_memory=False.
  df_19 = pd.read_csv(
/tmp/ipykernel_5517/223035475.py:13: DtypeWarning: Columns (23,24,26,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df_20 = pd.read_csv(
/tmp/ipykernel_5517/223035475.py:15: DtypeWarning: Columns (23,24,26,28,30,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df_21 = pd.read_csv(

In [55]:
dataframes = [df_18, df_19, df_20,df_21] 

# Remplacer les espaces par des _ dans colonnes
for df in dataframes:
    df.columns = df.columns.str.replace(' ', '_')

dataframes[0].head()

,Identifiant_de_document,Reference_document,1_Articles_CGI,2_Articles_CGI,3_Articles_CGI,4_Articles_CGI,5_Articles_CGI,No_disposition,Date_mutation,Nature_mutation,Valeur_fonciere,No_voie,B/T/Q,Type_de_voie,Code_voie,Voie,Code_postal,Commune,Code_departement,Code_commune,Prefixe_de_section,Section,No_plan,No_Volume,1er_lot,Surface_Carrez_du_1er_lot,2eme_lot,Surface_Carrez_du_2eme_lot,3eme_lot,Surface_Carrez_du_3eme_lot,4eme_lot,Surface_Carrez_du_4eme_lot,5eme_lot,Surface_Carrez_du_5eme_lot,Nombre_de_lots,Code_type_local,Type_local,Identifiant_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Nature_culture_speciale,Surface_terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2018,Vente,"109000,00",13.00,NaN,RUE,1660,GEN LOGEROT,1000.00,BOURG-EN-BRESSE,1,53,NaN,AN,73,NaN,1,NaN,31.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2.00,Appartement,NaN,73.00,4.00,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2018,Vente,"109000,00",13.00,NaN,RUE,1660,GEN LOGEROT,1000.00,BOURG-EN-BRESSE,1,53,NaN,AN,73,NaN,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3.00,Dépendance,NaN,0.00,0.00,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2018,Vente,"239300,00",4.00,NaN,RUE,0025,DE LA BARMETTE,1250.00,NIVIGNE ET SURAN,1,95,NaN,AH,186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.00,Maison,NaN,163.00,4.00,S,NaN,949.00
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2018,Vente,"239300,00",4.00,NaN,RUE,0025,DE LA BARMETTE,1250.00,NIVIGNE ET SURAN,1,95,NaN,AH,186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.00,Maison,NaN,163.00,4.00,AG,JARD,420.00
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2018,Vente,"239300,00",4.00,NaN,RUE,0025,DE LA BARMETTE,1250.00,NIVIGNE ET SURAN,1,95,NaN,AH,186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.00,Maison,NaN,51.00,2.00,AG,JARD,420.00

In [56]:
## Change data types and remove useless variables 


columns_to_remove = ["Code_voie", "No_voie", "Voie", "Type_de_voie",
                    "1er_lot", "No_plan", "Code_departement", "Type_local", "Code_commune", "Section"]


for i in range(len(dataframes)): 
    # Créer une copie modifiée du DataFrame
    df_modified = dataframes[i].copy()

    # Delete observations with NaN Code_type_local & Valeur_fonciere
    df_modified = df_modified.dropna(subset=['Code_type_local'])
    df_modified = df_modified.dropna(subset=['Valeur_fonciere'])

    df_modified['Valeur_fonciere'] = df_modified['Valeur_fonciere'].str.replace(
        ',', '.').astype(float)

    df_modified['Code_postal'] = df_modified.groupby('Commune')['Code_postal'].transform(lambda x: x.fillna(
        method='ffill').fillna(method='bfill'))  # match les code postal vide avec les communes (bien)
    df_modified['Code_postal'] = df_modified['Code_postal'].astype(int)

    
    df_modified['No_voie'] = df_modified['No_voie'].apply(lambda x: str(int(x)) if pd.notnull(
        x) else '').astype(str)  # change le type si non Nan sinon affiche rien
    
    df_modified['Code_type_local'] = df_modified['Code_type_local'].astype(int)

    #  Créer la variable "adresse"
    df_modified['adresse'] = df_modified['No_voie'] + ' ' + df_modified['Type_de_voie'].astype(str) + ' ' + \
        df_modified['Code_voie'].astype(str) + ' ' + df_modified['Voie'].astype(str) + ' ' + \
        df_modified['Code_postal'].astype(str) + ' ' + df_modified['Commune']
    
    # Après la création de l'adresse on remove les variables concatenées et les autres inutiles
    df_modified = df_modified.drop(columns_to_remove, axis=1)
    
    #sauvegarde
    dataframes[i] = df_modified

In [57]:
dataframes[0].head()

,Identifiant_de_document,Reference_document,1_Articles_CGI,2_Articles_CGI,3_Articles_CGI,4_Articles_CGI,5_Articles_CGI,No_disposition,Date_mutation,Nature_mutation,Valeur_fonciere,B/T/Q,Code_postal,Commune,Prefixe_de_section,No_Volume,Surface_Carrez_du_1er_lot,2eme_lot,Surface_Carrez_du_2eme_lot,3eme_lot,Surface_Carrez_du_3eme_lot,4eme_lot,Surface_Carrez_du_4eme_lot,5eme_lot,Surface_Carrez_du_5eme_lot,Nombre_de_lots,Code_type_local,Identifiant_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Nature_culture_speciale,Surface_terrain,adresse
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2018,Vente,109000.00,NaN,1000,BOURG-EN-BRESSE,NaN,NaN,NaN,31.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,NaN,73.00,4.00,NaN,NaN,NaN,13 RUE 1660 GEN LOGEROT 1000 BOURG-EN-BRESSE
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2018,Vente,109000.00,NaN,1000,BOURG-EN-BRESSE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3,NaN,0.00,0.00,NaN,NaN,NaN,13 RUE 1660 GEN LOGEROT 1000 BOURG-EN-BRESSE
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2018,Vente,239300.00,NaN,1250,NIVIGNE ET SURAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,163.00,4.00,S,NaN,949.00,4 RUE 0025 DE LA BARMETTE 1250 NIVIGNE ET SURAN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2018,Vente,239300.00,NaN,1250,NIVIGNE ET SURAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,163.00,4.00,AG,JARD,420.00,4 RUE 0025 DE LA BARMETTE 1250 NIVIGNE ET SURAN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2018,Vente,239300.00,NaN,1250,NIVIGNE ET SURAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,51.00,2.00,AG,JARD,420.00,4 RUE 0025 DE LA BARMETTE 1250 NIVIGNE ET SURAN

In [58]:

for i in range(len(dataframes)):
    # Créer une copie modifiée du DataFrame
    df_modified = dataframes[i].copy()
    
    # Remove duplicates (date_mutation et adresse)
    df_modified = df_modified.drop_duplicates(subset=["Date_mutation", "adresse"])
    # 'adresse' useless maintenant => remove
    df_modified = df_modified.drop("adresse", axis = 1)

    # sauvegarde
    dataframes[i] = df_modified

In [59]:
# sample random 5% of each year
df_18_s = dataframes[0].sample(frac=.99, random_state=42)
df_19_s = dataframes[1].sample(frac=.99, random_state=42)
df_20_s = dataframes[2].sample(frac=.99, random_state=42)
df_21_s = dataframes[3].sample(frac=.99, random_state=42)

In [60]:
# Combine sampled subsets
df = pd.concat([df_18_s, df_19_s, df_20_s, df_21_s], axis=0)

In [61]:
# Remove columns with 75% NA

# Enlever les colonnes à la main ?? pas de pourcent => plus explicite

# % of NA
missing_perc = df.isna().sum() / len(df) * 100
# Define the threshold for dropping columns (75% in this case)
threshold = 75
# Use the dropna method to drop columns with more than 75% missing values
df = df.dropna(axis=1, thresh=len(df) * (1 - threshold / 100))
df.head()

,No_disposition,Date_mutation,Nature_mutation,Valeur_fonciere,Code_postal,Commune,Nombre_de_lots,Code_type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Surface_terrain
69122,1,30/11/2018,Vente,138000.00,3000,AVERMES,0,1,96.00,5.00,S,380.00
52653,1,20/04/2018,Vente,9164415.00,2200,SOISSONS,0,1,36.00,2.00,S,50.00
76752,2,08/02/2018,Vente,4000.00,3390,CHAPPES,0,3,0.00,0.00,NaN,NaN
84620,1,21/11/2018,Vente,119000.00,3500,CESSET,0,1,142.00,6.00,S,565.00
54627,1,29/06/2018,Vente,147000.00,2600,VILLERS-COTTERETS,0,1,73.00,4.00,S,233.00

In [62]:
# Créer la variable "year"
df['Date_mutation'] = pd.to_datetime(df['Date_mutation'], format='%d/%m/%Y')

# Extract the year component and create a new 'year' column
df['year'] = df['Date_mutation'].dt.year
print(df.year.value_counts())

2020    29453
2019    27921
2018    27370
2021    24376
Name: year, dtype: int64

In [63]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109120 entries, 69122 to 91596
Data columns (total 13 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   No_disposition             109120 non-null  int64
 1   Date_mutation              109120 non-null  datetime64[ns]
 2   Nature_mutation            109120 non-null  object
 3   Valeur_fonciere            109120 non-null  float64
 4   Code_postal                109120 non-null  int64
 5   Commune                    109120 non-null  object
 6   Nombre_de_lots             109120 non-null  int64
 7   Code_type_local            109120 non-null  int64
 8   Surface_reelle_bati        108868 non-null  float64
 9   Nombre_pieces_principales  108868 non-null  float64
 10  Nature_culture             75816 non-null   object
 11  Surface_terrain            75816 non-null   float64
 12  year                       109120 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(5), object(3)
memory usage: 11.7+ MB

,No_disposition,Date_mutation,Nature_mutation,Valeur_fonciere,Code_postal,Commune,Nombre_de_lots,Code_type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Surface_terrain,year
69122,1,2018-11-30,Vente,138000.00,3000,AVERMES,0,1,96.00,5.00,S,380.00,2018
52653,1,2018-04-20,Vente,9164415.00,2200,SOISSONS,0,1,36.00,2.00,S,50.00,2018
76752,2,2018-02-08,Vente,4000.00,3390,CHAPPES,0,3,0.00,0.00,NaN,NaN,2018
84620,1,2018-11-21,Vente,119000.00,3500,CESSET,0,1,142.00,6.00,S,565.00,2018
54627,1,2018-06-29,Vente,147000.00,2600,VILLERS-COTTERETS,0,1,73.00,4.00,S,233.00,2018

In [64]:
# Load longitude, latitude, 'Code_postal' dataframe

geo = pd.read_csv(
    '/home/nathan/fac/m2/s1/python/projet_prediction/data/communes-departement-region.csv')

geo.head()

,code_commune_INSEE,nom_commune_postal,code_postal,libelle_acheminement,ligne_5,latitude,longitude,code_commune,article,nom_commune,nom_commune_complet,code_departement,nom_departement,code_region,nom_region
0,1001,L ABERGEMENT CLEMENCIAT,1400,L ABERGEMENT CLEMENCIAT,NaN,46.15,4.93,1.00,L',Abergement-Clémenciat,L'Abergement-Clémenciat,1,Ain,84.00,Auvergne-Rhône-Alpes
1,1002,L ABERGEMENT DE VAREY,1640,L ABERGEMENT DE VAREY,NaN,46.01,5.43,2.00,L',Abergement-de-Varey,L'Abergement-de-Varey,1,Ain,84.00,Auvergne-Rhône-Alpes
2,1004,AMBERIEU EN BUGEY,1500,AMBERIEU EN BUGEY,NaN,45.96,5.37,4.00,NaN,Ambérieu-en-Bugey,Ambérieu-en-Bugey,1,Ain,84.00,Auvergne-Rhône-Alpes
3,1005,AMBERIEUX EN DOMBES,1330,AMBERIEUX EN DOMBES,NaN,46.00,4.91,5.00,NaN,Ambérieux-en-Dombes,Ambérieux-en-Dombes,1,Ain,84.00,Auvergne-Rhône-Alpes
4,1006,AMBLEON,1300,AMBLEON,NaN,45.75,5.59,6.00,NaN,Ambléon,Ambléon,1,Ain,84.00,Auvergne-Rhône-Alpes

In [65]:
print(len(df))

geo.rename(columns={'code_postal': 'Code_postal'}, inplace=True)
geo.rename(columns={'nom_commune_postal': 'Commune'}, inplace=True)
geo.rename(columns={'code_departement': 'Code_departement'}, inplace=True)


doublons = geo[geo.duplicated(subset=['Code_postal', 'Commune'], keep=False)] # voir les doublons
#print(doublons)


geo = geo.drop_duplicates(subset=['Code_postal', 'Commune']) # OK -> supprmime les doublons Code postal => Commune, car quelques fois il y a une 'petite' commune dedans la grande enfin bref

# Changement de format pour le merge
geo['Commune'] = geo['Commune'].str.replace('-', ' ')
df['Commune'] = df['Commune'].str.replace('-', ' ')

geo['Commune'] = geo['Commune'].str.replace('ST', 'SAINT')  # format 'ST' et 'SAINT'
df['Commune'] = df['Commune'].str.replace('ST', 'SAINT')

geo['Commune'] = geo['Commune'].str.replace('\'', ' ')
df['Commune'] = df['Commune'].str.replace('\'', ' ')

# le reste c'est des erreurs dans le fichier, exemple dans geo => LA SALLE DES ALPES, dans les data => "LA SALLE", IMPOSSIBLE À gérer ce genre d'erreur humaine => à enlever


# MERGE
geo_commune = geo[['Commune', 'Code_postal', 'latitude', 'longitude']]

print(geo_commune.head())

df = pd.merge(df, geo_commune, on=[
    'Commune', 'Code_postal'], how='left')  # OK -> merge la commune et le code postal, car desfois la commune est dans différent département 


print("-------")

print(df['longitude'].isna().sum()," nom de commune pas trouvés, on les enlève du dataset")
df = df.dropna(subset=['longitude'])

print("nombre final d'individus : ",len(df))


df.head(20)

109120
                   Commune  Code_postal  latitude  longitude
0  L ABERGEMENT CLEMENCIAT         1400     46.15       4.93
1    L ABERGEMENT DE VAREY         1640     46.01       5.43
2        AMBERIEU EN BUGEY         1500     45.96       5.37
3      AMBERIEUX EN DOMBES         1330     46.00       4.91
4                  AMBLEON         1300     45.75       5.59
-------
2374  nom de commune pas trouvés, on les enlève du dataset
nombre final d'individus :  106746

,No_disposition,Date_mutation,Nature_mutation,Valeur_fonciere,Code_postal,Commune,Nombre_de_lots,Code_type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Surface_terrain,year,latitude,longitude
0,1,2018-11-30,Vente,138000.00,3000,AVERMES,0,1,96.00,5.00,S,380.00,2018,46.60,3.32
1,1,2018-04-20,Vente,9164415.00,2200,SOISSONS,0,1,36.00,2.00,S,50.00,2018,49.38,3.32
2,2,2018-02-08,Vente,4000.00,3390,CHAPPES,0,3,0.00,0.00,NaN,NaN,2018,46.38,2.94
3,1,2018-11-21,Vente,119000.00,3500,CESSET,0,1,142.00,6.00,S,565.00,2018,46.30,3.20
4,1,2018-06-29,Vente,147000.00,2600,VILLERS COTTERETS,0,1,73.00,4.00,S,233.00,2018,49.24,3.10
5,1,2018-09-29,Vente,53000.00,3200,VICHY,2,2,98.00,4.00,NaN,NaN,2018,46.13,3.42
6,1,2018-08-02,Vente,187796.77,1600,TREVOUX,0,1,73.00,3.00,S,207.00,2018,45.94,4.77
7,1,2018-08-22,Vente,35000.00,1560,CORMOZ,0,1,60.00,2.00,S,279.00,2018,46.43,5.22
8,1,2018-02-14,Vente,110000.00,2100,SAINT QUENTIN,0,2,34.00,1.00,S,90.00,2018,49.85,3.28
9,2,2018-06-16,Vente,140000.00,3500,SAINT POURCAIN SUR SIOULE,0,1,73.00,2.00,S,1240.00,2018,46.30,3.31
10,1,2018-05-14,Vente,288400.00,1150,LAGNIEU,0,1,120.00,4.00,S,269.00,2018,45.89,5.33
11,1,2018-09-28,Vente,631000.00,1170,CESSY,0,1,121.00,6.00,S,636.00,2018,46.32,6.08
12,1,2018-12-14,Vente,75000.00,3210,NOYANT D ALLIER,0,1,153.00,6.00,S,362.00,2018,46.48,3.12
13,1,2018-05-24,Vente,72000.00,2120,GUISE,0,1,28.00,2.00,S,30.00,2018,49.90,3.62
14,1,2018-03-01,Vente,218050.00,4000,DIGNE LES BAINS,0,1,96.00,4.00,S,450.00,2018,44.09,6.24
15,1,2018-08-01,Vente,210100.00,1310,POLLIAT,0,1,160.00,4.00,S,784.00,2018,46.25,5.14
16,1,2018-02-13,Vente,45000.00,1250,HAUTECOURT ROMANECHE,0,1,21.00,1.00,AG,584.00,2018,46.16,5.43
17,1,2018-11-28,Vente,225000.00,1170,GEX,1,3,0.00,0.00,NaN,NaN,2018,46.35,6.05
18,1,2018-04-26,Vente,143900.00,2240,ITANCOURT,0,1,89.00,4.00,S,1022.00,2018,49.80,3.35
19,1,2018-04-21,Vente,35000.00,4500,RIEZ,1,4,55.00,0.00,NaN,NaN,2018,43.83,6.08

In [66]:
chemin_vers_projet = '/home/nathan/fac/m2/s1/python/projet_prediction/'

# Définir l'espace de travail (répertoire de travail)
os.chdir(chemin_vers_projet)
df.to_pickle('data/dataframe_avec_coord.pkl')

In [67]:
# TODO : 
# enlever les extrêmes
# imputation de données manquantes => KNN,  arbre !
# puis clustering sur le type de local