In [2]:
import pandas as pd

#df = pd.read_csv('../data/donnees_nettoyees_avec_coord.csv', index_col=0)

df = pd.read_pickle('../data/dataframe_avec_coord.pkl')
df.head()

,No_disposition,Date_mutation,Nature_mutation,Valeur_fonciere,Code_postal,Commune,Nombre_de_lots,Code_type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Surface_terrain,year,latitude,longitude
0,1,2018-11-30,Vente,138000.0,3000,AVERMES,0,1,96.0,5.0,S,380.0,2018,46.598389,3.318633
1,1,2018-04-20,Vente,9164415.0,2200,SOISSONS,0,1,36.0,2.0,S,50.0,2018,49.379174,3.324718
2,2,2018-02-08,Vente,4000.0,3390,CHAPPES,0,3,0.0,0.0,NaN,NaN,2018,46.382896,2.944124
3,1,2018-11-21,Vente,119000.0,3500,CESSET,0,1,142.0,6.0,S,565.0,2018,46.299385,3.199089
4,1,2018-06-29,Vente,147000.0,2600,VILLERS COTTERETS,0,1,73.0,4.0,S,233.0,2018,49.239200,3.096122

In [3]:
import folium
from folium.plugins import HeatMap
from branca.colormap import linear

# Créez votre DataFrame avec les colonnes "latitude", "longitude" et "Valeur fonciere"
# Supposons que votre DataFrame s'appelle df

# Supprimez les lignes avec des valeurs NaN dans les colonnes "latitude", "longitude" et "Valeur fonciere"
df_no_na = df.dropna(subset=['latitude', 'longitude', 'Valeur_fonciere'])

# Créez une liste de listes contenant les coordonnées [latitude, longitude] et la valeur "Valeur fonciere"
heat_data = [[row['latitude'], row['longitude'], row['Valeur_fonciere']]
             for index, row in df_no_na.iterrows()]

# Créez la carte
# Coordonnées du centre de la carte (Paris, France)
my_map = folium.Map(location=[48.8566, 2.3522], zoom_start=12)

# Créez une colormap linéaire basée sur la colonne "Valeur fonciere"
colormap = linear.YlOrRd_09.scale(
    min(df_no_na['Valeur_fonciere']), max(df_no_na['Valeur_fonciere']))

# Ajoutez la carte de chaleur à partir des données
HeatMap(heat_data,
        min_opacity=0.2,
        max_val=max(df_no_na['Valeur_fonciere']),
        radius=15,
        blur=10,
        max_zoom=1,
        gradient={0.4: 'blue', 0.65: 'lime', 1: 'red'}).add_to(my_map)

# Ajoutez une légende basée sur la colormap
colormap.caption = "Valeur fonciere"
colormap.add_to(my_map)

# Enregistrez la carte en tant que fichier HTML
my_map.save('map.html')

/tmp/ipykernel_4661/2600707873.py:24: UserWarning: The `max_val` parameter is no longer necessary. The largest intensity is calculated automatically.
  HeatMap(heat_data,