In [25]:
import pandas as pd

# ! options !
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:.2f}'.format)

In [26]:
## Import Data ##

chemin_fichier_2018 = '../valeursfoncieres-2018.txt'
chemin_fichier_2019 = '../valeursfoncieres-2019.txt'
chemin_fichier_2020 = '../valeursfoncieres-2020.txt'
chemin_fichier_2021 = '../valeursfoncieres-2021.txt'


df_18 = pd.read_csv(chemin_fichier_2018, delimiter='|')
df_19 = pd.read_csv(chemin_fichier_2019, delimiter='|')
df_20 = pd.read_csv(chemin_fichier_2020, delimiter='|')
df_21 = pd.read_csv(chemin_fichier_2021, delimiter='|')

C:\Users\nagrimault\AppData\Local\Temp\ipykernel_1924\445314122.py:9: DtypeWarning: Columns (14,18,23,24,26,28,29,31,32,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df_18 = pd.read_csv(chemin_fichier_2018, delimiter='|')
C:\Users\nagrimault\AppData\Local\Temp\ipykernel_1924\445314122.py:10: DtypeWarning: Columns (18,23,24,26,28,31,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df_19 = pd.read_csv(chemin_fichier_2019, delimiter='|')
C:\Users\nagrimault\AppData\Local\Temp\ipykernel_1924\445314122.py:11: DtypeWarning: Columns (18,23,24,26,28,31,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df_20 = pd.read_csv(chemin_fichier_2020, delimiter='|')
C:\Users\nagrimault\AppData\Local\Temp\ipykernel_1924\445314122.py:12: DtypeWarning: Columns (18,23,24,26,28,29,30,31,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df_21 = pd.read_csv(chemin_fichier_2021, delimiter='|')

In [27]:
# Concat all years in one dataframe (and take some parts if we want)

df_18 = df_18.sample(frac=1, random_state=42)
df_19 = df_19.sample(frac=1, random_state=42)
df_20 = df_20.sample(frac=1, random_state=42)
df_21 = df_21.sample(frac=1, random_state=42)

df = pd.concat([df_18, df_19, df_20, df_21], axis=0)
#df = pd.concat([df_18], axis=0)

In [28]:
# Replace ' ' by '_'

df.columns = df.columns.str.replace(' ', '_')

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15125102 entries, 1883842 to 1692743
Data columns (total 43 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Identifiant_de_document     float64
 1   Reference_document          float64
 2   1_Articles_CGI              float64
 3   2_Articles_CGI              float64
 4   3_Articles_CGI              float64
 5   4_Articles_CGI              float64
 6   5_Articles_CGI              float64
 7   No_disposition              int64
 8   Date_mutation               object
 9   Nature_mutation             object
 10  Valeur_fonciere             object
 11  No_voie                     float64
 12  B/T/Q                       object
 13  Type_de_voie                object
 14  Code_voie                   object
 15  Voie                        object
 16  Code_postal                 float64
 17  Commune                     object
 18  Code_departement            object
 19  Code_commune                int64
 20  Prefixe_de_section          float64
 21  Section                     object
 22  No_plan                     int64
 23  No_Volume                   object
 24  1er_lot                     object
 25  Surface_Carrez_du_1er_lot   object
 26  2eme_lot                    object
 27  Surface_Carrez_du_2eme_lot  object
 28  3eme_lot                    object
 29  Surface_Carrez_du_3eme_lot  object
 30  4eme_lot                    object
 31  Surface_Carrez_du_4eme_lot  object
 32  5eme_lot                    object
 33  Surface_Carrez_du_5eme_lot  object
 34  Nombre_de_lots              int64
 35  Code_type_local             float64
 36  Type_local                  object
 37  Identifiant_local           float64
 38  Surface_reelle_bati         float64
 39  Nombre_pieces_principales   float64
 40  Nature_culture              object
 41  Nature_culture_speciale     object
 42  Surface_terrain             float64
dtypes: float64(15), int64(4), object(24)
memory usage: 5.0+ GB

In [30]:
# Affichez les pourcentages de NaN pour chaque colonne

pourcentages_nan = (df.isna().sum() / len(df)) * 100
print(pourcentages_nan)

Identifiant_de_document      100.00
Reference_document           100.00
1_Articles_CGI               100.00
2_Articles_CGI               100.00
3_Articles_CGI               100.00
4_Articles_CGI               100.00
5_Articles_CGI               100.00
No_disposition                 0.00
Date_mutation                  0.00
Nature_mutation                0.00
Valeur_fonciere                1.10
No_voie                       39.39
B/T/Q                         95.57
Type_de_voie                  41.25
Code_voie                      0.85
Voie                           0.85
Code_postal                    0.85
Commune                        0.00
Code_departement               0.00
Code_commune                   0.00
Prefixe_de_section            95.32
Section                        0.00
No_plan                        0.00
No_Volume                     99.74
1er_lot                       68.84
Surface_Carrez_du_1er_lot     91.48
2eme_lot                      92.63
Surface_Carrez_du_2eme_lot    97.67
3eme_lot                      98.72
Surface_Carrez_du_3eme_lot    99.76
4eme_lot                      99.57
Surface_Carrez_du_4eme_lot    99.94
5eme_lot                      99.80
Surface_Carrez_du_5eme_lot    99.97
Nombre_de_lots                 0.00
Code_type_local               43.26
Type_local                    43.26
Identifiant_local            100.00
Surface_reelle_bati           43.33
Nombre_pieces_principales     43.33
Nature_culture                31.60
Nature_culture_speciale       95.62
Surface_terrain               31.60
dtype: float64

In [31]:
# Remove empty columns and keep only 'Vente' 

columns_to_remove = ["Identifiant_de_document", "Reference_document", "1_Articles_CGI", "2_Articles_CGI", "3_Articles_CGI", "4_Articles_CGI", "5_Articles_CGI",
                     "B/T/Q", "Prefixe_de_section", "No_Volume", "Type_local", "Identifiant_local", "Nature_culture_speciale",
                     "1er_lot", "Surface_Carrez_du_1er_lot", "2eme_lot", "Surface_Carrez_du_2eme_lot", "3eme_lot", "Surface_Carrez_du_3eme_lot", "4eme_lot",
                     "Surface_Carrez_du_4eme_lot", "5eme_lot", "Surface_Carrez_du_5eme_lot"]


df = df.drop(columns_to_remove, axis=1)
df = df[df['Nature_mutation'] == "Vente"] 
df = df.drop(columns=['Nature_mutation'])
    

pourcentages_nan = (df.isna().sum() / len(df)) * 100
print(pourcentages_nan)

No_disposition               0.00
Date_mutation                0.00
Valeur_fonciere              1.11
No_voie                     38.10
Type_de_voie                41.30
Code_voie                    0.04
Voie                         0.04
Code_postal                  0.04
Commune                      0.00
Code_departement             0.00
Code_commune                 0.00
Section                      0.00
No_plan                      0.00
Nombre_de_lots               0.00
Code_type_local             40.88
Surface_reelle_bati         40.95
Nombre_pieces_principales   40.95
Nature_culture              27.16
Surface_terrain             27.16
dtype: float64

In [32]:
# Create variable 'adresse' and remove variables use to build the adress

columns_for_adress = ["No_voie", "Type_de_voie", "Code_voie",
                      "Voie", "Code_commune", "Code_departement"]


df['Code_postal'] = df.groupby('Commune')['Code_postal'].transform(lambda x: x.fillna(method='ffill').fillna(method='bfill'))  # match les code postal vide avec les communes (bien)
    
df['No_voie'] = df['No_voie'].apply(lambda x: str(int(x)) if pd.notnull(
        x) else '').astype(str)  # change le type si non il y a une valeur sinon affiche rien

df['adresse'] = df['No_voie'] + ' ' + df['Type_de_voie'].astype(str) + ' ' + \
df['Code_voie'].astype(str) + ' ' + df['Voie'].astype(str) + ' ' + \
df['Code_postal'].astype(str) + ' ' + df['Commune']
    
    
# Après la création de l'adresse on remove les variables concatenées et les autres inutiles
df = df.drop(columns_for_adress, axis=1)


df.head()

,No_disposition,Date_mutation,Valeur_fonciere,Code_postal,Commune,Section,No_plan,Nombre_de_lots,Code_type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Surface_terrain,adresse
1883842,1,25/05/2018,"7500,00",58000.00,NEVERS,AS,242,0,NaN,NaN,NaN,AB,479.00,11 RUE 5620 DES SABLONS 58000.0 NEVERS
2050544,1,26/07/2018,"60000,00",62149.00,ANNEQUIN,AC,171,0,NaN,NaN,NaN,J,733.00,nan B008 LES COUTURES 62149.0 ANNEQUIN
3256050,1,22/08/2018,"45000,00",97400.00,SAINT DENIS,AH,140,1,2.00,20.00,1.00,NaN,NaN,105 RUE 1180 DE LA REPUBLIQUE 97400.0 SAINT DENIS
2779968,1,13/03/2018,"100000,00",83400.00,HYERES,CN,259,2,2.00,52.00,3.00,NaN,NaN,2 TRA 1961 PIERRE RENAUDEL 83400.0 HYERES
1957212,1,12/03/2018,"102000,00",59310.00,ORCHIES,D,1099,0,1.00,54.00,2.00,S,103.00,50 RUE 0360 JULES ROCH 59310.0 ORCHIES

In [33]:
# Remove duplicates (date_mutation et adresse)

df = df.drop_duplicates(subset=["Date_mutation", "adresse"])

# Variable 'adresse' useless now => remove
df = df.drop("adresse", axis=1)

df.head()

,No_disposition,Date_mutation,Valeur_fonciere,Code_postal,Commune,Section,No_plan,Nombre_de_lots,Code_type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Surface_terrain
1883842,1,25/05/2018,"7500,00",58000.00,NEVERS,AS,242,0,NaN,NaN,NaN,AB,479.00
2050544,1,26/07/2018,"60000,00",62149.00,ANNEQUIN,AC,171,0,NaN,NaN,NaN,J,733.00
3256050,1,22/08/2018,"45000,00",97400.00,SAINT DENIS,AH,140,1,2.00,20.00,1.00,NaN,NaN
2779968,1,13/03/2018,"100000,00",83400.00,HYERES,CN,259,2,2.00,52.00,3.00,NaN,NaN
1957212,1,12/03/2018,"102000,00",59310.00,ORCHIES,D,1099,0,1.00,54.00,2.00,S,103.00

In [34]:
# Affichez le nombre d'individus par modalité de la colonne 'Code_type_local'

comptage_modalites = df['Code_type_local'].value_counts()
print(comptage_modalites)

Code_type_local
1.00    2099462
2.00    1261388
3.00    1044395
4.00     262089
Name: count, dtype: int64

In [35]:
print("before : ", len(df))

#df_modified = df_modified.dropna() # on ne fait plus ça

df['Valeur_fonciere'] = df['Valeur_fonciere'].astype(str).str.replace(',', '.').astype(float)  
    
print("after : ", len(df), "\n")

comptage_modalites = df['Code_type_local'].value_counts()
print(comptage_modalites)

before :  7350618
after :  7350618

Code_type_local
1.00    2099462
2.00    1261388
3.00    1044395
4.00     262089
Name: count, dtype: int64

In [36]:
masque_nan = df.isna()

# Utilisez sum() pour compter le nombre de valeurs manquantes (True) dans chaque colonne
nombre_nan_par_colonne = masque_nan.sum()
print(nombre_nan_par_colonne)

No_disposition                     0
Date_mutation                      0
Valeur_fonciere                43668
Code_postal                      156
Commune                            0
Section                          226
No_plan                            0
Nombre_de_lots                     0
Code_type_local              2683284
Surface_reelle_bati          2689593
Nombre_pieces_principales    2689593
Nature_culture               2213713
Surface_terrain              2213713
dtype: int64

In [37]:
# Remove individus with at least one NaN and outliers

print("before : ", len(df))

# OUTLIERS 
df['Valeur_fonciere'] = df['Valeur_fonciere'].astype(str).str.replace(',', '.').astype(float)

df = df.dropna(subset=['Valeur_fonciere'])
Q1 = df['Valeur_fonciere'].quantile(0.25)
Q3 = df['Valeur_fonciere'].quantile(0.75)
    
#print(Q1)
#print(Q3)

IQR = Q3 - Q1

# Définissez les limites supérieure et inférieure pour détecter les outliers
limite_inferieure = Q1 - 0.3 * IQR
limite_superieure = Q3 + 1.7 * IQR

print(limite_inferieure)
print(limite_superieure,"\n")
    
df = df[(df['Valeur_fonciere'] >= limite_inferieure) & (df['Valeur_fonciere'] <= limite_superieure)]
    
print("after : ", len(df), "\n")

comptage_modalites = df['Code_type_local'].value_counts()
print(comptage_modalites)

before :  7350618
2700.0
545700.0

after :  6521278

Code_type_local
1.00    1981134
2.00    1177096
3.00     975570
4.00     205472
Name: count, dtype: int64

In [38]:
# Créer la variable "day", "month" and "year" 

# NB : Utile si on la mets en 'int' et pas en objet, car le prix de l'immobilier augmente chaque année, donc plus l'année augmente plus le prix aussi
# alors qu'en 'objet' inutile car dans ce sont les data de 2022 qui vont être testés (à revoir quand même)


df['Date_mutation'] = pd.to_datetime(df['Date_mutation'], format='%d/%m/%Y')

# Extract the year component and create a new 'year' column
df['day'] = df['Date_mutation'].dt.day
df['day'] = df['day'].astype(object)

df['month'] = df['Date_mutation'].dt.month
df['month'] = df['month'].astype(object)

df['year'] = df['Date_mutation'].dt.year
df['year'] = df['year'].astype(object)

df = df.drop("Date_mutation", axis=1)
    

df.head()

,No_disposition,Valeur_fonciere,Code_postal,Commune,Section,No_plan,Nombre_de_lots,Code_type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Surface_terrain,day,month,year
1883842,1,7500.00,58000.00,NEVERS,AS,242,0,NaN,NaN,NaN,AB,479.00,25,5,2018
2050544,1,60000.00,62149.00,ANNEQUIN,AC,171,0,NaN,NaN,NaN,J,733.00,26,7,2018
3256050,1,45000.00,97400.00,SAINT DENIS,AH,140,1,2.00,20.00,1.00,NaN,NaN,22,8,2018
2779968,1,100000.00,83400.00,HYERES,CN,259,2,2.00,52.00,3.00,NaN,NaN,13,3,2018
1957212,1,102000.00,59310.00,ORCHIES,D,1099,0,1.00,54.00,2.00,S,103.00,12,3,2018

In [39]:
# Drop 'Code_postal' NaN anc change type

df = df.dropna(subset=['Code_postal'])
df['Code_postal'] = df['Code_postal'].astype(int)
df['Code_postal'] = df['Code_postal'].astype(object)  # puis en objet

print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 6521204 entries, 1883842 to 2234489
Data columns (total 15 columns):
 #   Column                     Dtype
---  ------                     -----
 0   No_disposition             int64
 1   Valeur_fonciere            float64
 2   Code_postal                object
 3   Commune                    object
 4   Section                    object
 5   No_plan                    int64
 6   Nombre_de_lots             int64
 7   Code_type_local            float64
 8   Surface_reelle_bati        float64
 9   Nombre_pieces_principales  float64
 10  Nature_culture             object
 11  Surface_terrain            float64
 12  day                        object
 13  month                      object
 14  year                       object
dtypes: float64(5), int64(3), object(7)
memory usage: 796.0+ MB
None

,No_disposition,Valeur_fonciere,Code_postal,Commune,Section,No_plan,Nombre_de_lots,Code_type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Surface_terrain,day,month,year
1883842,1,7500.00,58000,NEVERS,AS,242,0,NaN,NaN,NaN,AB,479.00,25,5,2018
2050544,1,60000.00,62149,ANNEQUIN,AC,171,0,NaN,NaN,NaN,J,733.00,26,7,2018
3256050,1,45000.00,97400,SAINT DENIS,AH,140,1,2.00,20.00,1.00,NaN,NaN,22,8,2018
2779968,1,100000.00,83400,HYERES,CN,259,2,2.00,52.00,3.00,NaN,NaN,13,3,2018
1957212,1,102000.00,59310,ORCHIES,D,1099,0,1.00,54.00,2.00,S,103.00,12,3,2018

In [40]:
# Load longitude, latitude, 'Code_postal' dataframe

geo = pd.read_csv('../data/communes-departement-region.csv')

geo.head()

,code_commune_INSEE,nom_commune_postal,code_postal,libelle_acheminement,ligne_5,latitude,longitude,code_commune,article,nom_commune,nom_commune_complet,code_departement,nom_departement,code_region,nom_region
0,1001,L ABERGEMENT CLEMENCIAT,1400,L ABERGEMENT CLEMENCIAT,NaN,46.15,4.93,1.00,L',Abergement-Clémenciat,L'Abergement-Clémenciat,1,Ain,84.00,Auvergne-Rhône-Alpes
1,1002,L ABERGEMENT DE VAREY,1640,L ABERGEMENT DE VAREY,NaN,46.01,5.43,2.00,L',Abergement-de-Varey,L'Abergement-de-Varey,1,Ain,84.00,Auvergne-Rhône-Alpes
2,1004,AMBERIEU EN BUGEY,1500,AMBERIEU EN BUGEY,NaN,45.96,5.37,4.00,NaN,Ambérieu-en-Bugey,Ambérieu-en-Bugey,1,Ain,84.00,Auvergne-Rhône-Alpes
3,1005,AMBERIEUX EN DOMBES,1330,AMBERIEUX EN DOMBES,NaN,46.00,4.91,5.00,NaN,Ambérieux-en-Dombes,Ambérieux-en-Dombes,1,Ain,84.00,Auvergne-Rhône-Alpes
4,1006,AMBLEON,1300,AMBLEON,NaN,45.75,5.59,6.00,NaN,Ambléon,Ambléon,1,Ain,84.00,Auvergne-Rhône-Alpes

In [41]:
geo.rename(columns={'code_postal': 'Code_postal'}, inplace=True)
geo.rename(columns={'nom_commune_postal': 'Commune'}, inplace=True)
geo.rename(columns={'code_departement': 'Code_departement'}, inplace=True)

In [42]:
# voir les doublons

doublons = geo[geo.duplicated(subset=['Code_postal', 'Commune'], keep=False)]
# OK -> supprmime les doublons Code postal => Commune, car quelques fois il y a une 'petite' commune dedans la grande enfin bref
geo = geo.drop_duplicates(subset=['Code_postal', 'Commune'])

In [43]:
geo['Commune'] = geo['Commune'].str.replace('-', ' ') 
df['Commune'] = df['Commune'].str.replace('-', ' ')
geo['Commune'] = geo['Commune'].str.replace('ST', 'SAINT')  # format 'ST' et 'SAINT'
df['Commune'] = df['Commune'].str.replace('ST', 'SAINT')
geo['Commune'] = geo['Commune'].str.replace('\'', ' ')
df['Commune'] = df['Commune'].str.replace('\'', ' ')

geo_commune = geo[['Commune', 'Code_postal', 'latitude', 'longitude']]
# geo_commune = geo[['code_commune_INSEE','Commune', 'Code_postal', 'latitude', 'longitude']]

# MERGE
df = pd.merge(df, geo_commune, on=['Commune', 'Code_postal'], how='left')  # OK -> merge la commune et le code postal, car desfois la commune est dans différent département 


# Le reste des communes non trouvé c'est des erreurs dans le fichier geo, exemple => LA SALLE DES ALPES, dans les data => "LA SALLE", IMPOSSIBLE À gérer ce genre d'erreur humaine => à enlever
print(df['longitude'].isna().sum()," individus avec un nom de commune pas trouvé, on les enlève du dataset")

# Drop not found
df = df.dropna(subset=['longitude'])

print("nombre final d'individus : ",len(df))

df.head()

364912  individus avec un nom de commune pas trouvé, on les enlève du dataset
nombre final d'individus :  6156292

,No_disposition,Valeur_fonciere,Code_postal,Commune,Section,No_plan,Nombre_de_lots,Code_type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Surface_terrain,day,month,year,latitude,longitude
0,1,7500.00,58000,NEVERS,AS,242,0,NaN,NaN,NaN,AB,479.00,25,5,2018,46.99,3.16
1,1,60000.00,62149,ANNEQUIN,AC,171,0,NaN,NaN,NaN,J,733.00,26,7,2018,50.50,2.72
2,1,45000.00,97400,SAINT DENIS,AH,140,1,2.00,20.00,1.00,NaN,NaN,22,8,2018,-20.93,55.45
3,1,100000.00,83400,HYERES,CN,259,2,2.00,52.00,3.00,NaN,NaN,13,3,2018,43.10,6.19
4,1,102000.00,59310,ORCHIES,D,1099,0,1.00,54.00,2.00,S,103.00,12,3,2018,50.47,3.24

In [44]:
# Handle 'Corse' Département

def assign_department(code_postal):
    if 20000 <= code_postal <= 20190:
        return '2A' # Pour gérer la corse sud
    elif 20200 <= code_postal <= 20270:
        return '2B' # Pour gérer la corse nord
    elif len(str(code_postal)) == 4:
        dep = '0' + str(code_postal)[:1] # Pour gérer les 10 premiers département
        return dep
    else:
        dep = str(code_postal)[:2]
        return dep 


# Appliquez la fonction à la colonne 'Code_postal' en utilisant apply()
df['Departement'] = df['Code_postal'].apply(lambda x: assign_department(x))
df['Departement'] = df['Departement'].astype(str)

In [45]:
# Rajouter open data


# niveau_vie = pd.read_excel('../data/Niveau_de_vie_2017_par_comune.xlsx')
# niveau_vie.rename(columns={'Code Commune': 'Code_postal'}, inplace=True)
# niveau_vie.rename(columns={'Nom Commune': 'Commune'}, inplace=True)
# niveau_vie.rename(columns={'Niveau de vie Commune': 'niveau_vie_commune'}, inplace=True)
# niveau_vie.rename(columns={'Niveau de vie Département': 'niveau_vie_dep'}, inplace=True)
# niveau_vie['Code_postal'] = niveau_vie['Code_postal'].replace('B','0')
# niveau_vie['Code_postal'] = niveau_vie['Code_postal'].replace('A','1')

# print(niveau_vie['Code_postal'].nunique)
# print(df['Code_postal'].nunique)
# niveau_vie = niveau_vie[['Code_postal', 'niveau_vie_commune']]

# df['Code_postal'] = df['Code_postal'].astype(object)

# print(niveau_vie.head())
# df = pd.merge(df, niveau_vie, on=['Code_postal'], how='left')  # OK -> merge la commune et le code postal, car desfois la commune est dans différent département 
# df.head(20)

In [46]:
# Create a dataframe save with the Nan, before dropping them

# df_with_nan = df.copy()

# # exporter DF
# df_with_nan.to_pickle('../data/df_with_nan.pkl')

In [50]:
# Drop the Nan remainings, for the classification model

clean_df = df.dropna(subset=["Code_type_local"])
clean_df['Code_type_local'] = clean_df['Code_type_local'].astype(int)

# exporter DF
clean_df.to_pickle('../data/clean_df.pkl')

C:\Users\nagrimault\AppData\Local\Temp\ipykernel_1924\1073144054.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['Code_type_local'] = clean_df['Code_type_local'].astype(int)